.div-panel {
    border-style: solid;
    border-width: 1px;
    border-color: #909090;
    margin: 20px;
    display: flex;
}

h4 {
    position: relative;
    top: -2.5em;
    background-color: #efeef0;
    padding-left: 0.5rem;
    padding-right: 0.5em;
}

.div-deal {
    border-style: solid;
    border-width: 1px;
    border-color: #909090;
    padding: 30px;
    margin: 50px auto;
}

.div-target {
    border-style: solid;
    border-width: 1px;
    border-color: #909090;
    margin: 20px;
    padding: 20px;
    margin: 100px auto;
    display: flex;
}

img {
    margin-left: 10px;
}

.img-headimg {
    border-style: solid;
    border-width: 1px;
    border-color: #909090;
    margin: 10px;
    width: 120px;
    height: 120px;
}

.div-head {
    display: flex;
    margin: 10px;
}

.img-target {
    margin: 20px;
    vertical-align: middle;
}

.p-center {
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    font-size: large;
}

p {
    margin: 10px;
}

ol {
    padding-left: 50px;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

strong {
    font-size: larger;
}

.btn-li {
    margin: 50px;
}
