<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="主题" name="title" value="{$Request.param.title}" >
    <div class="select-box" style="width:250px">
        <select name="status" class="select">
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>