{include file="Public/header-resource"}
<style>
    .count-down{
        height: 50px;
        width: 100%;
        background: #de181b;
        line-height: 50px;
        padding: 0 10px;
        color: white;
    }
    .fm-cusive{
        font-family: cursive;
    }
</style>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/plugins/swiper3/css/swiper.css">
<script src="__STATIC__/index/plugins/swiper.js"></script>
<body class="title-top footer-boottom">
{include file="Public/header-shop-title"}
<!--商品图片轮播-->

<!--轮播图-->
<a  name="good-detail-content"></a>
<div class="swiper-container header-banner">
    <ul class="swiper-wrapper" style="min-height: 2rem" >
        {volist name="goods['pic']" id="vo"}
        <li class="swiper-slide">
            <img src="{$vo}" lazy="loaded" id="test">
        </li>
        {/volist}
        <!--<li class="swiper-slide">-->
            <!--<img  src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg" lazy="loaded">-->
        <!--</li>-->
    </ul>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination">

    </div>
</div>
<!--商品-->

{if condition="$goods['show_area'] eq 1" /}  <!---->
<div class="count-down clear">
    <span class="fl f18 blod fm-cusive">疯狂抢购</span>
    <div class="fr blod">
        距开抢：
        <span  id="countDown"  data-end="{$goods['end_date']}" data-start="{$goods['start_date']}">

        </span>
        <img class="fr ml10" height="50px" src="__STATIC__/index/images/shandian.png">
    </div>
</div>
{/if}

<div class="good-detail-content">
    <p class="good-price">{php}
        if($goods['show_area']==2){
            echo $goods['score'].'积分' ;
        }else{
            echo '¥' ;
            echo ($goods['basic_price'])?$goods['basic_price']:$goods['price_real'];
        }{/php}</p>
    <p class="good-title">{$goods['name']??''}</p>

    <ul class="clear good-service">
        <li class="fl">快递¥<?php if($goods['free_type']==1) echo 0;
                                else echo $goods['postage']; ?></li>
        <li class="fl tc">销量{$goods['buy_num']??''}</li>
        <li class="fr tr">{$goods['yieldly']??'贵阳'}</li>
    </ul>

    <p class="mt10 detail-block" onclick="showPop('goodsVoucher')">
        <span class="title">优惠</span>
        <span class="content"><span class="icon-couple"></span>{$lottery?$lottery['id']:'无'}</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">促销</span>
        <span class="content"><span class="icon-point"></span>购买可得{$goods['return_score']??''}积分</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">服务</span>
        <span class="content">{$goods['after_sale']??''}</span>
        <i class="detail_footer-icon"></i>
    </p>
    <!--<p class="detail-block">
        <span class="title">规格</span>
        <span class="content">选择颜色，尺码</span>
        <i class="detail_footer-icon"></i>
    </p>-->
</div>
<!--商品评价-->
<a name="good-evaluate"></a>
<p class="good-evaluate-bar clear bg_white">
    <span class="fl">评价</span>
    <span class="fl">好评97%</span>
    <span class="fr">共2800条</span>
</p>
<ul class="good-evaluate-all clear pt10">
    <li id="evaluate_all"   class=""><a href="{:url('goods/goodsComment',['goods_id'=>$goods['id'],'param'=>'all'])}">所有</a></li>
    <li id="evaluate_good"   class=""><a href="{:url('goods/goodsComment',['goods_id'=>$goods['id'],'param'=>'good'])}">好评{$good}</a></li>
    <li id="evaluate_middle" class=""><a href="{:url('goods/goodsComment',['goods_id'=>$goods['id'],'param'=>'middle'])}">中评{$mid}</a></li>
    <li id="evaluate_bad"     class=""><a href="{:url('goods/goodsComment',['goods_id'=>$goods['id'],'param'=>'bad'])}">差评{$bad}</a></li>
</ul>
{include file="Public/evaluate-module"}
<div class="tc bg_white show-all-evaluate">
    <a class="layui-btn layui-btn-primary layui-btn-radius layui-btn-xs" href="{:url('goods/goodsComment',['goods_id'=>$goods['id'],'param'=>'all'])}" >查看全部评价</a>
</div>
<!--商品推荐-->
<a name="guess-your-love"></a>
<div class="module-hot-goods guess-your-love mt5">
    <div class="tc item-title"><img style="width:1.6rem" src="__STATIC__/index/images/guessLove.png"></div>
    <div class="swiper-container love-goods-banner">
        <div class="swiper-wrapper" >
            {volist name="guestGoods" id="vo"}
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    {volist name="vo" id="vol"}
                    <li style="padding: 2px">
                        <a class="clear" href="{:url('goods/detail',array('id'=>$vol['id']))}">
                            <img class="good-img" src="{$vol.main_image}">
                            <p class="good-desc ellipsis-oneline lh20">{$vol.name} </p>
                            <div class="pl5">
                                <p class="fl">已售{$vol.buy_num}</p>
                                <p class="fr">
                                    <span class="goods-price">¥{$vol.price?$vol.price:$vol.basic_price}</span>
                                      <!--<span class="goods-old-price">¥45.00</span>-->
                                </p>
                            </div>
                        </a>
                    </li>
                    {/volist}

                </ul>
            </div>
            {/volist}
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<!--商品详情-->
<a name="good-detail"></a>
<div class="good-detail mt5">
    <ul class="good-detail-bar tab-nav">
        <li class="tab-nav-swiper active">商品介绍</li>
        <li class="tab-nav-swiper">规格参数</li>
        <li class="tab-nav-swiper">售后保障</li>
    </ul>
    <div class="good-detail-module">
        <div class="tab-content">
            <div class="tab-content-item" id="goodDetail" style="position: relative;"></div>
            <div class="tab-content-item"  >
                <table class="param_table w100p"  >
                {foreach name="$goods['routine']" item="vo" key="k"}
                        <tr>
                            <td class="w30p">{$k}：</td>
                            <td>{$vo}</td>
                        </tr>
                {/foreach}
                </table>
            </div>
            <div class="tab-content-item">{$goods['after_sale']??''}</div>
        </div>
    </div>
</div>
<div class="detail_popup" id="popupBuyArea">
    <div class="main" id="popupMain" data-showarea="{$goods['show_area']}">
        <div class="header">
            <img alt="商品图" class="avt" id="popupImg"  src="{$goods['main_image']}" />
            <p class="price"><em id="goodPrice"></em></p>
            <p class="prop" id="goodChoseSku"><!--<span>已选</span> cs10藏青+浅蓝,XL,1个--></p>
            <p class="price f12 grey " id="sulfStore"></p>
            <i class="close" id="popupClose"></i>
        </div>
        <div class="body">
            <div id="popupSkuArea" style="min-height: 1rem" >
                {foreach name="$arr" item="vo" key="k"}
                {php} $skuName= explode('_',$k); {/php}
                <div class="sku_kind" data-id="{$skuName[0]}" value="{$skuName[1]}" >{$skuName[1]}</div>
                <div class="sku_choose clear" id="skuPop{$skuName[0]}">
                    {foreach name="$vo" item="vo3" key="k1"}
                    {php} $skuVal= explode('_',$vo3); {/php}
                     <span class="item" data-realid = "{$k1}" onclick="choseSku(this)" data-pName="{$skuName[0]}_{$skuName[1]}:{$skuVal[0]}" data-id="{$skuVal[0]}" data-pValue="{$skuVal[1]}">{$skuVal[1]}</span>
                    {/foreach}
                </div>
                {/foreach}
            </div>
            <div class="purchase-count clear">
                <p class="fl h30 lh30">数量</p>
                <div class="layui-btn-group fr count-wrap ">
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 minus">-</button>
                    <div class="layui-btn layui-btn-primary layui-btn-sm">
                        <input class="sumInput" type="text" data-store ="1" value="1" id="buyNum"  onkeyup="buyNumShow();">
                    </div>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 add">+</button>
                </div>
            </div>
        </div>
        <div class="btns show">
            <div class="btn blue" ptag="7001.1.235" tag="1" id="popupConfirm">
                确认
            </div>
        </div>
    </div>
</div>

<div class="detail_popup show" id="goodsVoucher" style="display:none ">
    <div class="cover-bg"  onclick="closePop('goodsVoucher')"></div>
    <div class=" main-voucher" >
        <div class="header h60 lh60">
            <i class="close" onclick="closePop('goodsVoucher')"></i>
            <p class="f16 bold blackRed">优惠券领取</p>
        </div>
        <div class="body mb70">
            <div class="tax-box">
            <div class="clear">
                <div class="fl w70p" style="">
                    <p class="tc f16 mt5">天猫购物券</p>
                    <p class="tc mt5">100%刮中奖 最高50元</p>
                    <p class="tc mt5">有效期：7天</p>
                </div>
                <div class="tax-split fl" >
                    <div class="line" style="border-color:#FFFFFF;opacity: 1;"></div>
                </div>
                <div class="fl" style="width: 28%" >
                    <div class="f14 tc mt30">立即领取</div>
                </div>
            </div>
        </div>
            <div class="tax-box">
                <div class="clear">
                    <div class="fl w70p" style="">
                        <p class="tc f16 mt5">天猫购物券</p>
                        <p class="tc mt5">100%刮中奖 最高50元</p>
                        <p class="tc mt5">有效期：7天</p>
                    </div>
                    <div class="tax-split fl" >
                        <div class="line" style="border-color:#FFFFFF;opacity: 1;"></div>
                    </div>
                    <div class="fl" style="width: 28%" >
                        <div class="f14 tc mt30">立即领取</div>
                    </div>
                </div>
            </div>
            <div class="tax-box">
                <div class="clear">
                    <div class="fl w70p" style="">
                        <p class="tc f16 mt5">天猫购物券</p>
                        <p class="tc mt5">100%刮中奖 最高50元</p>
                        <p class="tc mt5">有效期：7天</p>
                    </div>
                    <div class="tax-split fl" >
                        <div class="line" style="border-color:#FFFFFF;opacity: 1;"></div>
                    </div>
                    <div class="fl" style="width: 28%" >
                        <div class="f14 tc mt30">立即领取</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns show">
            <div class="btn blue" onclick="closePop('goodsVoucher')">
                关闭
            </div>
        </div>
    </div>
</div>
{include file="Public/footer-shop"}
{include file="Public/footer-quick-nav"}
<script>
    /**
     *
     &lt;p&gt;&lt;img src=&quot;/ueditor/php/upload/image/20180720/1532056321369074.jpg&quot; title=&quot;1532056321369074.jpg&quot;/&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;/ueditor/php/upload/image/20180720/1532056321102126.jpg&quot; title=&quot;1532056321102126.jpg&quot;/&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;/ueditor/php/upload/image/20180720/1532056321126105.jpg&quot; title=&quot;1532056321126105.jpg&quot;/&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;/ueditor/php/upload/image/20180720/1532056321294887.jpg&quot; title=&quot;1532056321294887.jpg&quot;/&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;/ueditor/php/upload/image/20180720/1532056321335156.jpg&quot; title=&quot;1532056321335156.jpg&quot;/&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;/ueditor/php/upload/image/20180720/1532056321400333.jpg&quot; title=&quot;1532056321400333.jpg&quot;/&gt;&lt;/p&gt;&lt;p&gt;234567&lt;br/&gt;&lt;/p&gt;

     */
    if($('#countDown').size()>0){
        var start = $("#countDown").data('start'),end=$("#countDown").data('end');
        countDown(start,end);
        var activeStatus=activeStatus(start,end);
        switch(activeStatus)
        {
            case 0:
                $('.buyPage').html('抢购即将开始')
                break;
            case 1:
                $('.buyPage').attr('id','buyPage').removeClass('collectTip');
                $('.carPage').attr('id','carPage').removeClass('collectTip');
                $('.buyPage').html('立即抢购')
                break;
            case 2:
                $('.buyPage').html('已结束')
                break;
        }
        $('.collectTip').click(function () {
            layer_msg('不在活动期间内，加入收藏关注吧，亲！')
        })
    }
    //showarea  展示区域1-限时抢购2-积分商城3-日常售卖4-热销产品
    var show_area = $('#popupMain').attr('data-showarea');
    var detailTag = "{$goods['detail']??''}";
    detailTag = detailTag.replace(/&lt;/g,"<");
    detailTag = detailTag.replace(/&gt;/g,">");
    detailTag = detailTag.replace(/&quot;/g,"'");
    var url = {
        getSku:"{:url('index/goods/getSku')}",
        addCar:"{:url('index/car/addCar')}",
        affirmOrderApi:"{:url('index/order/affirmOrderApi')}",//传递订单相关数据
        affirmOrder:"{:url('index/order/affirmOrder')}",//确定订单页面
        collect_update:"{:url('index/customer/collect_update')}",//修改收藏状态
        collect_detail:"{:url('index/customer/collect_detail')}",//收藏详情
        evaluate_list:"{:url('index/goods/goodsComment')}",
    }
    var skuZhuhe={};
    // skuId goodId num  valId
    var saveData = {
        goodsId:"{$goods['id']}",
        price:"{$goods['basic_price']}",
        num :'',
        skuId:'',
        val:'',
    }
    $('#goodDetail').append(detailTag);
    $(function () {
        navTab();
        eventDeal( );//页面点击事件处理
        new countCalculate(buyNumShow);//数字计算
        getSku("{$goods['id']}");
        var swiper1 = bannerSwiper('header-banner');//顶部banner
        var swiper2 = bannerSwiper('love-goods-banner');//猜你喜欢 滚动
        getEvaluate("{$goods['id']}");
    })
    //获取商品评论
    function getEvaluate(){
        $.ajax({
            url:url.evaluate_list,
            type:'post',
            data:{size:2,id:"{$goods['id']}",start:4,end:5},
            dataType:'json',
            success: function(data){
                if(data.code==200){
                    $("#evaluateList").empty().append(dealData(data.data)) ;
                }

            }
        })
    }

    //获取sku组合值
    function getSku(id) {
        $.ajax({
            url:url.getSku,
            type:'post',
            data:{id:id},
            dataType:'json',
            success: function(data){
                var code = data.code,result = data.data;
                console.log(data)
                skuZhuhe= result;
                choseFirst()//获取到组合sku后选中第一个
            }
        })
    }
    //选择sku属性值
    function  choseSku(_this) {
        var $this = $(_this);
        var zhuheId = '';
        var zhuheVal = ''
        $this.parents('.sku_choose').find('span').removeClass('active');
        $this.addClass('active');
        //循环获取id组合
        $('.sku_choose').each(function (index,ele) {
            var span = $(ele).find('span');
            span.each(function (i,span) {
                if($(span).hasClass('active')){
                    zhuheId += $(span).data('id')+"_";
                    zhuheVal+= $(span).data('pvalue')+"+";
                }

            })
        })
        zhuheId = zhuheId.substr(0,zhuheId.length-1);
        zhuheVal = zhuheVal.substr(0,zhuheVal.length-1);
        console.log(zhuheId);
       // debugger;
        if (skuZhuhe != null) {
            skuZhuhe.forEach(function (item) {
                var id='';
                if(!(item.attribute_name)){
                    //没事sku规格时
                    saveData.skuId = item.id;
                    saveData.val = '';
                    return;
                }
                var namearr=(item.attribute_name).split(',');
                for(var i=0; i<namearr.length; i++){
                    id += (namearr[i].split(':')[1]).split('_')[0]+'_';
                }
                id = id.substr(0,id.length-1);
               // debugger;
                //console.log(item);
                //匹配id修改页面显示变量
                if(zhuheId ==id){
                    //showarea  展示区域1-限时抢购2-积分商城3-日常售卖4-热销产品  id="popupMain" data-showarea="{$goods['show_area']}"
                    var showPrice = '';
                    switch(show_area){
                        case '2':
                            showPrice = item.point_score+'<i class="f12">积分</i>';
                            break;
                        default:
                            showPrice = '&yen;'+item.price;
                            break;
                    }
                    $('#goodPrice').empty().append(showPrice);
                    $('#goodChoseSku').empty().append('<span>已选</span> '+zhuheVal+'<i class="ml10" id="showBuyNum"></i>个');
                    $('#sulfStore').html('剩余数量:'+item.store);
                    $('#buyNum').attr('data-store',item.store);//item.pointPrice  item.id
                    saveData.skuId = item.id;
                    saveData.val = zhuheVal;
                    buyNumShow();
                }
            });
        }

    }
    //显示购买数量 根据
    function buyNumShow(){
        var buyNum = $('#buyNum').val();
        saveData.num = buyNum;
        $('#showBuyNum').empty().append(buyNum);
    }
    //默认选中第一规格
    function choseFirst() {
        $('.sku_choose').each(function (index,ele) {
            var span = $(ele).find('span');
            if(span.size()>0){
                var firstSpan = span[0];
                firstSpan.click();
            }
        })
    }
    function saveGoods() {
        if(!validBuyNum()) return false;
        var type = $('#popupMain').attr('popupType')
        saveData.num = $('#buyNum').val();
        if(type =='car'){
            $.ajax({
                url:url.addCar,//加入购物车
                type:'post',
                data:saveData,
                dataType:'json',
                success: function(data){
                    layer_msg(data.msg);
                }
            })
        }else if(type =='buy'){
            var tempData = new Array();
            tempData.push(saveData)
            pub_save({
                url:url.affirmOrderApi,
                return_url:url.affirmOrder,
                data:{arr:JSON.stringify(tempData)},
            })
        }
        return true;
    }
    function showPop(id) {
        var $dom = $('#'+id);
        this.mainViewScroll = $(window).scrollTop();
        $dom.show();
        setTimeout(function() {
            $dom.addClass('show');
            $('body').addClass('overflowHide');
            //obj.popupshow = true;
        }, 50);
    }
    function closePop(id) {
        var $dom = $('#'+id);
        $('body').removeClass('overflowHide');
        $dom.removeClass('show');
        window.scrollTo(0, this.mainViewScroll);
        setTimeout(function() {
            $dom.hide();
        }, 50);
    }
</script>
</body>
</html>