{include file="Public/header-resource"}


<body class="title-top footer-boottom">
{include file="Public/header-shop-title"}
<!--商品图片轮播-->

<!--轮播图-->
<div class="swiper-container header-banner">
    <ul class="swiper-wrapper" >
        {volist name="goods['pic']" id="vo"}
        <li class="swiper-slide">
            <img src="{$vo}" lazy="loaded" id="test">
        </li>
        {/volist}
        <!--<li class="swiper-slide">-->
            <!--<img  src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg" lazy="loaded">-->
        <!--</li>-->
    </ul>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
<!--商品-->
<a  name="good-detail-content"></a>
<div class="good-detail-content">
    <p class="good-price">¥{$goods['basic_price']??''}</p>
    <p class="good-title">{$goods['name']??''}</p>
    <ul class="clear good-service">
        <li class="fl">快递¥<?php if($goods['free_type']==1) echo 0;
                                else echo $goods['postage']; ?></li>
        <li class="fl tc">销量{$goods['buy_num']??''}</li>
        <li class="fr tr">{$goods['yieldly']??'贵州贵阳'}</li>
    </ul>
    <p class="mt10 detail-block">
        <span class="title">领券</span>
        <span class="content"><span class="icon-couple"></span>{$lottery?$lottery['id']:'无'}</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">促销</span>
        <span class="content"><span class="icon-point"></span>购买可得{$goods['return_score']??''}积分</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">服务</span>
        <span class="content">{$goods['after_sale']??''}</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">规格</span>
        <span class="content">选择颜色，尺码</span>
        <i class="detail_footer-icon"></i>
    </p>
</div>
<!--商品评价-->
<a name="good-evaluate"></a>
{include file="Public/evaluate-module"}
<div class="tc bg_white show-all-evaluate">
    <a class="layui-btn layui-btn-primary layui-btn-radius" href="{:\\think\\Url::build(\'evaluatelist\')}" >查看全部评价</a>
</div>
<!--商品推荐-->
<a name="guess-your-love"></a>
<div class="module-hot-goods guess-your-love">
    <p class="title mt10">猜你喜欢</p>
    <div class="swiper-container love-goods-banner">
        <div class="swiper-wrapper" >
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                              <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<!--商品详情-->
<a name="good-detail"></a>
<div class="good-detail mt5">
    <ul class="good-detail-bar tab-nav">
        <li class="tab-nav-item active">商品介绍</li>
        <li class="tab-nav-item">规格参数</li>
        <li class="tab-nav-item">售后保障</li>
    </ul>
    <div class="good-detail-module">
        <div class="tab-content">
            <div class="tab-content-item">{$goods['detail']??''}</div>
            <div class="tab-content-item">

            </div>
            <div class="tab-content-item">{$goods['after_sale']??''}</div>
        </div>
    </div>
</div>

<div class="detail_popup" id="popupBuyArea">
    <div class="main" id="popupMain">
        <div class="header">
            <img alt="商品图" class="avt" id="popupImg" ptag="7001.1.239" src="//m.360buyimg.com/mobilecms/s750x750_jfs/t21361/160/67083062/266022/16b48e62/5af94dd0Na2afc153.png!q80.webp" />
            <p class="price">&yen;<em>99</em>.00</p>
            <p class="prop"><span>已选</span> cs10藏青+浅蓝,XL,1个</p>
            <i class="close" id="popupClose"></i>
        </div>
        <div class="body">
            <div id="popupSkuArea" >
                <div class="sku_kind">颜色</div>
                <div class="sku_choose clear" id="skuPop1">
                    <span class="item" no="1" dis="0">cs10白色+藏青</span>
                    <span class="item" no="1" dis="0">cs10白色+粉红</span>
                    <span class="item" no="1" dis="0">cs10白色+黑色</span>
                    <span class="item" no="1" dis="0">cs10白色+天蓝</span>
                    <span class="item" no="1" dis="0">cs10藏青+黑色</span>
                    <span class="item" no="1" dis="0">CS55白色+藏青</span>
                </div>
            </div>
            <div class="purchase-count clear">
                <p class="fl">数量</p>
                <div class="layui-btn-group fr count-wrap">
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 minus">-</button>
                    <div class="layui-btn layui-btn-primary layui-btn-sm">
                        <input class="sumInput" type="text" value="1">
                    </div>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 add">+</button>
                </div>
            </div>
        </div>
        <div class="btns show">
            <div class="btn blue" ptag="7001.1.235" tag="1" id="popupConfirm">
                确认
            </div>
        </div>
    </div>
</div>
{include file="Public/footer-shop"}
{include file="Public/footer-quick-nav"}
<script>

    $(function () {
        navTab();
        eventDeal();//页面点击事件处理
        new countCalculate()//数字计算
    })
    var swiper1 = bannerSwiper('header-banner');//顶部banner
    var swiper2 = bannerSwiper('love-goods-banner');//猜你喜欢 滚动
    $.ajax({
        url:"{:url('index/index/return_evaluate_json')}",
        type:'post',
        data:{size:2}|| {},
        dataType:'json',
        success: function(data){
           $("#evaluateList").empty().append(dealData(data.lists)) ;
        }
    })

</script>
</body>
</html>