{include file="Public/header-resource"}


<body class="title-top footer-boottom">
{include file="Public/header-shop-title"}
<!--商品图片轮播-->

<!--轮播图-->
<div class="swiper-container header-banner">
    <ul class="swiper-wrapper" style="min-height: 2rem" >
        {volist name="goods['pic']" id="vo"}
        <li class="swiper-slide">
            <img src="{$vo}" lazy="loaded" id="test">
        </li>
        {/volist}
        <!--<li class="swiper-slide">-->
            <!--<img  src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg" lazy="loaded">-->
        <!--</li>-->
    </ul>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
<!--商品-->
<a  name="good-detail-content"></a>
<div class="good-detail-content">
    <p class="good-price">¥{$goods['basic_price']??''}</p>
    <p class="good-title">{$goods['name']??''}</p>
    <ul class="clear good-service">
        <li class="fl">快递¥<?php if($goods['free_type']==1) echo 0;
                                else echo $goods['postage']; ?></li>
        <li class="fl tc">销量{$goods['buy_num']??''}</li>
        <li class="fr tr">{$goods['yieldly']??'贵州贵阳'}</li>
    </ul>
    <p class="mt10 detail-block">
        <span class="title">领券</span>
        <span class="content"><span class="icon-couple"></span>{$lottery?$lottery['id']:'无'}</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">促销</span>
        <span class="content"><span class="icon-point"></span>购买可得{$goods['return_score']??''}积分</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">服务</span>
        <span class="content">{$goods['after_sale']??''}</span>
        <i class="detail_footer-icon"></i>
    </p>
    <!--<p class="detail-block">
        <span class="title">规格</span>
        <span class="content">选择颜色，尺码</span>
        <i class="detail_footer-icon"></i>
    </p>-->
</div>
<!--商品评价-->
<a name="good-evaluate"></a>
{include file="Public/evaluate-module"}
<div class="tc bg_white show-all-evaluate">
    <a class="layui-btn layui-btn-primary layui-btn-radius" href="{:\\think\\Url::build(\'evaluatelist\')}" >查看全部评价</a>
</div>
<!--商品推荐-->
<a name="guess-your-love"></a>
<div class="module-hot-goods guess-your-love">
    <p class="title mt10">猜你喜欢</p>
    <div class="swiper-container love-goods-banner">
        <div class="swiper-wrapper" >
            {volist name="guestGoods" id="vo"}
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    {volist name="vo" id="vol"}
                    <li>
                        <a class="clear" href="{:url('goods/detail',array('id'=>$vol['id']))}">
                            <img class="good-img" src="{$vol.main_image}">
                            <p class="good-desc">{$vol.name} </p>
                            <div class="mt5">
                                <p class="fl">已售{$vol.buy_num}</p>
                                <p class="fr">
                                    <span class="goods-price">¥{$vol.basic_price}</span>
                                    <!--  <span class="goods-old-price">¥45.00</span>-->
                                </p>
                            </div>
                        </a>
                    </li>
                    {/volist}

                </ul>
            </div>
            {/volist}
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<!--商品详情-->
<a name="good-detail"></a>
<div class="good-detail mt5">
    <ul class="good-detail-bar tab-nav">
        <li class="tab-nav-item active">商品介绍</li>
        <li class="tab-nav-item">规格参数</li>
        <li class="tab-nav-item">售后保障</li>
    </ul>
    <div class="good-detail-module">
        <div class="tab-content">
            <div class="tab-content-item" id="goodDetail"></div>
            <div class="tab-content-item">
                {foreach name="$goods['routine']" item="vo" key="k"}
                    <table class="table">
                        <tr>
                            <td>{$k}：</td>
                            <td>{$vo}</td>
                        </tr>
                    </table>
                {/foreach}
            </div>
            <div class="tab-content-item">{$goods['after_sale']??''}</div>
        </div>
    </div>
</div>

<div class="detail_popup" id="popupBuyArea">
    <div class="main" id="popupMain">
        <div class="header">
            <img alt="商品图" class="avt" id="popupImg"  src="{$goods['main_image']}" />
            <p class="price">&yen;<em id="goodPrice">{$goods['basic_price']}</em></p>
            <p class="prop" id="goodChoseSku"><!--<span>已选</span> cs10藏青+浅蓝,XL,1个--></p>
            <i class="close" id="popupClose"></i>
        </div>
        <div class="body">
            <div id="popupSkuArea" style="min-height: 1rem" >
                {foreach name="$arr" item="vo" key="k"}
                {php} $skuName= explode('_',$k); {/php}
                <div class="sku_kind" data-id="{$skuName[0]}" value="{$skuName[1]}" >{$skuName[1]}</div>
                <div class="sku_choose clear" id="skuPop{$skuName[0]}">
                    {foreach name="$vo" item="vo3" key="k1"}
                    {php} $skuVal= explode('_',$vo3); {/php}
                     <span class="item" data-realid = "{$k1}" onclick="choseSku(this)" data-pName="{$skuName[0]}_{$skuName[1]}:{$skuVal[0]}" data-id="{$skuVal[0]}" data-pValue="{$skuVal[1]}">{$skuVal[1]}</span>
                    {/foreach}
                </div>
                {/foreach}
            </div>
            <div class="purchase-count clear">
                <p class="fl h30 lh30">数量</p>
                <div class="layui-btn-group fr count-wrap ">
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 minus">-</button>
                    <div class="layui-btn layui-btn-primary layui-btn-sm">
                        <input class="sumInput" type="text" value="1" id="buyNum" onkeyup="buyNumShow();">
                    </div>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 add">+</button>
                </div>
            </div>
        </div>
        <div class="btns show">
            <div class="btn blue" ptag="7001.1.235" tag="1" id="popupConfirm">
                确认
            </div>
        </div>
    </div>
</div>
{include file="Public/footer-shop"}
{include file="Public/footer-quick-nav"}
<script>
    var detailTag = "{$goods['detail']??''}";
    detailTag = detailTag.replace(/&lt;/g,"<");
    detailTag = detailTag.replace(/&gt;/g,">");
    var url = {
        getSku:"{:url('index/goods/getSku')}",
    }
    var skuZhuhe={};
    // skuId goodId num  valId
    var saveData = {
        goodsId:'',
        num :'',
        skuId:'',
    }
    $('#goodDetail').append(detailTag)
    $(function () {
        navTab();
        eventDeal( );//页面点击事件处理
        new countCalculate(buyNumShow)//数字计算
        getSku("{$goods['id']}");
        var swiper1 = bannerSwiper('header-banner');//顶部banner
        var swiper2 = bannerSwiper('love-goods-banner');//猜你喜欢 滚动
        getEvaluate("{$goods['id']}");
    })
    //获取商品评论
    function getEvaluate(){
        $.ajax({
            url:"{:url('index/index/return_evaluate_json')}",
            type:'post',
            data:{size:2}|| {},
            dataType:'json',
            success: function(data){
                $("#evaluateList").empty().append(dealData(data.lists)) ;
            }
        })
    }

    //获取sku组合值
    function getSku(id) {
        $.ajax({
            url:url.getSku,
            type:'post',
            data:{id:id},
            dataType:'json',
            success: function(data){
                var code = data.code,result = data.data;
                skuZhuhe= result;
                choseFirst()//获取到组合sku后选中第一个
            }
        })
    }
    //选择sku属性值
    function  choseSku(_this) {
        var $this = $(_this);
        var zhuheId = '';
        var zhuheVal = ''
        $this.parents('.sku_choose').find('span').removeClass('active');
        $this.addClass('active');
        //循环获取id组合
        $('.sku_choose').each(function (index,ele) {
            var span = $(ele).find('span');
            span.each(function (i,span) {
                if($(span).hasClass('active')){
                    zhuheId += $(span).data('id')+"_";
                    zhuheVal+= $(span).data('pvalue')+"+";
                }

            })
        })
        zhuheId = zhuheId.substr(0,zhuheId.length-1);
        zhuheVal = zhuheVal.substr(0,zhuheId.length-1);
        console.log(zhuheId);
       // debugger;
        if (skuZhuhe != null) {
            skuZhuhe.forEach(function (item) {
                var id='';
                var namearr=(item.attribute_name).split(',');
                for(var i=0; i<namearr.length; i++){
                    id += (namearr[i].split(':')[1]).split('_')[0]+'_';
                }
                id = id.substr(0,id.length-1);
               // debugger;
                //console.log(item);
                if(zhuheId ==id){
                    debugger
                    console.log("idtest:"+item.id);
                    $('#goodPrice').empty().append(item.price);
                    $('#goodChoseSku').empty().append('<span>已选</span> '+zhuheVal+'<i id="showBuyNum"></i>个');
                    $('#buyNum').data('store',item.store);//item.pointPrice  item.id
                    buyNumShow();
                }
            });
        }

    }
    function buyNumShow(){
        var buyNum = $('#buyNum').val();
        $('#showBuyNum').empty().append();
    }
    //默认选中第一规格
    function choseFirst() {
        $('.sku_choose').each(function (index,ele) {
            var span = $(ele).find('span');
            if(span.size()>0){
                var firstSpan = span[0];
                firstSpan.click();
            }
        })
    }
</script>
</body>
</html>