{include file="Public/header-resource"}
<link rel="stylesheet" type="text/css" href="__STATIC__/index//plugins/swiper3/css/swiper.css">
<script src="__STATIC__/index//plugins/swiper.js"></script>
<body class="title-top footer-boottom">

{include file="Public/header-title"}
<p class="good-evaluate-bar clear bg_white">
    <span class="fl">评价</span>
    <span class="fl">好评97%</span>
    <span class="fr">共2800条</span>
</p>
<ul class="good-evaluate-all clear pt10">
    <li id="evaluate_all"    class=""><a href="">所有</a></li>
    <li id="evaluate_good"   class=""><a href="">好评2700+</a></li>
    <li id="evaluate_middle" class=""><a href="">中评2700+</a></li>
    <li id="evaluate_bad"    class=""><a href="">差评2700+</a></li>
    <li id="evaluate_pic"    class=""><a href="">有图3200+</a></li>
</ul>
{include file="Public/evaluate-module"}
{include file="Public/footer-quick-nav"}
<script>
    $(function () {
        loadEvaluateData();
    })
    function loadEvaluateData(){
        initData('evaluateList');
        pageload({
            targetWarp:'dataListWrap',
            target:'evaluateList',
            page:1,
            size:4,
            ajaxData:{
                url:"{:url('index/index/return_json')}",
                data:{},
            },
            dealFun:dealData
        });
    }
</script>
</body>
</html>