{include file="Public/header-resource"}
<body class="title-top footer-boottom">
<!--商品分类-->
{include file="Public/header-search"}
<style>
    .search-history{
        padding: 10px 6px;
        background: white;
    }
    .search-history ul li{
        padding: 4px;
        background: #dedede;
        float: left;
        margin-right: .08rem;
        border-radius: 4px;
        color: black;
        margin-bottom: 4px;
    }
    .search-land{
        position: absolute;
        top: 46px;
        bottom: 0px;
        width: 100%;
        z-index: 21;
        width: 100%;
        background: white;
    }
    .search-land li{
        padding-left: 10px;
        line-height: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
</style>
<div class="search-history mb5">
    <p class="lh30 h30 clear">最近搜索<span class="fr" onclick="clearHistory()"><i class="layui-icon opt-btn dele" style="font-size: 22px; font-weight: bold"></i></span></p>
    <ul class="clear" id="searchHistory">
        {volist name="searchHistory" id="vo" empty=""}
        <li class="fl" onclick=" getGoods({goodsName:'{$vo.search}'})"><span>{$vo.search}</span></li>
        {/volist}
    </ul>
</div>
<!--<ul class="search-land">
    <li>衣服蓝 衣服女</li>
    <li>衣服蓝 衣服女</li>
    <li>衣服蓝 衣服女</li>
    <li>衣服蓝 衣服女</li>
</ul>-->
<div class="module-hot-goods">
    <div id="dataListWrap">
        <ul class="goods-list list clear  grid pb40" id="goodsList">
            <!--	<li>
                    <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                     <p class="good-desc ellipsis">Lay’s/乐事薯片清爽酸奶零食 </p>
                    <div>
                        <p class="fl">已售3</p>
                        <p class="fr">
                            <span class="goods-price">¥45.00</span>
                            <span class="goods-old-price">¥45.00</span>
                        </p>
                    </div>
                </li>-->
        </ul>
    </div>
</div>

{include file="Public/footer"}
<script>
    getGoods({goodsName:''});
    function dealData(data) {
        var html='';
        for(var i = 0; i < data.length; i++){
            //console.log(data[i])
            html +='<li  class="grid-item">';
            html +='	<a href="'+urlConnect("{:url('goods/detail')}",{id:data[i].id})+'" >';
            html +='     <p class="tc"><img class="grid-item-image lazy"  src="__STATIC__/index/images/no-image.png" data-original="'+data[i].main_image+'"></p>';
            html +='     <p class="good-desc ellipsis h40">'+notEmpty(data[i].name)+' </p>';
            html +='   </a>';
            html +='    <div class="p5 clear h40">';
            html +='  		  <p class="fl">已售'+notEmpty(data[i].buy_num)+'</p>';
            html +='  		      <p class="fr">';
            html +='  		      <span class="goods-price">'+priceScoreShow(data[i].settlement_type,data[i].basic_price,data[i].score)+'</span>';
            html +='  				<span class="goods-old-price">¥'+notEmpty(data[i].original_price)+'</span>';
            html +='  		  </p>';
            html +='    </div>';
            html +='  </li>';
        }
        return html;
    }
    function getGoods(json) {
        //搜索记录加入历史
        var addInHistory = true;
        $('#searchHistory li').each(function (index,ele) {
            if($(ele).find('span').text() == json.goodsName){
                addInHistory = false;
                return;
            }
        });
        if(addInHistory && json.goodsName !=''){
          //  $('#searchHistory').append(' <li class="fl" onclick="getGoods({goodsName:"'+json.goodsName+'"})"><span>'+json.goodsName+'</span></li>')
        }


        var data= {show_area:showArea.hot+','+showArea.normal}
        if(json) $.extend(data,json);
      //  destoryMasonry();
        var loadOption = {
            targetWarp:'dataListWrap',
            target:'goodsList',
            page:1,
            size:10,
            ajaxData:{
                url:"{:url('index/goods/goodsSearch')}",
                data:data,
            },
            dealFun:dealData,
            complete:masonryShow,
        };
        if(!(window.loadPageFun)){
            pageload(loadOption);
        }else{
            loadPageFun.dataInit(loadOption);
        }
    }
    function clearHistory(){
        pub_edit({
            url:"{:url('index/goods/delSearchHistory')}",
            data:{},
            complete:function () {
                $('.search-history ul').empty();
            }
        })
    }
    function getSearchName(json){
        var data= {show_area:showArea.hot+','+showArea.normal}
        if(json) $.extend(data,json);
        $.ajax({
            url:"{:url('index/goods/getSearchName')}",
            type:'post',
            data:data,
            dataType:'json',
            success: function(data){
               console.log(data);
            }
        })
    }
</script>
</body>
</html>