<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no, email=no"/>
	<meta charset="UTF-8">
	<title>{$titleName}</title>
	<link rel="icon" type="image/x-icon" href="__PUBLIC__/themes/logo_fy.png">
	<link href="__PUBLIC__/themes/logo_fy@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>
<include file="./Application/Index/View/Public/header-shop.html" />
<!--商品图片轮播-->
	<div class="aui-banner-content aui-fixed-top" data-aui-slider>
		<a name="C1"></a>
		<div class="aui-banner-wrapper">
			<volist	name="goodsPicList" id="vo">
				<div class="aui-banner-wrapper-item">
					<img src="{$vo}">
				</div>
			</volist>
		</div>
		<div class="aui-banner-pagination"></div>
	</div>
	<!--商品-->
	<div class="aui-product-content" >
		<div class="aui-real-price clearfix">
			<span>
				<i>￥</i>{$goodsDetail.real_price}
			</span>
			<del><span class="aui-font-num">￥{$goodsDetail['price']}</span></del>
			<div class="aui-settle-choice">
				<span>促销价</span>
			</div>
		</div>
		<div class="aui-product-title">
			<h2>
				{$goodsDetail['name']}
			</h2>
			<p>
				{$goodsDetail['remark']}
			</p>
		</div>
		<!--商品活动广告位-->
		<div class="aui-product-boutique clearfix">
			<img src="{$goodsDetail['brand_logo']}" alt="">
			<span class="aui-product-tag-text">{$goodsDetail['brand_name']}</span>
		</div>
		<!--商品属性-->

		<div class="aui-product-coupon">
			<a href="javascript:;" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
				<div class="aui-address-cell-bd">库存</div>
				<div class="aui-address-cell-ft" id="store_number">{$goodsDetail['number']}</div>
			</a>
			<volist name="attributeList" id="vo">
				<a href="javascript:;" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
					<div class="aui-address-cell-bd">{$vo.key}</div>
					<div class="aui-address-cell-ft">{$vo.value}</div>
				</a>
			</volist>
		</div>
			<!--<a href="javascript:;" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">-->
				<!--<div class="aui-address-cell-bd">是否包邮</div>-->
				<!--<div class="aui-address-cell-ft">{$goodsDetail['is_logistics']}</div>-->
			<!--</a>-->
		<a name="C2"></a>
			<a href="javascript:;" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
				<div class="aui-address-cell-bd">说明</div>
				<div class="aui-address-cell-ft">假一赔十 7天无忧退货</div>
			</a>
		<!--商品评论-->
		<div class="aui-dri"></div>
		<div class="aui-product-evaluate">
			<a href="{:U('Goods/goodEvaluate',array('id'=>$vo['id']))}"  class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
				<div class="aui-address-cell-bd">商品评价  <em>(3290)</em></div>
				<div class="aui-address-cell-ft">
					<span>好评 100%</span>
				</div>
			</a>
		</div>
		<div class="aui-dri"></div>
			<!--<div class="aui-product-evaluate">-->
				<!--<a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">-->
					<!--<div class="aui-address-cell-bd">-->
						<!--<div class="clearfix">-->
							<!--<div class="aui-product-shop-img">-->
								<!--<img src="__PUBLIC__/themes/img/user/user10.png" alt="">-->
							<!--</div>-->
							<!--<div class="aui-product-shop-text">-->
								<!--<h3>Versace官方旗舰店</h3>-->
								<!--<p>精选商家  服务保障</p>-->
								<!--<p>在售商品2390件</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="aui-address-cell-ft">-->
						<!--<span>进店看看</span>-->
					<!--</div>-->
				<!--</a>-->
			<!--</div>-->
		<div class="aui-dri"></div>
		<a name="C3"></a>
		<!--规格自定义参数-->
		<div class="aui-dri"></div>

		<notempty name="rules_key">
		<div class="aui-product-boutique clearfix">
			<span class="aui-product-tag-text">规格参数</span>
		</div>
		<div class="aui-product-coupon">
			<volist name="rules_key" key="k" id="vo">
				<a href="javascript:;" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
					<div class="aui-address-cell-bd">{$vo}</div>
					<div class="aui-address-cell-ft"><?php echo  $rules_val[$k-1]; ?></div>
				</a>
			</volist>
		</div>
		</notempty>
		<div class="aui-dri"></div>
		<div class="aui-product-pages" style="text-align: center">
			<div class="aui-product-pages-title">
				<h2>图文详情</h2>
			</div>
			<div class="aui-product-pages-img">
				{$goodsDetail['detail']}
			</div>
		</div>
		<div class="aui-dri"></div>
	<!--为你推荐-->
		<a name="C4"></a>
		<div class="aui-recommend">
			<img src="__PUBLIC__/themes/img/bg/icon-tj3.jpg" alt="">
			<!--<h2>为你推荐</h2>-->
		</div>
		<section class="aui-list-product">
			<div class="aui-list-product-box">
				<volist name="similarGoodsList" id="vo">
					<a href="{:U('Goods/index',array('id'=>$vo['id']))}" class="aui-list-product-item">
						<div class="aui-list-product-item-img">
							<img src="{$vo['logo']}" alt="">
						</div>
						<div class="aui-list-product-item-text">
							<h3>{$vo['name']}</h3>
							<div class="aui-list-product-mes-box">
								<div>
										<span class="aui-list-product-item-price">
											<em>¥</em>
											{$vo['real_price']}
										</span>
									<span class="aui-list-product-item-del-price">
											¥{$vo['price']}
										</span>
								</div>
								<!--<div class="aui-comment">986评论</div>-->
							</div>
						</div>
					</a>
				</volist>
			</div>
		</section>
	</div>
<include file="./Application/Index/View/Public/footer-shop.html" />

</body>
</html>