{include file="Public/header-resource"}
<body class="title-top">
<!--限时抢购-->
<style>
    .progress-bar-height{
        height: 14px!important;
        line-height: 14px!important;;
    }
</style>
{include file="Public/header-search"}
<div class="module-hot-goods  mt10">
    <div id="dataListWrap" class="data-refresh-list-wrap" data-current="">
        <ul class="goods-list list clear grid" id="goodsList">
            <!--<li>

                 <p class="tc"> <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg"></p>
                 <p class="good-desc ellipsis">Lay’s/乐2事薯片清爽酸奶零食 </p>
                  <div class="layui-progress layui-progress-big">
                      <div class="clear text-show" >
                          <p class="fl">已抢38件</p>
                          <p class="fr">3%</p>
                      </div>
                      <div class="layui-progress-bar layui-bg-red" ></div>
                  </div>
                 <p class="lh30 h30">活动时间：2017.10.18-2017.10.20</p>
                 <div class="clear">
                     <p class="fl">
                         <span class="goods-price">¥45.00</span>
                         <span class="goods-old-price">¥45.00</span>
                     </p>
                     <div class="fr">
                         &lt;!&ndash;<button class="layui-btn layui-btn-xs layui-btn-danger">马上抢</button>&ndash;&gt;
                         <button class="layui-btn layui-btn-xs layui-btn-disabled">已结束</button>
                     </div>
                 </div>
            </li>-->
        </ul>
    </div>
    {include file="Public/footer-quick-nav"}
    <script>

        $(function () {
            getGoods();
        })
        function getGoods(json) {
            var data= {show_area:showArea.time}
            if(json) $.extend(data,json);

            destoryMasonry();
            var loadOption ={
                targetWarp:'dataListWrap',
                target:'goodsList',
                page:1,
                size:10,
                ajaxData:{
                    url:"{:url('index/goods/goodsSearch')}",
                    data:data
                },
                dealFun:dealData,
                complete:masonryShow,
            };
            if(!(window.loadPageFun)){
                pageload(loadOption);
            }else{
                loadPageFun.dataInit(loadOption);
            }
        }
        function dealData(data) {
	//console.log(data)
	        var html='';
            for(var i = 0; i < data.length; i++){
                var skuData=data[i].skuData,totalNum=data[i].buy_num;
                for(var n=0; n<skuData.length; n++){
                    totalNum +=skuData[n].store;
                }
                var width=parseInt((data[i].buy_num)/totalNum *100)+'%';
                var price=notEmpty(data[i].basic_price);
                var activeFlag =activeStatus(parseInt(data[i].start_date),parseInt(data[i].end_date),parseInt("{$currentTime}"))!=2?true:false;//活动区间
                if(data[i].price_real && data[i].price_real!=0){
                    price = notEmpty(data[i].price_real);
                }
                html +='<li  class="grid-item">';
                if(activeFlag)
                    html +='             <a  href="'+urlConnect("{:url('goods/detail')}",{id:data[i].id})+'">';
                else
                    html +='             <a  href="javascript:;" onclick=" layer_msg(\'活动已经结束了，亲\');">';
                html +='     <p class="tc"><img class="grid-item-image lazy"  src="__STATIC__/index/images/no-image.png" data-original="'+data[i].main_image+'"></p>';
                html +='     <p class="good-desc ellipsis h40">'+notEmpty(data[i].name)+' </p>';
                html +='      <div class="layui-progress layui-progress-big progress-bar-height ml5 mr5 w90p">';
                html +='          <div class="clear text-show" >';
                html +='              <p class="fl">已抢'+notEmpty(data[i].buy_num)+'件</p>';
                html +='              <p class="fr pr5">'+width+'</p>';
                html +='          </div>';
                html +='          <div class="layui-progress-bar bg_sred progress-bar-height" style="width: '+width+'"></div>';
                html +='      </div>';
                html +='     <p class="p5">开始时间'+new Date(parseInt(data[i].start_date)*1000).Format("yyyy-MM-dd hh:mm:ss")+'</p>';
                html +='     <p class="pl5">结束时间'+new Date(parseInt(data[i].end_date)*1000).Format("yyyy-MM-dd hh:mm:ss")+'</p>';
                html +='     <div class="p5 clear h40">';

                html +='         <p class="fl">';
                html +='             <span class="goods-price">'+priceScoreShow(data[i].settlement_type,price,data[i].score)+'</span>';
                html +='             <span class="goods-old-price">¥'+notEmpty(data[i].original_price)+'</span>';
                html +='         </p>';
                html +='         <div class="fr">';
                if(activeFlag)
                     html +='       <button class="layui-btn layui-btn-xs layui-btn-radius" >马上抢</button>';//活动范围内
                else
                    html +='        <button class="layui-btn layui-btn-xs layui-btn-disabled" >已结束</button>';
                html +='         </div>';
                html +='     </div>';
                html +='    </a>'
                html +='</li>';
            }
            return html;
        }
        //请求完成页面数据加上后需要的处理操作
       function dataComplete(){

       }

    </script>
</body>
</html>
