{extend name="template/base" /}
{block name="title"}我的桌面{/block}
{block name="content"}
<!--<div class="page-container">


<p class="c-red">以下为静态展示内容</p>
<table class="table table-border table-bordered table-bg">
<thead>
<tr>
<th colspan="7" scope="col">信息统计</th>
</tr>
<tr class="text-c">
<th>统计</th>
<th>资讯库</th>
<th>图片库</th>
<th>产品库</th>
<th>用户</th>
<th>管理员</th>
</tr>
</thead>
<tbody>
<tr class="text-c">
<td>总数</td>
<td>92</td>
<td>9</td>
<td>0</td>
<td>8</td>
<td>20</td>
</tr>
<tr class="text-c">
<td>今日</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr class="text-c">
<td>昨日</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr class="text-c">
<td>本周</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr class="text-c">
<td>本月</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
</tbody>
</table>
<table class="table table-border table-bordered table-bg mt-20">
<thead>
<tr>
<th colspan="2" scope="col">服务器信息</th>
</tr>
</thead>
<tbody>
<tr>
<th width="30%">服务器计算机名</th>
<td><span id="lbServerName">http://127.0.0.1/</span></td>
</tr>
<tr>
<td>服务器IP地址</td>
<td>192.168.1.1</td>
</tr>
<tr>
<td>服务器域名</td>
<td>www.h-ui.net</td>
</tr>
<tr>
<td>服务器端口</td>
<td>80</td>
</tr>
<tr>
<td>服务器IIS版本</td>
<td>Microsoft-IIS/6.0</td>
</tr>
<tr>
<td>本文件所在文件夹</td>
<td>D:\WebSite\HanXiPuTai.com\XinYiCMS.Web\</td>
</tr>
<tr>
<td>服务器操作系统</td>
<td>Microsoft Windows NT 5.2.3790 Service Pack 2</td>
</tr>
<tr>
<td>系统所在文件夹</td>
<td>C:\WINDOWS\system32</td>
</tr>
<tr>
<td>服务器脚本超时时间</td>
<td>30000秒</td>
</tr>
<tr>
<td>服务器的语言种类</td>
<td>Chinese (People's Republic of China)</td>
</tr>
<tr>
<td>.NET Framework 版本</td>
<td>2.050727.3655</td>
</tr>
<tr>
<td>服务器当前时间</td>
<td>2014-6-14 12:06:23</td>
</tr>
<tr>
<td>服务器IE版本</td>
<td>6.0000</td>
</tr>
<tr>
<td>服务器上次启动到现在已运行</td>
<td>7210分钟</td>
</tr>
<tr>
<td>逻辑驱动器</td>
<td>C:\D:\</td>
</tr>
<tr>
<td>CPU 总数</td>
<td>4</td>
</tr>
<tr>
<td>CPU 类型</td>
<td>x86 Family 6 Model 42 Stepping 1, GenuineIntel</td>
</tr>
<tr>
<td>虚拟内存</td>
<td>52480M</td>
</tr>
<tr>
<td>当前程序占用内存</td>
<td>3.29M</td>
</tr>
<tr>
<td>Asp.net所占内存</td>
<td>51.46M</td>
</tr>
<tr>
<td>当前Session数量</td>
<td>8</td>
</tr>
<tr>
<td>当前SessionID</td>
<td>gznhpwmp34004345jz2q3l45</td>
</tr>
<tr>
<td>当前系统用户名</td>
<td>NETWORK SERVICE</td>
</tr>
</tbody>
</table>
</div>-->
<div>welcome</div>
<div class="page-container div-panel">
    <img src="/tmp/uploads/20180719/17462cf2b3f7694bf4fdf8a50a131f14.png" class="img-headimg">
    <div>
        <p><?php
            $h = date('G');
            if($h<12){ echo '上午好!';}
            else if($h<14){ echo '中午好!';}
            else if($h<18){ echo '下午好!';}
            else if($h<24){echo '晚上好!';}
        ?>&nbsp;&nbsp;{$Think.session.user_name}</p>
        <p>级别：&nbsp;{$Think.session.real_name}</p>
        <div class="div-head">
            <div>
                <button type="button" class="btn btn-default radius ml-20"
                        onClick="layer_open('个人信息', '{:\\think\\Url::build(\'Pub/profile\')}')">&nbsp;&nbsp;个人信息&nbsp;&nbsp;
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-default radius ml-20" onClick="lockScreen()">&nbsp;&nbsp;锁屏&nbsp;&nbsp;
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-default radius ml-20" onClick="loginout()">&nbsp;&nbsp;注销&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-container div-panel">
    <h4>待处理事项</h4>
    <div class="div-deal">
        <p class="p-center">{$count_pay}</p>
        <p class="p-center">待付款订单</p>
    </div>
    <div class="div-deal">
        <p class="p-center">{$count_deliver}</p>
        <p class="p-center">待发货订单</p>
    </div>
    <div class="div-deal">
        <p class="p-center">{$count_refund}</p>
        <p class="p-center">退款售后订单</p>
    </div>
    <div class="div-deal">
        <p class="p-center">0.00</p>
        <p class="p-center">待提现金额</p>
    </div>
</div>
<div class="page-container div-panel">
    <h4>指标展示</h4>
    <div class="">
        <div class="div-table-border">
            <p class="p-center"><strong>访问人数</strong></p>
            <div id="container_people" style="width: 600px;height: 400px"></div>
        </div>
        <div class="div-table-border">
            <p class="p-center"><strong>成交客户</strong></p>
            <div id="container_customer" style="width: 600px;height: 400px"></div>
        </div>
    </div>

    <div class="">
        <div class="div-table-border">
            <p class="p-center"><strong>支付订单</strong></p>
            <div id="container_order" style="width: 600px;height: 400px"></div>
        </div>
        <div class="div-table-border">
            <p class="p-center"><strong>支付金额</strong></p>
            <div id="container_money" style="width: 600px;height: 400px"></div>
        </div>
    </div>
</div>
<div class="page-container div-panel">
    <h4>公告栏</h4>
    <ol>
        {volist name="notice_list" id="notice"}
        <li>
            {$notice.detail}
        </li>
        {/volist}
    </ol>
</div>
<footer class="footer mt-20">
    <div class="container">
        <p></p>
        <p>
            感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch、H-ui、H-ui.admin<br>
            Copyright &copy;2016 {$Think.config.site.name} {$Think.config.site.version} All Rights Reserved.<br>
            本后台系统由<a href="http://www.h-ui.net/" target="_blank" rel="nofollow" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持
        </p>
    </div>
</footer>
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
    //获取本周的第一天
    var time = new Date().getTime();
    var day = new Date().getDay();
    var first_date = new Date(time - 60 * 60 * 24 * (day - 1) * 1000);
    var year = first_date.getFullYear();
    var month = first_date.getMonth();
    var day = first_date.getDate();

    //图表：访问人数
    var options_people = {
        chart: {
            type: 'line'                          //指定图表的类型，默认是折线图（line）
        },
        title: {
            text: '一周内访问人数'                 // 标题
        },
        yAxis: {
            title: {
                text: '访问人数'                // y 轴标题
            }
        },
        xAxis: {
            type: 'datetime',
            labels: {
                format: '{value:%Y-%m-%d}',
                rotation: 80,
                align: 'center'
            }
        },
        series: [{
            data: [{$count_visitor}],
            pointStart: Date.UTC(year, month, day),
            pointInterval: 24 * 36e5
        }]
    };
    var chart1 = Highcharts.chart('container_people', options_people);
    //图表：成交客户
    var options_customer = {
        chart: {
            type: 'line'                          //指定图表的类型，默认是折线图（line）
        },
        title: {
            text: '一周内成交客户'                 // 标题
        },
        yAxis: {
            title: {
                text: '成交客户'                // y 轴标题
            }
        },
        xAxis: {
            type: 'datetime',
            labels: {
                format: '{value:%Y-%m-%d}',
                rotation: 80,
                align: 'center'
            }
        },
        series: [{
            data: [{$count_accomplish}],
            pointStart: Date.UTC(year, month, day),
            pointInterval: 24 * 36e5
        }]
    };
    var chart2 = Highcharts.chart('container_customer', options_customer);
    //图表：支付订单
    var options_order = {
        chart: {
            type: 'line'                          //指定图表的类型，默认是折线图（line）
        },
        title: {
            text: '一周内支付订单'                 // 标题
        },
        yAxis: {
            title: {
                text: '支付订单'                // y 轴标题
            }
        },
        xAxis: {
            type: 'datetime',
            labels: {
                format: '{value:%Y-%m-%d}',
                rotation: 80,
                align: 'center'
            }
        },
        series: [{
            data: [{$count_pay_accomplish}],
            pointStart: Date.UTC(year, month, day),
            pointInterval: 24 * 36e5
        }]
    };
    var chart3 = Highcharts.chart('container_order', options_order);

    //锁屏
    var parentDoc = window.parent.document;

    function lockScreen() {
        $(parentDoc).find('.lockScreen').fadeIn();//使用淡入效果进行锁屏
    }

    //退出登录
    function loginout() {
        layer.confirm('您确定要退出登录？', {title: '登出提醒'}, function (index) {
            location.href = '{:\\think\\Url::build("Pub/logout")}'
        })
    }
</script>
{/block}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/welcome.css">
{/block}