{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--我的活动中兴-->
<style>

</style>
<section>
    <div id="dataListWrap" data-current="">
        <ul id="dataList" class="activity-list">
          <!-- <li>
                <a href="javascript:;">
                    <img src="https://www.0851p2p.com/statics/app/front/images/index/bannermSjb1.jpg">
                    <p class="f12 grey lh30 h30">2018-6-14 00:00:00~2018-7-15 23:59:59</p>
                    <div class="status-wrap">
                        <span class="status">已结e束</span>
                    </div>
                </a>
           </li>-->
       </ul>
    </div>
</section>
{include file="Public/footer-quick-nav"}
<script>
    $(function () {
        loadDealData();
        new WOW().init();
    })
    function loadDealData(){
        initData('dataList');
        pageload({
            targetWarp:'dataListWrap',
            target:'dataList',
            page:1,
            size:4,
            ajaxData:{
                url:"{:url('index/activity/activity')}",
                data:{},
            },
            dealFun:dealData
        });
    }
    function dealData(data) {
        var html='';

        for(var i = 0; i < data.length; i++){
            var animate = "bounceInLeft";
            if(i%2 ==0){
                animate = "bounceInRight";
            }
            html +='<li class="wow '+animate+'">';
            html +='     <a href="'+urlConnect("{:url('activity/detail')}",{id:data[i].id})+'">';
            html +='         <img  src="'+data[i].main_pic+'">';
            html +='         <p  class="f12 grey lh30 h30 pl10">'+new Date(parseInt(data[i].start_date)*1000).Format("yyyy-MM-dd hh:mm:ss")+'~'+new Date(parseInt(data[i].end_date)*1000).Format("yyyy-MM-dd hh:mm:ss")+'</p>';
            html +='         <div class="status-wrap"  >';
            if( activeStatus(data[i].start_date,data[i].end_date,parseInt("{$currentTime}")) ==2){
                html +='             <span class="status ">已结束</span>';
            }
            html +='         </div>';
            html +='     </a>';
            html +='</li>';
        }
        return html;
    }


</script>
</body>
</html>