{include file="Public/header-resource"}
<body class="pb50">
<!--会员中心-->
<header class="aui-header-default aui-header-fixed aui-header-bg clear" >
    <a href="{:\\think\\Url::build(\'myset\')}" class="aui-header-item-icon fl mt10 ml10">
        <i class="aui-icon aui-icon-Set"></i>
    </a>
    <a  href="{:\\think\\Url::build(\'message\')}"  class="message-icon message fr mt5 mr10">
        <span></span>
        <i class="iconfont icon-message" style="color: white" ></i>
    </a>
</header>
<section class="aui-me-content">
    <div class="aui-me-content-box">
        <div class="aui-me-content-info"></div>
        <div class="aui-me-content-list">
            <div class="aui-me-content-item">
                <div class="aui-me-content-item-head">
                    <div class="aui-me-content-item-img">
                        <img src="__STATIC__/index/images/image/headImg.jpg" alt="">
                    </div>
                    <div class="aui-me-content-item-title">艾3薇</div>
                  <!--  <div><a class="signin-btn"  href="{:\\think\\Url::build(\'mysign\')}" style="display: inline;">签到</a></div>-->
                </div>
                <div class="aui-me-content-item-text">
                    <a href="#">
                        <span>3</span>
                        <span>积分</span>
                    </a>
                    <a  href="{:\\think\\Url::build(\'mycardvoucher\')}">
                        <span>78</span>
                        <span>红包卡券</span>
                    </a>
                    <a href="{:\\think\\Url::build(\'goodscollect\')}">
                        <span>99</span>
                        <span>收藏夹</span>
                    </a>
                    <a href="{:\\think\\Url::build(\'mysign\')}">
                        <span>65</span>
                        <span>签到有礼</span>
                    </a>
                </div>
            </div>
            <div class="aui-me-content-card">
                <h3><i class="aui-icon aui-card-me"></i>铂金会员</h3>
                <a style="display: none" href="my-membership.html">点击查看特权</a>
            </div>
        </div>
    </div>
    <div class="aui-me-content-order">
        <a href="{:\\think\\Url::build(\'orderlist\')}" class="aui-well aui-fl-arrow">
            <div class="aui-well-bd">我的订单</div>
            <div class="aui-well-ft">查看全部</div>
        </a>
    </div>
    <section class="aui-grid-content">
        <div class="aui-grid-row">
            <a href="{:\\think\\Url::build(\'orderlist\')}" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-wallet"></i>
                <p class="aui-grid-row-label">待付款1</p>
            </a>
            <a href="{:\\think\\Url::build(\'orderlist\')}" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-goods"></i>
                <p class="aui-grid-row-label">待发货23</p>
            </a>
            <a href="{:\\think\\Url::build(\'orderlist\')}" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-receipt"></i>
                <p class="aui-grid-row-label">待收货34</p>
            </a>
            <a href="{:\\think\\Url::build(\'orderlist\')}" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-evaluate"></i>
                <p class="aui-grid-row-label">待评价234</p>
            </a>
            <a href="{:\\think\\Url::build(\'orderlist\')}" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-refund"></i>
                <p class="aui-grid-row-label">退货退款54</p>
            </a>
        </div>
        <div class="aui-dri"></div>
        <div class="aui-me-content-order">
            <a href="#" class="aui-well ">
                <div class="aui-well-bd">我的服务</div>
                <!--<div class="aui-well-ft">查看全部</div>-->
            </a>
        </div>
        <div class="aui-grid-row">
            <a href="{:\\think\\Url::build(\'mywallet\')}"  class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-invitation"></i>
                <p class="aui-grid-row-label">我的钱包</p>
            </a>
            <a href="{:\\think\\Url::build(\'mycardvoucher\')}"  class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-coupon"></i>
                <p class="aui-grid-row-label">卡券中心</p>
            </a>
            <a href="{:\\think\\Url::build(\'myactivity\')}"  class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-fight"></i>
                <p class="aui-grid-row-label">活动中心</p>
            </a>
            <a href="{:\\think\\Url::build(\'memberbenefits\')}"  class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-recommend"></i>
                <p class="aui-grid-row-label">会员权益</p>
            </a>
            <a href="#" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-problem"></i>
                <p class="aui-grid-row-label">赚积分</p>
            </a>
            <a href="#" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-recharge"></i>
                <p class="aui-grid-row-label">充值中心</p>
            </a>
            <a href="#" class="aui-grid-row-item">
                <i class="aui-icon-large aui-icon-large-sm aui-icon-help"></i>
                <p class="aui-grid-row-label">客服中心</p>
            </a>
        </div>
    </section>
</section>
{include file="Public/footer"}

<script type="text/javascript">
    $(function () {
        //绑定滚动条事件
        //绑定滚动条事件
        $(window).bind("scroll", function () {
            var sTop = $(window).scrollTop();
            var sTop = parseInt(sTop);
            if (sTop >= 44) {
                if (!$("#scrollSearchDiv").is(":visible")) {
                    try {
                        $("#scrollSearchDiv").slideDown();
                    } catch (e) {
                        $("#scrollSearchDiv").show();
                    }
                }
            }
            else {
                if ($("#scrollSearchDiv").is(":visible")) {
                    try {
                        $("#scrollSearchDiv").slideUp();
                    } catch (e) {
                        $("#scrollSearchDiv").hide();
                    }
                }
            }
        });
    })
</script>
</body>
</html>