<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>QQ Test</title>
</head>
<body>
<a href="mqqwpa://im/chat?chat_type=wpa&uin=2550162927&version=1&src_type=web&web_src=oicqzone.com">打开qq聊天框</a>

<a href="http://wpa.qq.com/msgrd?v=3&uin=2550162927&site=qq&menu=yes">打开qq聊天框</a>

<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1299625459&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1299625459:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></body>

<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2550162927&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2550162927:52" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2550162927&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2550162927:53" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
</html>