{include file="Public/header-resource"}
<body style="background: white">
<div >
    <div class="payHead mt40">
        <p class="tc">订单金额</p>
        <p class=" tc mt20 f32" >¥<i class="ml5 f32">22</i></p>
    </div>
    <div class="p5 pl10">
        <p class="grey f12 lh30">请选择支付方式</p>
        <div class="lh40">
            <img width="32" src="__STATIC__/index/images/weixin.png">
            <span>微信支付</span>
        </div>
    </div>
    <div class="footer-fixed">
        <button  onClick="callpay()" id="payDom" class="w100p bootstrap-btn lh30" style="background: black; color: white">确认支付</button>
    </div>
</div>
</body>
</html>
