{include file="Public/header-resource"}
<body>
{include file="Public/header-search"}
<div class="module-hot-goods margin-top-header">
    <div id="dataListWrap" class="data-refresh-list-wrap">
        <ul class="goods-list list clear" id="goodsList">
            <!--<li>
                <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                 <p class="good-desc ellipsis">Lay’s/乐事薯片清爽酸奶零食 </p>
                <div>
                    <p class="fl">已售3</p>
                    <p class="fr">
                        <span class="goods-price">¥45.00</span>
                        <span class="goods-old-price">¥45.00</span>
                    </p>
                </div>
            </li>-->
        </ul>
    </div>
    <script>

        function searchGoods(){
            if(!formEmptyValid('form')){
                return;
            }else{
                pageload({
                    targetWarp:'dataListWrap',
                    target:'goodsList',
                    page:1,
                    size:4,
                    ajaxData:{
                        url:"{:url('index/index/return_json')}",
                        data:formData('form'),
                    },
                    dealFun:dealData
                });
            }
        }
        function dealData(data) {
            var html='';
            for(var i = 0; i < data.length; i++){
                html +='<li>';
                html +='     <p class="tc"><img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg"></p>';
                html +='        <p class="good-desc ellipsis">Lay’s/乐事薯片清爽酸奶零食 </p>';
                html +='    <div>';
                html +='    <p class="fl">已售3</p>';
                html +='        <p class="fr">';
                html +='        <span class="goods-price">¥45.00</span>';
                html +='    <span class="goods-old-price">¥45.00</span>';
                html +='    </p>';
                html +='    </div>';
                html +='  </li>';
            }
            return html;
        }

    </script>
    {include file="Public/footer"}
</body>
</html>