{include file="Public/header-resource"}
<style>
	.search-box-cover{opacity: .1}
</style>
<body class="footer-boottom">
{include file="Public/header"}
<link rel="stylesheet" type="text/css" type="text/css" href="__STATIC__/index/plugins/swiper3.4/css/swiper.min.css">
<script type="text/javascript"  src="__STATIC__/index/plugins/swiper3.4/js/swiper.js"></script>
<!--轮播图1-->
<div class="swiper-container header-banner">
	<ul class="swiper-wrapper" >
		 {volist name="sildeShow" id="vo" empty=""}
			<li class="swiper-slide">
				<a href="{$vo.url}">
					<img style="min-height: 150px" data-src="{$vo.pic}"   class="swiper-lazy">
					<div class="swiper-lazy-preloader"></div>
				</a>
			</li>
		 {/volist}
	</ul>
	<!-- 如果需要分页器 -->
	<div class="swiper-pagination"></div>
</div>
<!--活动分类-->
<ul class="module-nav clear">
    {volist name="modular" id="vo" empty=""}
    <li>
        <a href="{$vo.url}" >
            <img src="{$vo.pic}" alt="{$vo.title}">
            <p>{$vo.title}</p>
        </a>
    </li>
    {/volist}
</ul>
<!--广告-->
<div class="announcement clear" style="margin-top: -8px;">
	<div class="image fl">
		<img  style="height: .3rem;" src="__STATIC__/index/images/gonggao.png">
	</div>
	<div class="content fl swiper-container announcement-banner" >
		<ul class="swiper-wrapper pl10" id="notice"></ul>
	</div>
	<div class="more fl"><a href="{:\\think\\Url::build(\'notice/index\')}">更多<i class="iconfont icon-right-arrow f12 grey"></i></a></div>
</div>

<div class="module-active clear mt5">
	<p class="item-title clear">
		<a href="{:url('activity/activity')}"  >
			<span class="fl">互动活动</span>
			<span class="fr">查看更多<i class="iconfont icon-right-arrow f12 grey"></i></span>
		</a>
	</p>
	<div id="activeWrap">
		<!--<img class="big-img" src="http://scsc.top/data/gallery_album/original_img/5b109f656e378.jpg">
		<ul class="fl mt5 clear w100p">
			<li class="fl"><img src="http://scsc.top/data/gallery_album/original_img/5b109f656e378.jpg"></li>
			<li class="fl"><img src="http://scsc.top/data/gallery_album/original_img/5b109f656e378.jpg"></li>
		</ul>-->
	</div>
</div>

<div class="gift-content" id="giftContent" style="display: none">
	<div class="cover-bg close" onclick="closePop('giftContent')"></div>
	<div class="gift-wrap">
		<div class="header">
			<p class="white h40 f14 tc title">恭喜你，获得大礼包一个</p>
		</div>
		<div class="gift-body" id="lotterysContainer">
			<!--<div class="tax-box lanse_bg">
				&lt;!&ndash;<div class="clear">
					<div class="fl w70p" style="">
						<p class="tc f16 mt5">优惠券</p>
						<p class="tc mt5"> 满100.00优惠20.00元 </p>
						<p class="tc mt5">剩余有效期：119天20时15分</p>
					</div>
					<div class="tax-split fl">
						<div class="line" style="border-color:#FFFFFF;opacity: 1;"></div>
					</div>
					<div class="fl" style="width: 28%">
						<div class="f14 tc lh70">
							已领取
						</div>
					</div>
				</div>&ndash;&gt;
			</div>-->
		</div>
		<div class="gift-footer clear pl10 pr10 mt5">
			<button class="fl layui-btn layui-btn-danger layui-btn-radius layui-btn-xs close"  onclick="closePop('giftContent')">&nbsp;不&nbsp;看&nbsp;了&nbsp;</button>
			<a href="{:\\think\\Url::build(\'Lottery/mycardvoucher\')}" class="fr layui-btn layui-btn-normal layui-btn-radius layui-btn-xs">&nbsp;去&nbsp;看&nbsp;看&nbsp;</a>
		</div>
	</div>
</div>
<!--商品列表-->
<div class="module-hot-goods">
	<div class="pt5 pb5 bg_white mb5"><img style="width:100%" alt="热销商品" src="__STATIC__/index/images/hot_goods.jpg"></div>
	<div id="dataListWrap" class="">
		<ul class="goods-list list clear grid pb40" id="goodsList" >
			<!--<li class="grid-item">
				<img class="grid-item-image" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
				 <p class="good-desc ellipsis">Lay’s/乐事薯片清爽酸奶零食 </p>
				<div class="p5 clear">
					<p class="fl">已售3</p>
					<p class="fr">
						<span class="goods-price">¥45.00</span>
						<span class="goods-old-price">¥45.00</span>
					</p>
				</div>
			</li>-->
		</ul>
	</div>
</div>
{include file="Public/footer"}
	<script>

        var currentTime = parseInt("{$currentTime}");
        setInterval(function () {
            currentTime +=1;
        },1000);
        var newPersonClose=true;
		$(function () {
            getGift(constant.giftType.newPerson,"{:url('index/index/newCustomerGiftBag')}");
            getNotice();
            loadGoodsData();
            changeSearchBg();
            getActive();
            $('#giftContent .close').click(function () {
                newPersonClose=true;
            });
            var timer = setInterval(function () {
                //新人礼包关闭后执行
                if(newPersonClose){
                    newPersonClose = false;
                    getGift(constant.giftType.birthday,"{:url('index/index/birthdayCustomerGiftBag')}");
                    $('.gift-wrap .header .title').html('恭喜你，获得生日大礼包一个');
                    clearInterval(timer);
                }

            },1000);
        })
        var headerBanner = new Swiper('.header-banner', {
            autoplay: 6000,//可选选项，自动滑动
            pagination : '.swiper-pagination',

			/*
			 * 设置为true -> 开启图片延迟加载
			 * <img>的src属性改为data-src，class增加一个'swiper-lazy'
			 * 如果直接用div，设置background，对应的改为data-background即可
			 */
			lazyLoading: true,
			lazyLoadingInPrevNext : true,
			// 这个为true时，↓才有用
			lazyLoadingInPrevNextAmount: 1 // 设置在延迟加载图片时提前多少个slide
        })

        function dealData(data) {
            var html='';
            for(var i = 0; i < data.length; i++){
                console.log(data[i])
                html +='<li class="grid-item">';
            //    html +='	<a href="{:url(\'goods/detail\',array(\'id\'=>$vo[\'id\']))}" >';
                html +='	<a href="'+urlConnect("{:url('goods/detail')}",{id:data[i].id})+'" >';
                html +='     <p class="tc"><img class="grid-item-image lazy"  src="__STATIC__/index/images/no-image.png" data-original="'+data[i].main_image+'"></p>';
                html +='     <p class="good-desc ellipsis h40">'+notEmpty(data[i].name)+' </p>';
                html +='    </a>';
                html +='    <div class="p5 clear h40">';
                html +='  		  <p class="fl">已售'+notEmpty(data[i].buy_num)+'</p>';
                html +='  		      <p class="fr">';
                if(data[i].price_real!=0){
                    html +='  		      <span class="goods-price">'+priceScoreShow(data[i].settlement_type,data[i].price_real,data[i].score)+'</span>';
				}else{
                    html +='  		      <span class="goods-price">'+priceScoreShow(data[i].settlement_type,data[i].basic_price,data[i].score)+'</span>';
				}

                html +='  				<span class="goods-old-price">¥'+notEmpty(data[i].original_price)+'</span>';
                html +='  		  </p>';
                html +='    </div>';
                html +='  </li>';
            }
            return html;

        }

        function loadGoodsData(){
            initData('goodsList');
            pageload({
                targetWarp:'dataListWrap',
                target:'goodsList',
                page:1,
                size:10,
                ajaxData:{
                    url:"{:url('index/goods/getGoodsHotOrOther')}",
                    data:{
                        show_area:4
                    },
                },
                dealFun:dealData,
				complete:masonryShow,
            });
        }

        function getNotice() {
            $.ajax({
                type:'post',
                data:{page:1, size:5},
                url:"{:url('index/notice/getNotice')}",
                success:function (data) {
                    var code = data.code, result = data.data;
                    var html='';
                    if(code=='200'){
                        for(var i = 0; i < result.length; i++){
                            html +=' <li class="swiper-slide"><a class="ellipsis-oneline" href="'+urlConnect("{:url('Notice/detail')}",{id:result[i].id})+'" >'+notEmpty(result[i].title)+'</a></li>';
                        }
                        $('#notice').empty().append(html);
                        setTimeout(function () {
                            var mySwiper = new Swiper('.announcement-banner',{
                                direction : 'vertical',
                                autoplay: 2000,//可选选项，自动滑动
                            })
                        },100)
                    }

                }
            })
        }
        function getActive() {
            $.ajax({
                type:'post',
                data:{page:1, size:3},
                url:"{:url('index/activity/activity')}",
                success:function (data) {
                    var code = data.code, result = data.data;
                    var html='';
                    if(code=='200' ){
                        if( result.length>1){
                            html +='	<a href="'+urlConnect("{:url('activity/detail')}",{id:result[0].id})+'" >';
                            html +='<img class="big-img" src="'+result[0].main_pic+'">';
                            html +='</a>'
						}
						if(result.length>2){
                            html +='<ul class="fl mt2 clear w100p">';
                            html +='	<a href="'+urlConnect("{:url('activity/detail')}",{id:result[1].id})+'" >';
                            html +='	<li class="fl"><img src="'+result[1].main_pic+'"></li>';
                            html +='</a>'
                            html +='	<a href="'+urlConnect("{:url('activity/detail')}",{id:result[2].id})+'" >';
                            html +='	<li class="fl"><img src="'+result[2].main_pic+'"></li>';
                            html +='</a>'
                            html +='</ul>';
						}
                        $('#activeWrap').empty().append(html);
                    }

                }
            })
        }

        function getGift(giftStatus,req_url){
            newPersonClose=false;
            $.ajax({
                type:'post',
                data:{gift_bag_id:giftStatus},
				url:req_url,
                success:function (res) {
                    dealLottery(res);
                    if(res.data && res.data.length>0){
                        $('.gift-wrap .header .title').html('恭喜你，获得新人大礼包一个');
                        showPop('giftContent');
					}else{
                        newPersonClose=true;
					}
                }
            })
		}

	</script>
</body>
</html>