{include file="Public/header-resource"}
<body class="footer-boottom">
{include file="Public/header"}
<!--轮播图1-->
<div class="swiper-container header-banner">
	<ul class="swiper-wrapper" >
		 {volist name="sildeShow" id="vo" empty=""}
			<li class="swiper-slide">
				<a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.name}" lazy="loaded"></a>
			</li>
		 {/volist}
	</ul>
	<!-- 如果需要分页器 -->
	<div class="swiper-pagination"></div>
</div>
<!--广告-->
<div class="announcement clear" >
	<div class="image fl">
		<img  style="height: .3rem;" src="__STATIC__/index/images/gonggao.png">
	</div>
	<div class="content fl swiper-container announcement-banner" >
		<ul class="swiper-wrapper pl10" id="notice"></ul>
	</div>
	<div class="more fl"><a href="{:\\think\\Url::build(\'announce\')}">更多<i class="iconfont icon-right-arrow f12 grey"></i></a></div>
</div>
<!--活动分类-->
<ul class="module-nav clear">
	{volist name="modular" id="vo" empty=""}
		<li>
			<a href="{$vo.url}" >
				<img src="{$vo.pic}" alt="{$vo.title}">
				<p>{$vo.title}</p>
			</a>
		</li>
	{/volist}

	<!--<li>
		<a href="{:\\think\\Url::build(\'rushPurchase\')}" >
			<img src="http://scsc.top/data/gallery_album/original_img/5982d8b9d3391.jpg">
			<p>限时抢购</p>
		</a>
	</li>
	<li>
		<a href="{:\\think\\Url::build(\'vouchermarket\')}" >
			<img src="http://scsc.top/data/gallery_album/original_img/5982d8b9d3391.jpg">
			<p>券集市</p>
		</a>
	</li>
	<li>
		<a href="{:\\think\\Url::build(\'goodsPoints\')}" >
			<img src="http://scsc.top/data/gallery_album/original_img/5982d8b9d3391.jpg">
			<p>积分商城</p>
		</a>
	</li>
	<li>
		<img src="http://scsc.top/data/gallery_album/original_img/5982d8b9d3391.jpg">
		<p>充值中心</p>
	</li>
	<li>
		<a  href="{:\\think\\Url::build(\'mysign\')}">
			<img src="http://scsc.top/data/gallery_album/original_img/5982d8b9d3391.jpg">
			<p>会员签到</p>
		</a>
	</li>-->
</ul>
<div class="module-active clear mt10">
	<p class="item-title clear">
		<a href="{:\\think\\Url::build(\'myactivity\')}" >
			<span class="fl">互动活动</span>
			<span class="fr">查看更多<i class="iconfont icon-right-arrow f12 grey"></i></span>
		</a>
	</p>
	<img class="big-img" src="http://scsc.top/data/gallery_album/original_img/5b109f656e378.jpg">
	<ul class="fl mt5 clear w100p">
		<li class="fl"><img src="http://scsc.top/data/gallery_album/original_img/5b109f656e378.jpg"></li>
		<li class="fl"><img src="http://scsc.top/data/gallery_album/original_img/5b109f656e378.jpg"></li>
	</ul>
</div>
<!--商品列表-->
<div class="module-hot-goods">
	<p class="item-title mt10 mb10">热销商品</p>
	<div id="dataListWrap">
		<ul class="goods-list list clear" id="goodsList">
		<!--	<li>
				<img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
				 <p class="good-desc ellipsis">Lay’s/乐事薯片清爽酸奶零食 </p>
				<div>
					<p class="fl">已售3</p>
					<p class="fr">
						<span class="goods-price">¥45.00</span>
						<span class="goods-old-price">¥45.00</span>
					</p>
				</div>
			</li>-->
		</ul>
</div>
{include file="Public/footer"}
<script>
    getNotice();
    var swiper1= bannerSwiper('header-banner');
    new Swiper('.announcement-banner', {
        direction : 'vertical',
        autoplay: {
            delay: 5000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
    });
    function dealData(data) {
        var html='';
        for(var i = 0; i < data.length; i++){
            console.log(data[i])
            html +='<li>';
            html +='	<a href="{:url(\'goods/detail\',array(\'id\'=>$vo[\'id\']))}" >';
            html +='     <p class="tc"><img class="good-img" src="'+data[i].main_image+'"></p>';
            html +='     <p class="good-desc ellipsis">'+notEmpty(data[i].name)+' </p>';
            html +='   </a>';
            html +='    <div>';
			html +='  		  <p class="fl">已售'+notEmpty(data[i].buy_num)+'</p>';
			html +='  		      <p class="fr">';
			html +='  		      <span class="goods-price">¥'+notEmpty(data[i].basic_price)+'</span>';
			html +='  				<span class="goods-old-price">¥'+notEmpty(data[i].original_price)+'</span>';
			html +='  		  </p>';
            html +='    </div>';
            html +='  </li>';
        }
        return html;
    }
     pageload({
		 targetWarp:'dataListWrap',
         target:'goodsList',
         page:1,
         size:10,
         ajaxData:{
              url:"{:url('index/goods/getGoodsHotOrOther')}",
              data:{
                  show_area:4
			  },
          },
		dealFun:dealData
     });
	function getNotice() {
		$.ajax({
			type:'post',
			data:{page:1, size:2},
            url:"{:url('index/notice/getNotice')}",
			success:function (data) {
			    var data = data.data;
                var html='';
			    if(data.code=='200'){
                    for(var i = 0; i < data.length; i++){
                        html +=' <li class="swiper-slide"><a class="ellipsis-oneline" href="{:url(\'Notice/detail\',array(\'id\'=>$vo[\'id\']))}" >'+notEmpty(data[i].title)+'</a></li>'
                    }
                    $('#notice').empty().append(html)
				}

            }
		})
    }

</script>
</body>
</html>