{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}

<section>
    <ul class="nav-list-tab" id="navListTab">
        <li  class="w50p active"><a href="javascript:;">未使用</a></li>
        <li class="w50p"><a href="javascript:;">使用记录</a></li>
    </ul>
    <div id="dataListWrap">
        <ul id="dataList" class="mycard-voucher-list mt50">
            <!--<li>
                <div class="product-info clear">
                    <img class="img fl" src="__STATIC__/index/images/image/headImg.jpg" alt="商品图片">
                    <p class="fl bold f16 ml10">本e草同堂</p>
                    <p class="price f24">¥15</p>
                </div>
                <div class="grey mt10 mb10">满100元可用</div>
                <div class="clear">
                    <p class="fl grey">使用有效期：2018.05.04-2019.02.03</p>
                    <button class="fr layui-btn layui-btn-sm layui-btn-radius" >&nbsp;&nbsp;去使用 &nbsp;&nbsp;</button>
                </div>
            </li>-->
        </ul>
    </div>
</section>
<script>
    tabSwitch($('.nav-list-tab li'),loadOrderData);
    $(function () {
        loadOrderData()
    })

    function loadOrderData(){
        initData('dataList');
        pageload({
            targetWarp:'dataListWrap',
            target:'dataList',
            page:1,
            size:4,
            ajaxData:{
                url:"{:url('index/index/return_json')}",
                data:{},
            },
            dealFun:dealData
        });
    }
    function dealData(data) {
        var html='';
        for(var i = 0; i < data.length; i++){
            html +='<li>';
            html +='    <div class="product-info clear">';
            html +='        <img class="img fl" src="__STATIC__/index/images/image/headImg.jpg" alt="商品图片">';
            html +='        <p class="fl bold f16 ml10">本草同堂</p>';
            html +='        <p class="price f24">¥15</p>';
            html +='    </div>';
            html +='    <div class="grey mt5 mb5">满100元可用</div>';
            html +='    <div class="clear">';
            html +='        <p class="fl grey">使用有效期：2018.05.04-2019.02.03</p>';
            html +='        <button class="fr layui-btn layui-btn-xs layui-btn-radius" >&nbsp;&nbsp;去使用 &nbsp;&nbsp;</button>';
            html +='    </div>';
            html +='</li>';
        }
        return html;
    }
</script>
</body>
</html>