{include file="Public/header-resource"}
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/view/SignIn.css">
<body class="title-top footer-bottom">
	<div id="nTalk_post_hiddenElement" style="left: -10px; top: -10px; visibility: hidden; display: none; width: 1px; height: 1px;"></div>
	<!--内容区域-->
	<div id="app" class="wrapper" style="background-color: rgb(0, 166, 153);">
		<!---->
		<div class="hd">
			<img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=401c323e3f7adab429dd1311eabdd879/30adcbef76094b3614aa9afbaacc7cd98d109de8.jpg" width="60" height="60" class="user-avatar" />
			<div class="user-info">
				<div class="user-name">
					艾薇儿
				</div>
				<div class="user-link">
					<span class="user-integral">积分2200</span>
					<a href="javascript:" class="f14" onclick="openDialog()">活动规则<i class="iconfont icon-iconarrow"></i></a>
				</div>
			</div>
		</div>
		<div class="bd">
			<div class="water-box">
				<div class="water water1"></div>
				<div class="water water2"></div>
				<div class="water water3"></div>
			</div>
			<div class="cricle">
				<div class="text">
					已经连续签到
				</div>
				<div class="count">
					<span>4</span>天
				</div>
			</div>
			<a href="javascript:" flag="1" class="btn sign " disabled="">
				立即签到
			</a>
		</div>
	</div>
	{include file="Public/footer"}
	<script type="text/javascript">
		apiready = function () {
			api.parseTapmode();
		}
		var dialog = new auiDialog();

		function openDialog(){
			var msg = '<p class="mui-text-left mt10">1.每天只能签到一次,每次获得奖励1积分</p>'
				msg += '<p class="mui-text-left mt10">2.连续签到3天，一次性奖励2积分。</p>';
				msg += '<p class="mui-text-left mt10">3.连续签到7天，一次性奖励8积分。</p>'
				msg += '<p class="mui-text-left mt10">4.连续签到15天，一次性奖励20积分。</p>'
				msg += '<p class="mui-text-left mt10">5.连续签到30天，一次性奖励50积分。</p>'
				/*dialog.alert({
					title:"活动规则",
					msg:msg,
					buttons:['确定']
				});*/
            layer.open({
                title:"活动规则",
                content:msg
                ,btn: '确定'
            });
		}
		$('.sign').on('click',function () {
			if( $('.sign').attr('flag')==1 ){
				$.ajax({
					url:"//",
					type:'post',
					data:{flag:1},
					dataType:'json',
					success:function (res) {
						console.log(res)
						if(res.status==501){
							$('.sign').addClass('disabled').attr('flag','0');
						}
						dialog.alert({
							title:"提示",
							msg:res.msg,
							buttons:['关闭']
						},function(){
							location.reload();
						});
					},
					error:function (res) {
						console.log
					}
				})
			}
		})
	</script>

</body>
</html>