{include file="Public/header-resource"}


<body class="title-top footer-boottom">
{include file="Public/header-shop-title"}
<!--商品图片轮播-->
<!--轮播图-->
<div class="swiper-container header-banner">
    <ul class="swiper-wrapper" >
        <li class="swiper-slide">
            <img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg" lazy="loaded">
        </li>
        <li class="swiper-slide">
            <img  src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg" lazy="loaded">
        </li>
    </ul>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
<!--商品-->
<a  name="good-detail-content"></a>
<div class="good-detail-content">
    <p class="good-price">¥45</p>
    <p class="good-title">美国superdry那那还是的合体育体育</p>
    <ul class="clear good-service">
        <li class="fl">快递22.3</li>
        <li class="fl tc">月销33</li>
        <li class="fr tr">江苏杭州</li>
    </ul>
    <p class="mt10 detail-block">
        <span class="title">领券</span>
        <span class="content"><span class="icon-couple"></span>满20减去19优惠券</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">促销</span>
        <span class="content"><span class="icon-point"></span>购买可得159积分</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">服务</span>
        <span class="content">正品保证.急速退款.七天退换</span>
        <i class="detail_footer-icon"></i>
    </p>
    <p class="detail-block">
        <span class="title">规格</span>
        <span class="content">选择颜色，尺码</span>
        <i class="detail_footer-icon"></i>
    </p>
</div>
<!--商品评价-->
<a name="good-evaluate"></a>
<div class="good-evaluate">
    <p class="good-evaluate-bar clear bg_white">
        <span class="fl">评价</span>
        <span class="fl">好评97%</span>
        <span class="fr">共2800条</span>
    </p>
    <ul class="good-evaluate-all clear">
        <li>好评2700+</li>
        <li>中评2700+</li>
        <li>差评2700+</li>
        <li>有图2700+</li>
    </ul>
    <ul class="good-evaluate-content">
        <li>
            <div class="good-evaluate-user-info clear">
                <span class="fl user">夜空领域</span>
                <span class="credit fl"><span style="width:60%"></span></span>
                <p class="fr date">2018/2/23</p>
            </div>
            <p class="good-evaluate-title h30 lh30">还可以，不错！不错！挺不错的。下次再买！</p>
            <ul class="good-evaluate-img clear">
                <li onclick="showImage(this,0)"><img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg"></li>
                <li onclick="showImage(this,1)"><img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg"></li>
                <li onclick="showImage(this,2)"><img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg"></li>
                <li onclick="showImage(this,3)"><img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg"></li>
                <li onclick="showImage(this,4)"><img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg"></li>
            </ul>
        </li>
        <li>
            <div class="good-evaluate-user-info clear">
                <span class="fl user">夜空领域</span>
                <span class="credit fl"><span style="width:60%"></span></span>
                <p class="fr date">2018/2/23</p>
            </div>
            <p class="good-evaluate-title h30 lh30">还可以，不错！不错！挺不错的。下次再买！</p>
            <ul class="good-evaluate-img clear">
                <li onclick="showImage(this,0)"><img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg"></li>
                <li onclick="showImage(this,1)"><img src="http://img02.tooopen.com/images/20151001/tooopen_sy_144240614873.jpg"></li>
                <li onclick="showImage(this,2)"><img src="http://scsc.top/data/gallery_album/original_img/5b10b781767c8.jpg"></li>
            </ul>
        </li>
    </ul>
    <div class="tc bg_white show-all-evaluate">
        <a class="layui-btn layui-btn-primary layui-btn-radius" href="#">查看全部评价</a>
    </div>
</div>
<div class="swiper-container swiper-evaluate" id="origin-img">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination pagination-top" ></div>
</div>
<!--商品推荐-->
<a name="guess-your-love"></a>
<div class="module-hot-goods guess-your-love">
    <p class="title mt10">猜你喜欢</p>
    <div class="swiper-container love-goods-banner">
        <div class="swiper-wrapper" >
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                              <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide">
                <ul class="goods-list clear">
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                    <li>
                        <img class="good-img" src="http://scsc.top/images/201710/thumb_img/0_thumb_G_1508379649946.jpg">
                        <p class="good-desc">Lay’s/乐事薯片清爽酸奶零食 </p>
                        <div class="mt5">
                            <p class="fl">已售3</p>
                            <p class="fr">
                                <span class="goods-price">¥45.00</span>
                                <!--  <span class="goods-old-price">¥45.00</span>-->
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<!--商品详情-->
<a name="good-detail"></a>
<div class="good-detail mt5">
    <ul class="good-detail-bar tab-nav">
        <li class="tab-nav-item active">商品介绍</li>
        <li class="tab-nav-item">规格参数</li>
        <li class="tab-nav-item">售后保障</li>
    </ul>
    <div class="good-detail-module">
        <div class="tab-content">
            <div class="tab-content-item">商品简介</div>
            <div class="tab-content-item">规格参数</div>
            <div class="tab-content-item">售后保障</div>
        </div>
    </div>
</div>

<div class="detail_popup" id="popupBuyArea">
    <div class="main" id="popupMain">
        <div class="header">
            <img alt="商品图" class="avt" id="popupImg" ptag="7001.1.239" src="//m.360buyimg.com/mobilecms/s750x750_jfs/t21361/160/67083062/266022/16b48e62/5af94dd0Na2afc153.png!q80.webp" />
            <p class="price">&yen;<em>99</em>.00</p>
            <p class="prop"><span>已选</span> cs10藏青+浅蓝,XL,1个</p>
            <i class="close" id="popupClose"></i>
        </div>
        <div class="body">
            <div id="popupSkuArea" >
                <div class="sku_kind">颜色</div>
                <div class="sku_choose clear" id="skuPop1">
                    <span class="item" no="1" dis="0">cs10白色+藏青</span>
                    <span class="item" no="1" dis="0">cs10白色+粉红</span>
                    <span class="item" no="1" dis="0">cs10白色+黑色</span>
                    <span class="item" no="1" dis="0">cs10白色+天蓝</span>
                    <span class="item" no="1" dis="0">cs10藏青+黑色</span>
                    <span class="item" no="1" dis="0">CS55白色+藏青</span>
                </div>
            </div>
            <div class="purchase-count clear">
                <p class="fl">数量</p>
                <div class="layui-btn-group fr count-wrap">
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 minus">-</button>
                    <div class="layui-btn layui-btn-primary layui-btn-sm">
                        <input class="sumInput" type="text" value="1">
                    </div>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 add">+</button>
                </div>
            </div>
        </div>
        <div class="btns show">
            <div class="btn blue" ptag="7001.1.235" tag="1" id="popupConfirm">
                确认
            </div>
        </div>
    </div>
</div>
{include file="Public/footer-shop"}
{include file="Public/footer-quick-nav"}
<script>

    $(function () {
        navTab();
        eventDeal();//页面点击事件处理
        new countCalculate()//数字计算
    })
    var swiper1 = bannerSwiper('header-banner');//顶部banner
    var swiper2 = bannerSwiper('love-goods-banner');//猜你喜欢 滚动

    //评价图片滚动
    var swiper = new Swiper('.swiper-evaluate',{
        zoom:true,
        width: window.innerWidth,
        virtual: true,
        spaceBetween:20,
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
        on:{
            click: function(){
                $('#origin-img').fadeOut('fast');
                this.virtual.slides.length=0;
                this.virtual.cache=[];
                swiperStatus=false;

            },
        },

    });
    function showImage(_this,index){
        var imgs = $(_this).parent().find("img");
        imgs.each(function (i,ele) {
            swiper.virtual.appendSlide('<div class="swiper-zoom-container"><img src="'+$(ele).attr("src")+'" /></div>');
        });
        swiper.slideTo(index);
        $('#origin-img').fadeIn('fast');
        swiperStatus=true;
    }


</script>
</body>
</html>