{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--券详情-->
<style>
    .voucher-detail{}
    .voucher-detail .content{
        padding: 2px 5px;
        background: white;
    }
    .footer-pay-info li{
        width: 50%;
        float: left;
        height: .56rem;
    }
    .footer-pay-info .go-pay{
        background: orange;
        color: white;
        width: 100%;
        display: inline-block;
        height: .56rem;
        line-height: .56rem;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
</style>
<div class="voucher-detail">
   <div class="content">
       有效期32456789
       有效期32456789 有效期32456789 有效期32456789 有效期32456789
       有效期32456789 有效期32456789 有效期32456789 有效期32456789 有效期32456789 有效期32456789 有效期32456789
   </div>
    <ul class="footer-fixed footer-pay-info clear">
        <li>
            <p class="pl10 pt5"><i class="price bold f24">￥68</i><span class="border-tag ml10">6.8折</span> </p>
            <p class="pl10 grey f12">门市价<i>￥100</i></p>
        </li>
        <li>
            <a class="go-pay">立&nbsp;即&nbsp;抢&nbsp;购</a>
        </li>
    </ul>
</div>
</body>
</html>