{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="奖券名称" name="name" value="{$vo.name ?? ''}"  datatype="*" nullmsg="请填写奖券名称" errormsg="请填写奖券名称">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="form form-horizontal">
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券主题图：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" class="input-text" readonly id="upload" placeholder="奖券主题图" name="main_pic" value="{$vo.main_pic ?? ''}" datatype="*" nullmsg="请填写图片url" style="width: 70%">
                    <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\'])}')">上传</button>
                    <a onclick="$(this).attr('href', $('#upload').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>
                </div>
                <div class="col-xs-3 col-sm-3"></div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">发放开始时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate" placeholder="奖券发放开始时间" name="grant_start_date"  value="{$vo.grant_start_date ?? ''}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:mm:ss'})" {/literal}   nullmsg="请填写奖券发放开始时间" errormsg="请填写奖券发放开始时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">发放结束时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate" placeholder="奖券发放结束时间" name="grant_end_date"  value="{$vo['grant_end_date'] ?? ''}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:mm:ss'})" {/literal} nullmsg="请填写奖券发放结束时间" errormsg="请填写奖券发放结束时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>有效期开始时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate" placeholder="奖券有效期开始时间" name="expire_start_date"value="{$vo['expire_start_date'] ?? ''}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:mm:ss'})" {/literal}  datatype="*" nullmsg="请填写奖券有效期开始时间" errormsg="请填写奖券有效期开始时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>有效期结束时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate" placeholder="奖券有效期结束时间" name="expire_end_date" value="{$vo['expire_end_date'] ?? ''}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd  H:mm:ss'})" {/literal}  datatype="*" nullmsg="请填写奖券有效期结束时间" errormsg="请填写奖券有效期结束时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券类型：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <?php if(isset($flag)){  ?>
                    <select name="type" class="select" datatype="*" nullmsg="请选择类型" errormsg="请选择类型">
                        <option value="{$vo.type ?? ''}"><?php if($vo['type']==1){ echo "抵用券";}if($vo['type']==2){ echo "优惠券";}if($vo['type']==3){ echo "代金券";}if($vo['type']==4){ echo "积分券";} ?></option>
                    </select>
                    <?php }else{?>
                    <select name="type" class="select" datatype="*" nullmsg="请选择类型" errormsg="请选择类型">
                        <option value="1">抵扣券</option>
                        <option value="2">优惠券</option>
                        <option value="3">代金券</option>
                        <option value="4">积分抵现金</option>
                    </select>
                    <?php } ?>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3">类型生成之后不可修改</div>
        </div>
        <?php if(isset($flag)){
            if($vo['type']==1){ ?>
        <div class="row cl quan1" style="display: block;" >
            <label class="form-label col-xs-3 col-sm-3">抵扣券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text"  style="width:50%;" placeholder="" name="voucher_money" value="{$vo.voucher_money ?? ''}" >
                抵<input type="number" class="input-text"  style="width:50%;"  name="voucher_real_money" value="{$vo.voucher_real_money ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <?php  } if($vo['type']==2){ ?>
        <div class="row cl quan2" style="display: ;">
            <label class="form-label col-xs-3 col-sm-3">优惠券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                满<input type="number" class="input-text"  style="width:50%;" placeholder="" name="coupon_money" value="{$vo.coupon_money ?? ''}" >
                减<input type="number" class="input-text"  style="width:50%;"  name="coupon_real_money" value="{$vo.coupon_real_money ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <?php  } if($vo['type']==3){ ?>
        <div class="row cl quan3" style="display: ;">
            <label class="form-label col-xs-3 col-sm-3">代金券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text"  style="width:50%;" placeholder="" name="cash_coupon_real_money" value="{$vo.cash_coupon_real_money ?? ''}" >元
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <?php  } if($vo['type']==4){ ?>
        <div class="row cl quan4" style="display: ;">
            <label class="form-label col-xs-3 col-sm-3">积分券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text"  style="width:50%;" placeholder="" name="score_money" value="{$vo.score_money ?? ''}" >
                积分抵<input type="number" class="input-text"  style="width:50%;"  name="score_real_money" value="{$vo.score_real_money ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <?php  } }else{ ?>
        <div class="row cl quan1" style="display: block;" >
            <label class="form-label col-xs-3 col-sm-3">抵扣券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text"  style="width:50%;" placeholder="" name="voucher_money" value="{$vo.voucher_money ?? ''}" >
                抵<input type="number" class="input-text"  style="width:50%;"  name="voucher_real_money" value="{$vo.voucher_real_money ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl quan2" style="display: none;">
            <label class="form-label col-xs-3 col-sm-3">优惠券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                满<input type="number" class="input-text"  style="width:50%;" placeholder="" name="coupon_money" value="{$vo.coupon_money ?? ''}" >
                减<input type="number" class="input-text"  style="width:50%;"  name="coupon_real_money" value="{$vo.coupon_real_money ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl quan3" style="display: none;">
            <label class="form-label col-xs-3 col-sm-3">代金券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text"  style="width:50%;" placeholder="" name="cash_coupon_real_money" value="{$vo.cash_coupon_real_money ?? ''}" >元
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl quan4" style="display: none;">
            <label class="form-label col-xs-3 col-sm-3">积分券设置：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text"  style="width:50%;" placeholder="" name="score_money" value="{$vo.score_money ?? ''}" >
                积分抵<input type="number" class="input-text"  style="width:50%;"  name="score_real_money" value="{$vo.score_real_money ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <?php } ?>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券数量：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text" placeholder="奖券数量" name="number" value="{$vo.number ?? ''}"  datatype="*" nullmsg="请填写奖券数量" errormsg="请填写奖券数量">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>关联商品id：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="goods_id" class="select" datatype="*" nullmsg="请选择关联商品" errormsg="请选择关联商品">
                        <option value="0">所有商品</option>
                        <option value="1">商品1</option>
                        <option value="1">商品1</option>
                        <option value="1">商品1</option>
                        <option value="1">商品1</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">链接：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="url" class="input-text" placeholder="链接" name="url" value="{$vo.url ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">奖券详情：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <!--<script id="editor" type="text/plain" name="desc" style="text-align:center;width:600px;height:500px;">{$vo.desc ?? ''}</script>-->
                <textarea id="container" name="desc">{$vo.desc ?? ''}</textarea>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit"  class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/lightbox2/css/lightbox.min.css">
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<!--图片上传-->
<script src="__LIB__/lightbox2/js/lightbox.min.js"></script>
<!--百度编辑器 start-->
<!--<script type="text/javascript" src="__LIB__/showdown/1.4.2/showdown.min.js"></script>-->
<!--<script>window.UEDITOR_HOME_URL = '__LIB__/ueditor/1.4.3/'</script>-->
<!--<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>-->
<!--<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>-->
<!--配置文件-->
<script type="text/javascript" src="__UEDITOR__/ueditor.config.js"></script>
<!--编辑器源码文件-->
<script type="text/javascript" src="__UEDITOR__/ueditor.all.js"></script>
<!--实例化编辑器并设置toolbar的按钮-->
<script type="text/javascript">
    var ue = UE.getEditor('container', {
        toolbars: [
            ['source', 'fullscreen', 'undo', 'redo', 'formatmatch', '|',
                'bold', 'italic', 'underline', 'strikethrough', 'horizontal', '|',
                'fontfamily', 'fontsize', 'forecolor', 'backcolor', 'paragraph', 'lineheight', '|',
                'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', '|',
                'insertorderedlist', 'insertunorderedlist', '|',
                'insertrow', 'insertcol', 'deleterow', 'deletecol', '|',
                'mergeright', 'mergedown', 'mergecells', 'splittorows', 'splittocols', 'splittocells',
                'deletecaption', 'inserttitle', 'deletetable', '|',
                'simpleupload', 'insertimage', 'link', 'unlink', 'preview']
        ],
        autoFrameWidth: true,
        autoFrameHeight: true
    });
</script>
<!--<script>-->
    <!--$(function () {-->
        <!--var ue = UE.getEditor('editor',{-->
            <!--serverUrl:'{:\\think\\Url::build("Ueditor/index")}'-->
        <!--});-->
        <!--var converter = new showdown.Converter(),-->
            <!--text      = $("#markdown_tpl").html();-->
        <!--$("#markdown").html(converter.makeHtml(text));-->
        <!--// function getEditV(){-->
        <!--//     $('input[name="desc"]').val( ue.getContent() )-->
        <!--// }-->
    <!--})-->
<!--</script>-->
<!--百度编辑器 end-->

<script>
    $(function () {
        $("[name='type']").find("[value='{$vo.type ?? ''}']").attr("selected", true);
        $("[name='goods_id']").find("[value='{$vo.goods_id ?? ''}']").attr("selected", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
                console.log(ret);
            }
        });
        $('select[name="type"]').change(function () {
            if( $(this).val()==1 ){
                $('.quan1').css('display','block');
                $('.quan2').css('display','none');
                $('.quan3').css('display','none');
                $('.quan4').css('display','none');
            }
            if( $(this).val()==2 ){
                $('.quan2').css('display','block');
                $('.quan1').css('display','none');
                $('.quan3').css('display','none');
                $('.quan4').css('display','none');
            }
            if( $(this).val()==3 ){
                $('.quan1').css('display','none');
                $('.quan2').css('display','none');
                $('.quan3').css('display','block');
                $('.quan4').css('display','none');
            }
            if( $(this).val()==4 ){
                $('.quan1').css('display','none');
                $('.quan2').css('display','none');
                $('.quan3').css('display','none');
                $('.quan4').css('display','block');
            }
        })
    })
</script>
{/block}
