{extend name="template/base" /}
{block name="content"}
<link rel="stylesheet" href="__STATIC__/css/layui/css/layui.css" media="all" />
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post"  style="margin-top: 50px;" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="奖券名称" name="name" value="{$vo.name ?? ''}"  datatype="*" nullmsg="请填写奖券名称" errormsg="请填写奖券名称">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="form form-horizontal">
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券主题图：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" class="input-text" readonly id="upload" placeholder="奖券主题图" name="main_pic" value="{$vo.main_pic ?? ''}" datatype="*" nullmsg="请填写图片url" style="width: 70%">
                    <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\'])}')">上传</button>
                    <a onclick="$(this).attr('href', $('#upload').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>
                </div>
                <div class="col-xs-3 col-sm-3"></div>
            </div>
        </div>
        <div class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">奖券展示图：</label>
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">奖券展示图（多图片上传）</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;width: 50%;margin-left: 25%;">
                    预览图：
                    <div class="layui-upload-list" id="demo2">
                        <?php if(isset($vo['pic']) ){?>
                        {volist name="$vo.pic"  id="vo1"}
                        <img src="{$vo1}" style="width:100px;height:100px;" />
                        <input type="hidden" name="pic[]" value="{$vo1}">
                        <a href="javascript:;" class="layui-btn layui-btn-primary" onclick="return delPic(this)">删除该图</a>
                        {/volist}
                        <?php } ?>
                    </div>
                </blockquote>
            </div>
        </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>使用场合：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box"  id="">
                    <select name="use_type"  class="select" datatype="*" nullmsg="使用场合" errormsg="使用场合">
                        <option value="0"  {if condition="isset($vo['expire_type']) &&  $vo['expire_type'] eq 0"}selected{/if}>商品</option>
                        <option value="1"  {if condition="isset($vo['expire_type']) &&  $vo['expire_type'] eq 0"}selected{/if}>礼包</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>有效期类型：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box"  id="">
                    <select name="expire_type" onchange="choseDateType(this);" class="select"  id="expire_time" datatype="*" nullmsg="有效期类型" errormsg="有效期类型">
                        <option  value="0" {if condition="isset($vo['expire_type']) &&  $vo['expire_type'] eq 0"}selected{/if}>日期时间设置</option>
                        <option  value="1"  {if condition="isset($vo['expire_type']) &&  $vo['expire_type'] eq 1"}selected{/if}>天数设置</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl dayType" style="display:{php} if( isset($vo['expire_type']) &&  $vo['expire_type']==1){ echo 'block';}else{ echo 'none';}{/php}">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>有效期天数：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" style="width:160px" class="input-text" nullmsg="请填写有效期天数" errormsg="请填写有效期天数"  datatype="*" placeholder="30天，填上30即可" name="expire_time" value="{$vo.expire_time ?? ''}">
            </div>
            <div class="col-xs-3 col-sm-3">领取之后有效期天数</div>
        </div>
        <div class="row cl dateType"  style="display:{php} if( isset($vo['expire_type']) &&  $vo['expire_type']==1){ echo 'none';}else{ echo 'block';}{/php}" >
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>发放开始时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate"  datatype="*" placeholder="奖券发放开始时间" name="grant_start_date"  value="{php}if(isset($vo['grant_start_date'])){ echo date('Y-m-d H:i:s',$vo['grant_start_date']);}{/php}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:mm:ss'})" {/literal}   nullmsg="请填写奖券发放开始时间" errormsg="请填写奖券发放开始时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl dateType" style="display:{php} if( isset($vo['expire_type']) &&  $vo['expire_type']==1){ echo 'none';}else{ echo 'block';}{/php}">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>发放结束时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate"  datatype="*" placeholder="奖券发放结束时间" name="grant_end_date"  value="{php}if(isset($vo['grant_end_date'])){ echo date('Y-m-d H:i:s',$vo['grant_end_date']);}{/php}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:mm:ss'})" {/literal} nullmsg="请填写奖券发放结束时间" errormsg="请填写奖券发放结束时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl dateType"   style="display:{php} if( isset($vo['expire_type']) &&  $vo['expire_type']==1){ echo 'none';}else{ echo 'block';}{/php}">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>有效期开始时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate"  datatype="*" autocomplete="off" placeholder="奖券有效期开始时间" name="expire_start_date"value="{php}if(isset($vo['expire_start_date'])){ echo date('Y-m-d H:i:s',$vo['expire_start_date']);}{/php}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd H:mm:ss'})" {/literal}   nullmsg="请填写奖券有效期开始时间" errormsg="请填写奖券有效期开始时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl dateType"  style="display:{php} if( isset($vo['expire_type']) &&  $vo['expire_type']==1){ echo 'none';}else{ echo 'block';}{/php}">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>有效期结束时间：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text Wdate"  datatype="*" autocomplete="off" placeholder="奖券有效期结束时间" name="expire_end_date" value="{php}if(isset($vo['expire_end_date'])){ echo date('Y-m-d H:i:s',$vo['expire_end_date']);}{/php}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd  H:mm:ss'})" {/literal} nullmsg="请填写奖券有效期结束时间" errormsg="请填写奖券有效期结束时间">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券类型：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <?php if(isset($flag)){  ?>
                    <select name="type" class="select" datatype="*" nullmsg="请选择类型" errormsg="请选择类型">
                        <option value="{$vo.type ?? ''}"><?php if($vo['type']==1){ echo "抵用券";}if($vo['type']==2){ echo "优惠券";}if($vo['type']==3){ echo "代金券";}if($vo['type']==4){ echo "积分券";}if($vo['type']==5){ echo "生日券";} ?></option>
                    </select>
                    <?php }else{?>
                    <select name="type" class="select" datatype="*" onchange="showVoucher(this);" nullmsg="请选择类型" errormsg="请选择类型">
                        <option value="0">=请选择=</option>
                        <!--<option value="1">抵扣券</option>-->
                        <option value="2">优惠券</option>
                        <option value="3">代金券</option>
                        <!--<option value="4">免邮券</option>-->
                        <!--<option value="5">生日券</option>-->
                    </select>
                    <?php } ?>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3">类型生成之后不可修改</div>
        </div>
        <div class="row cl quan2" >
            <label class="form-label col-xs-3 col-sm-3">券设置：</label>
            <div id="voucherWrap">
                <div class="formControls col-xs-6 col-sm-6 voucher"   id="voucher2"><!--优惠券-->
                    满<input type="number" class="input-text" step="0.1"  style="width:50%;" name="coupon_real_money" value="{$vo.coupon_real_money ?? ''}" >
                    减<input type="number" class="input-text"  step="0.1"  style="width:50%;"  placeholder="券额"  name="coupon_money" value="{$vo.coupon_money ?? ''}" >
                </div>
                <div class="formControls col-xs-6 col-sm-6 voucher"  id="voucher3"><!--代金券-->
                    <input type="number" class="input-text"  step="0.1"  style="width:50%;" name="coupon_real_money" value="{$vo.coupon_real_money ?? ''}" >元代
                    <input type="number" class="input-text" step="0.1"  style="width:50%;"  placeholder="券额"  name="coupon_money" value="{$vo.coupon_money ?? ''}" >
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>奖券数量：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text" placeholder="奖券数量" name="number" value="{$vo.number ?? ''}"  datatype="*" nullmsg="请填写奖券数量" errormsg="请填写奖券数量">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        {php}if($_SESSION['think']['auth_id']==1){ {/php}
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">关联商户：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="user_id" id="select_user_id" onchange="getGoodsByUser(this);" class="select">
                        <option value="">--请选择--</option>
                        {volist name="userList" id="voUser"}
                        <option value="{$voUser.id}" {if condition="isset($vo['user_id']) && $vo['user_id'] eq $voUser['id']"}selected{/if}>{$voUser.realname}&nbsp;&nbsp;&nbsp;&nbsp;{$voUser.account}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3">当选择所有商品时不用选择关联商户</div>
        </div>
        {php}}{/php}
        <div class="row cl" id="agoods_id">
            <label class="form-label col-xs-3 col-sm-3">关联商品id：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box"  id="goodsList">
                    <select name="goods_id" class="select" >
                        <option value="">--请选择--</option>
                        {php}if($_SESSION['think']['auth_id']==1){ {/php}
                        <option value="all" id="goodsAll">所有商品</option>
                        {php}}{/php}
                        {volist name="goodsList" id="vo1"}
                        <option value="{$vo1.id}" {if condition="isset($vo['goods_id']) && $vo['goods_id'] eq $vo1['id']"}selected{/if}>{$vo1.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">链接：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="url" class="input-text" placeholder="链接" name="url" value="{$vo.url ?? ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">奖券详情：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <!--<script id="editor" type="text/plain" name="desc" style="text-align:center;width:600px;height:500px;">{$vo.desc ?? ''}</script>-->
                <textarea id="container" name="desc">{$vo.desc ?? ''}</textarea>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit"  class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/lightbox2/css/lightbox.min.css">
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<!--图片上传-->
<script src="__LIB__/lightbox2/js/lightbox.min.js"></script>
<!--百度编辑器 start-->
<!--<script type="text/javascript" src="__LIB__/showdown/1.4.2/showdown.min.js"></script>-->
<!--<script>window.UEDITOR_HOME_URL = '__LIB__/ueditor/1.4.3/'</script>-->
<!--<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>-->
<!--<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>-->
<!--<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>-->
<!--配置文件-->
<script type="text/javascript" src="__UEDITOR__/ueditor.config.js"></script>
<!--编辑器源码文件-->
<script type="text/javascript" src="__UEDITOR__/ueditor.all.js"></script>
<!--实例化编辑器并设置toolbar的按钮-->
<script type="text/javascript">
    var voucherWrap = $("#voucherWrap");
    var voucher2= $('#voucher2');
    var voucher3= $('#voucher3');
    voucherWrap.html('');
    function showVoucher(_this) {
        var val = $(_this).val();
        $('.voucher').remove();
        if(val ==2|| val ==3)
        voucherWrap.html(eval('voucher'+val));
        if( val ==3 ){
            $('#agoods_id').css('display','none')
        }else{
            $('#agoods_id').css('display','block')
        }
    }
    var ue = UE.getEditor('container', {
        toolbars: [
            ['source', 'fullscreen', 'undo', 'redo', 'formatmatch', '|',
                'bold', 'italic', 'underline', 'strikethrough', 'horizontal', '|',
                'fontfamily', 'fontsize', 'forecolor', 'backcolor', 'paragraph', 'lineheight', '|',
                'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', '|',
                'insertorderedlist', 'insertunorderedlist', '|',
                'insertrow', 'insertcol', 'deleterow', 'deletecol', '|',
                'mergeright', 'mergedown', 'mergecells', 'splittorows', 'splittocols', 'splittocells',
                'deletecaption', 'inserttitle', 'deletetable', '|',
                'simpleupload', 'insertimage', 'link', 'unlink', 'preview']
        ],
        autoFrameWidth: true,
        autoFrameHeight: true
    });
</script>
<!--<script>-->
    <!--$(function () {-->
        <!--var ue = UE.getEditor('editor',{-->
            <!--serverUrl:'{:\\think\\Url::build("Ueditor/index")}'-->
        <!--});-->
        <!--var converter = new showdown.Converter(),-->
            <!--text      = $("#markdown_tpl").html();-->
        <!--$("#markdown").html(converter.makeHtml(text));-->
        <!--// function getEditV(){-->
        <!--//     $('input[name="desc"]').val( ue.getContent() )-->
        <!--// }-->
    <!--})-->
<!--</script>-->
<!--百度编辑器 end-->

<script>
    $(function () {
        $("[name='type']").find("[value='{$vo.type ?? ''}']").attr("selected", true);
        $("[name='goods_id']").find("[value='{$vo.goods_id ?? ''}']").attr("selected", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
                console.log(ret);
            }
        });
        var type = $("select[name='expire_type']").find("option:selected").val();
        dateShow(type);
        console.log(type)
    })

    function choseDateType(_this) {
        var type = $(_this).val();
        dateShow(type);
    }
    function dateShow(type){
        var $dayType =  $('.dayType');
        var $dateType=  $('.dateType');
        $dayType.hide().find('input').removeAttr('datatype');
        $dateType.hide().find('input').removeAttr('datatype');
        if(type == 1){
            //天数设置
            $dayType.show().find('input').attr('datatype','*');
        }else{
            //日期设置
            $dateType.show().find('input').attr('datatype','*');
        }
    }
    function getGoodsByUser(_this) {
        $.ajax({
            url:"{:url('lottery/getUserGoods')}",
            type:'post',
            data:{user_id:$(_this).val()},
            success:function (res) {
                var data = res.data;
                var  html ='<select name="goods_id" class="select" >';
                html +='    <option value="">--请选择--</option>';
                // html +='    <option value="all">所有商品</option>';
                if(data && data.length>0){
                    for(var i=0; i<data.length; i++){
                        html +='    <option value="'+data[i].id+'" >'+data[i].name+'</option>';
                    }
                }else{
                    html +='    <option value="all">所有商品</option>';
                }
                html +='</select>';
                $('#goodsList').html(html);
            }
        })
    }
</script>
<!-- 多图上传js -->
<script type="text/javascript" src="__STATIC__/js/layui.js"></script>
<script>

    layui.use(['form','upload'], function() {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            $ = layui.jquery;
        //多图片上传
        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: "{:url('admin/upload/upload')}"
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').append('<img src="'+ result +'" style="width:100px;height:100px;" alt="'+ file.name +'" class="layui-upload-img"><a href="javascript:;" class="layui-btn layui-btn-primary" onclick="return delPic(this)">删除该图</a>')
                });
            }
            ,done: function(data){
                //上传完毕
                // console.log(data)
                console.log(data.data.name)
                $('#demo2').append('<input type="hidden" name="pic[]" value="'+data.data.name+'">')

            }
        });

    })
    function delPic(obj){
        $(obj).prev().remove();
        $(obj).prev().remove().prev().remove();
        $(obj).remove();
    }
</script>
{/block}
