<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <div class="select-box" style="width:250px">
        <input type="text" class="input-text" style="width:250px" placeholder="用户昵称" name="username" value="{$Request.param.username}" >
    </div>
    {php}if($_SESSION['think']['auth_id']==1){ {/php}
    <div class="select-box" style="width:250px">
        <select name="shop_openid" class="select">
            <option value="">--核销者--</option>
            {volist name="adminUser" id="voUser"}
            <option value="{$voUser['openid']}" {if condition="$Request.param.shop_openid eq $voUser['openid']"}selected{/if}>{$voUser['account']}&nbsp;&nbsp;&nbsp;&nbsp;{$voUser['realname']}</option>
            {/volist}
        </select>
    </div>
    {php}}{/php}
    <div class="select-box" style="width:250px">
        <select name="lottery_id" class="select">
            <option value="">--代金券--</option>
            {if condition="!empty($lottery)"}
            {volist name="lottery" id="voLottery"}
            <option value="{$voLottery['id']}" {if condition="$Request.param.lottery_id eq $voLottery['id']"}selected{/if}>{$voLottery['name']}</option>
            {/volist}
            {/if}
        </select>
    </div>
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>