<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td>{$vo.use_openid}</td>
<td>{$vo.username}</td>
<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
<td>{$vo.num}</td>
<td>{php} echo \think\Db::name('lottery')->field('name')->where('id',$vo['lottery_id'])->find()['name']{/php}</td>
<td>{$vo.lottery_log_id}</td>
<td>{php}
    $user =  \think\Db::name('admin_user')->field('realname,account')->where('openid',$vo['shop_openid'])->find();
    echo $user['account'];
    echo "&nbsp;&nbsp;&nbsp;&nbsp;";
    echo $user['realname'];
    {/php}</td>
<td>{$vo.coupon_real_money}元代{$vo.coupon_money}元</td>
