<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td>{$vo.use_openid??''}</td>
<td>{$vo.username??''}</td>
<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
<td>{$vo.num??''}</td>
<td>{php} if(!empty($vo['lottery_id'])) {echo \think\Db::name('lottery')->field('name')->where('id',$vo['lottery_id'])->find()['name'];}{/php}</td>
<td>{$vo.lottery_log_id??''}</td>
<td>{php}
    echo $vo['account'];
    echo "&nbsp;&nbsp;&nbsp;&nbsp;";
    echo $vo['realname'];
   {/php}</td>
<td>{$vo.coupon_real_money??''}元代{$vo.coupon_money??''}元</td>
