{include file="Public/header-resource"}
<body class="footer-boottom">
<div class="voucher-detail">
    <div class="content">

    </div>
    <ul class="footer-fixed footer-pay-info clear">
        <li>
            <p class="pl10 pt5"><i class="price bold f24">￥ {$lottery['coupon_real_money']}</i><span class="border-tag ml10"> {$lottery['coupon_real_money']/$lottery['coupon_money']}折</span> </p>
            <p class="pl10 grey f12">门市价<i>￥ {$lottery['coupon_money']}</i></p>
        </li>
        <li>
            <a class="go-pay" style="background: #0B61A4" onclick="agreeUse();" >同&nbsp;意&nbsp;使&nbsp;用</a>
        </li>
    </ul>

</div>
<script>
    $('.content').html(tagParse("{$lottery['desc']}"));
    function agreeUse() {
        
    }
</script>
</body>
</html>