{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--券详情-->
<style>
     .affairm-go-pay{
        background: orange;
        color: white;
        width: 100%;
        display: inline-block;
        height: .5rem;
        line-height: .5rem;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    .voucher-affairm-detail{
        padding: 0 10px;
        background: white;

    }
    .voucher-affairm-detail li span{
        font-size: 14px;
    }
</style>
<div class="voucher-affairm ">
   <div class="title p5 bg_white f14">{$lottery['name']}</div>
    <div class="clear bg_white p10 mb5">
        <img  class="fl w50 h50" src="{$lottery['main_pic']}">
        <div class="fl w80p pl10" >
            <p class="clear">
                <span class="fl f14 bold">{$lottery['coupon_money']}元代金券</span>
                <span class="fr">￥{$lottery['coupon_real_money']}元</span>
            </p>
            <div>
                <span class="grey">周一至周日&nbsp;|&nbsp;&nbsp;</span>
                <span class="grey">部分可用&nbsp;|&nbsp;&nbsp;</span>
                <span class="grey">免预约&nbsp;|&nbsp;&nbsp;</span>
            </div>
            <div class="green">
                <span class="">随时退&nbsp;&nbsp;</span>
                <span class="">过期自动退</span>
            </div>
        </div>
    </div>
    <ul class=" voucher-affairm-detail">
        <li class="clear h40 lh40">
            <span class="fl bold">数量</span>
            <div class="layui-btn-group fr count-wrap ">
                <button class="layui-btn layui-btn-primary layui-btn-sm fr24 minus">-</button>
                <div class="layui-btn layui-btn-primary layui-btn-sm">
                    <input class="sumInput" name="lottery_num" type="text" data-store ="{$lottery['number']}" data-price="{$lottery['coupon_real_money']}" value="1" id="buyNum"  onkeyup="buyNumShow();">
                </div>
                <button class="layui-btn layui-btn-primary layui-btn-sm fr24 add">+</button>
            </div>
        </li>
        <li class="clear  h40 lh40">
            <span class="fl bold">小计</span>
            <div class="fr"><span class="price f12">￥<i class="priceShow">{$lottery['coupon_real_money']}</i>元</span></div>
        </li>
        <li class="clear  h40 lh40 mt0">
            <span class="fl bold">抵用券</span>
            <div class="fr">无可用券</div>
        </li>
        <li class="clear  h40 lh40">
            <span class="fl bold">实付金额</span>
            <div class="fr price">￥<i class="priceShow f16 ">{$lottery['coupon_real_money']}</i>元</div>
        </li>
    </ul>
    <ul class="footer-fixed clear">
        <li>
            <a class="affairm-go-pay" onclick="payLottery()" href="javascript:;" >提&nbsp;交&nbsp;订&nbsp;单</a>
        </li>
    </ul>
</div>
<script>
   $('.content').html(tagParse("{$lottery['desc']}"));
   new countCalculate(buyNumShow);//数字计算
   //显示购买数量 根据
   function buyNumShow(){
       var buyNum = $('#buyNum').val();
       var price = parseFloat($('#buyNum').attr('data-price'));
       $('.priceShow').html((buyNum*price).toFixed(2))
   }
   function payLottery(id) {
       var post_url ="{:url('lottery/paylottery')}"
       id ="{$lottery['id']}"
       var lottery_num = $('input[name="lottery_num"]').val()
       $.ajax({
           url:post_url,
           type:'post',
           data:{id:id,lottery_num:lottery_num },
           dataType:'json',
           success: function(data){
               layer_msg(data.msg);
               console.log(data)
               // if(data.code ==200){
               //     setTimeout(function(){
                       location.href=data.redirect;
               //     },1500);
               // }
           }
       })
   }
</script>
</body>
</html>