{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--卡券列表-->
<section>
    <ul class="nav-list-tab" id="navListTab">
        <li class="w50p active"><a href="javascript:;" onclick="loadOrderData(0)">未使用</a></li>
        <li class="w50p"><a href="javascript:;" onclick="loadOrderData(1)">使用记录</a></li>
    </ul>
    <div id="dataListWrap">
        <ul id="dataList" class="mycard-voucher-list mt50">
            <!-- <li>
                 <div class="product-info clear">
                     <img class="img fl" src="__STATIC__/index/images/image/headImg.jpg" alt="商品图片">
                     <p class="fl bold f16 ml10">本e草同堂</p>
                     <p class="price f24">¥15</p>
                 </div>
                 <div class="grey mt10 mb10">满100元可用</div>
                 <div class="clear">
                     <p class="fl grey">使用有效期：2018.05.04-2019.02.03</p>
                     <button class="fr layui-btn layui-btn-sm layui-btn-radius" >&nbsp;&nbsp;去使用 &nbsp;&nbsp;</button>
                 </div>
             </li>-->
        </ul>
    </div>
</section>
<script>
    tabSwitch($('.nav-list-tab li'));
    $(function () {
        loadOrderData()
    })

    function loadOrderData(status) {
        initData('dataList');
        pageload({
            targetWarp: 'dataListWrap',
            target: 'dataList',
            page: 1,
            size: 4,
            ajaxData: {
                url: "{:url('index/Lottery/mycardvoucher')}",
                data: {status: status},
            },
            dealFun: dealData
        });
    }

    function dealData(data) {
        console.log(data)
        var html = '';
        for (var i = 0; i < data.length; i++) {
            var coupon_type = data[i].type;
            html += '<li>';
            html += '    <div class="product-info clear">';
            html += '        <img class="img fl" src="' + data[i].main_pic + '" alt="商品图片">';
            html += '        <p class="fl bold f14 ml10">' + data[i].name + '</p>';

            switch(coupon_type){
                case constant.coupon.dikou:
                    //  html +='                <p class="price"> '+data[i].point_score+'积分 </p>';
                    break;
                case  constant.coupon.youhui:
                    //html +='                <p class="fl bold f14 ml10"> 满'+data[i].coupon_real_money+'优惠'+data[i].coupon_money+'元 </p>';
                    html += '        <p class="price f16">券额：￥'+data[i].coupon_money+'</p>';
                    break;
                case  constant.coupon.daijin:
                    //html +='                <p class="fl bold f14 ml10">代'+data[i].coupon_money+'元券</p>';
                    html += '        <p class="price f16">券额：￥'+data[i].coupon_money+'</p>';
                    break;
                case constant.coupon.mianyou:
                    //html +='                <p class="fl bold f14 ml10"> 包邮券 </p>';
                    break;
                default:
                    //  html +='                <p class="price"> ￥'+data.price+' </p>';
                    break;
            }
            html += '    </div>';

            html += '    <div class="grey mt5 mb5">' + tagParse(data[i].desc) + '</div>';
            html += '    <div class="clear">';
            //转换时间戳
            html += '        <p class="fl grey">使用有效期：' + formatDate(data[i].expire_start_date) + '－' +formatDate(data[i].expire_end_date) + '</p>';
            //console.log(parseInt("{$currentTime}"),data[i].expire_end_date)
            if (data[i].is_use == 0) {
                if (data[i].status == 1) {
                    if (parseInt("{$currentTime}") > data[i].expire_end_date) {
                        html += '        <button class="fr layui-btn layui-btn-xs layui-btn-radius" disabled="disabled" style="background-color: #d0d0d0">&nbsp;&nbsp;已过期 &nbsp;&nbsp;</button>';
                    } else {
                        switch(coupon_type){
                            case  constant.coupon.daijin:
                                html += '        <a onclick="showCode()" class="fr layui-btn layui-btn-xs layui-btn-radius" >&nbsp;&nbsp;去使用&nbsp;&nbsp;</a>';
                                break;
                            default:
                                html += '        <a  href="'+urlConnect("{:url('goods/detail')}",{id:data[i].goods_id})+'" class="fr layui-btn layui-btn-xs layui-btn-radius" >&nbsp;&nbsp;去使用&nbsp;&nbsp;</a>';
                                break;
                        }
                    }
                } else if (data[i].status == 0) {
                    html += '        <button class="fr layui-btn layui-btn-xs layui-btn-radius" disabled="disabled" style="background-color: #d0d0d0">&nbsp;&nbsp;已过期 &nbsp;&nbsp;</button>';
                }
            } else if (data[i].is_use == 1) {
                html += '        <button class="fr layui-btn layui-btn-xs layui-btn-radius" disabled="disabled" style="background-color: #d0d0d0">&nbsp;&nbsp;已使用 &nbsp;&nbsp;</button>';
            }
            html += '    </div>';
            html += '</li>';
        }
        return html;
    }

</script>
</body>
</html>