{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--卡券列表-->
<section>
    <ul class="nav-list-tab" id="navListTab">
        <li class="w50p active" data-type="noUse" data-status="0" ><a href="javascript:;" >未使用</a></li>
        <li class="w50p"  data-type="isUse" data-status="1"><a href="javascript:;" >使用记录</a></li>
    </ul>
    <div id="dataListWrap">
        <ul id="dataList" class="mycard-voucher-list mt50">
            <!-- <li>
                 <div class="product-info clear">
                     <img class="img fl" src="__STATIC__/index/images/image/headImg.jpg" alt="商品图片">
                     <p class="fl bold f16 ml10">本e草同堂</p>
                     <p class="price f24">¥15</p>
                 </div>
                 <div class="grey mt10 mb10">满100元可用</div>
                 <div class="clear">
                     <p class="fl grey">使用有效期：2018.05.04-2019.02.03</p>
                     <button class="fr layui-btn layui-btn-sm layui-btn-radius" >&nbsp;&nbsp;去使用 &nbsp;&nbsp;</button>
                 </div>
             </li>-->
        </ul>
    </div>
</section>
<script>
    tabSwitch($('.nav-list-tab li'),loadOrderData);
    $(function () {
        $('.nav-list-tab li').first().click();
    })

    function loadOrderData() {
        var status = $('#navListTab').find('.active').attr('data-status');
        loadShadow();
        var loadOption={
            targetWarp: 'dataListWrap',
            target: 'dataList',
            page: 1,
            size: 15,
            ajaxData: {
                url: "{:url('index/Lottery/mycardvoucher')}",
                data: {status: status},
            },
            dealFun: dealData,
            complete:useNum,
        };
        if(!(window.loadPageFun)){
            pageload(loadOption);
        }else{
            loadPageFun.dataInit(loadOption);
        }
    }

    function dealData(data) {
        var noUse =false;
        if($('.active').attr('data-type')=='noUse') noUse = true;
        var html = '';
        for (var i = 0; i < data.length; i++) {
            if(data[i].order_id && data[i].pay_status !=1) continue;
            var coupon_type = data[i]['lottery_info']['type'];
            var bg_color = 'bg_qianred';
            switch(coupon_type){
                case  constant.coupon.youhui:
                    bg_color = 'bg_qianred';
                    break;
                case  constant.coupon.daijin:
                    bg_color = 'bg_orange';
                    break;
                case constant.coupon.mianyou:
                    bg_color = 'bg_green';
                    break;
            }
            html += '<li class="lottery_bg '+bg_color+'">';
            html += '    <div class="product-info clear">';
            html += '        <img class="img fl" src="' + data[i]['lottery_info']['main_pic'] + '">';
            html += '        <p class="fl bold f14 ml10 white">' + data[i]['lottery_info']['name'] + '</p>';

            if(noUse){
                html +='<p class="fl bold f14 ml10 white">(共可用'+data[i].lottery_num+'张)</p>';
            }else
                html +='<p class="white fl bold f14 ml10">(已使用'+data[i].use_num+'张)</p>';
            html += '    </div>';
            //html += '    <div class="grey mt5 mb5">' + tagParse(data[i]['lottery_info']['desc']) + '</div>';
            switch(coupon_type){
                case  constant.coupon.youhui:
                    html +='                <p class="grey f14 lh30 white"> 满'+data[i]['lottery_info']['coupon_real_money']+'优惠'+data[i]['lottery_info']['coupon_money']+'元 </p>';
                    break;
                case  constant.coupon.daijin:
                    html +='                <p class="grey f14 lh30 white">'+data[i]['lottery_info']['coupon_real_money']+'代'+data[i]['lottery_info']['coupon_money']+'元券</p>';
                    break;
                case constant.coupon.mianyou:
                    break;
            }
            if(noUse){
                var expire_end_time=data[i]['addtime']+data[i]['lottery_info']['expire_time']*60*60*24;
                if(data[i]['lottery_info']['expire_type']==1){
                    html += '    <p class="fl white">有效期：' + formatDate(data[i]['addtime'],'yyyy-MM-dd h:mm:ss') + '－' +formatDate(expire_end_time,'yyyy-MM-dd h:mm:ss') + '</p>';
                }else{
                    html += '    <p class="fl white">有效期：' + formatDate(data[i]['lottery_info']['expire_start_date'],'yyyy-MM-dd h:mm:ss') + '－' +formatDate(data[i]['lottery_info']['expire_end_date'],'yyyy-MM-dd h:mm:ss') + '</p>';
                }
                html += '    <div class="clear mt5 btn-parents">';

                if(data[i]['lottery_info']['expire_type']==constant.dataType.day && parseInt("{$currentTime}") > expire_end_time ){
                    html += '        <button class="fr bg_grey layui-btn layui-btn-sm layui-btn-radius" disabled="disabled" style="background-color: #d0d0d0">&nbsp;&nbsp;已过期 &nbsp;&nbsp;</button>';
                }else if(data[i]['lottery_info']['expire_type']==constant.dataType.date && parseInt("{$currentTime}") > data[i]['lottery_info']['expire_end_date'] ){
                    html += '        <button class="fr bg_grey layui-btn layui-btn-sm layui-btn-radius" disabled="disabled" style="background-color: #d0d0d0">&nbsp;&nbsp;已过期 &nbsp;&nbsp;</button>';
                } else if(data[i]['lottery_info']['status']==0){
                    html += '        <button class="fr bg_grey layui-btn layui-btn-sm layui-btn-radius" disabled="disabled" style="background-color: #d0d0d0">&nbsp;&nbsp;已下架 &nbsp;&nbsp;</button>';
                }else {
                    switch(coupon_type){
                        case  constant.coupon.daijin://id:data.coupon_id,goods_id:data.id
                            html +='<div>'
                            html +='<span class="fl bold mt5 mr10 white">使用张数：</span>';
                            html +='<div class="layui-btn-group fl count-wrap ">';
                            html +='    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 minus">-</button>';
                            html +='    <div class="layui-btn layui-btn-primary layui-btn-sm">';
                            html +='        <input class="sumInput tc" name="lottery_num" type="text" data-store ="'+data[i].lottery_num+'" value="1" id="buyNum"  onkeyup="buyNumShow();">';
                            html +='    </div>';
                            html +='    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 add">+</button>';
                            html +='</div>';
                            html +='</div>';
                            html += '        <a onclick="moneyCoucherUse(this,'+data[i].id+')"  href="javascript:;"  class="moneyVoucher fr layui-btn layui-btn-sm layui-btn-radius" >&nbsp;&nbsp;去使用&nbsp;&nbsp;</a>';
                            break;
                        default:
                            if(data[i]['lottery_info']['goods_id']=='all'){
                                html += '        <a  href="{:url(\'goodsclass/sort\',array(\'param\'=>\'sort\'))}" class="fr layui-btn layui-btn-sm layui-btn-radius" >&nbsp;&nbsp;去使用&nbsp;&nbsp;</a>';

                            }else{
                                html += '        <a  href="'+urlConnect("{:url('goods/detail')}",{id:data[i]['lottery_info']['goods_id']})+'" class="fr layui-btn layui-btn-sm layui-btn-radius" >&nbsp;&nbsp;去使用&nbsp;&nbsp;</a>';
                            }
                            break;
                    }
                }
            html += '    </div>';
            }else{
                html +='<p class="white">已使用</p>'
            }

            html += '</li>';
        }
        return html;
    }
    function useNum() {
        new countCalculate();//数字计算
        //closeLoadShadow();
    }
    function moneyCoucherUse(_this,log_id){
        var useNum = $(_this).parents('.btn-parents').find('.sumInput').val();
        location.href = urlConnect("{:url('lottery/useDetail')}",{id:log_id,type:'use',useNum:useNum})
    }

</script>
</body>
</html>