{include file="Public/header-resource"}
<script src="__STATIC__/index/plugins/qrcode.js"></script>
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--券详情-->

<div class="voucher-detail">
   <div class="content">

   </div>
    <ul class="footer-fixed footer-pay-info clear">
        <li>
            <p class="pl10 pt5"><i class="price bold f24">￥ {$lottery['coupon_real_money']}</i><span class="border-tag ml10"> {$lottery['coupon_real_money']/$lottery['coupon_money']}折</span> </p>
            <p class="pl10 grey f12">门市价<i>￥ {$lottery['coupon_money']}</i></p>
        </li>
        <li>
            <input type="hidden"
                class="saveData"
                   data-id="{$lottery_log['id']}"
                   data-goods_id="{$lottery['goods_id']}"
                   data-user_id="{$lottery['user_id']}"
                   data-use_num="{$use_num}"
                   data-unique_flag="{$unique_flag}"
            >
            <a class="go-pay" onclick="goUse();" >立即使用{$use_num}张</a>
        </li>
    </ul>

</div>
<script>
   // var host = "http://shop.istiny.cc";
   var host ="http://10.20.1.171:81";
    var url={
        adminUserScanCode:host+"{:url('index/Lottery/adminUserScanCode')}",
    }
   $('.content').html(tagParse("{$lottery['desc']}"));
  //  console.log(urlConnect(url.adminUserScanCode,$('.saveData').data()))
   function goUse() {
       //设置参数方式
       layer.open({
           content: ' <div id="qrcode" style="width: 200px; height: 200px"></div>'
           ,btn: '关闭'
       });
       var qrcode = new QRCode('qrcode', {
           text:urlConnect(url.adminUserScanCode,$('.saveData').data()),
           width: 200,
           height: 200,
           colorDark : '#000000',
           colorLight : '#ffffff',
           correctLevel : QRCode.CorrectLevel.H
       });
   }
   function show() {
       
   }
</script>
</body>
</html>