{include file="Public/header-resource"}
{php}
$js_api_parameters = base64_decode($_GET['js_api_parameters']);
{/php}
<style>
    .btn-default-wrap{
        margin-top: 60%;
    }
    .btn-default{
        width: 80%;
        margin: 0 auto;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: white;
        background: rgba(20, 20, 20, 0.92);
        border: none;
        outline: none;
        font-size: 14px;
        display: block;
    }
</style>
<body style="background: white">
<div >
    <div class="payHead mt40">
        <p class="tc">订单金额</p>
        <p class=" tc mt20 f32" >¥<i class="ml5 f32">{$total}</i></p>
    </div>
    <div class="pt10 pl10 pr10">
        <p class="grey f12 lh30">请选择支付方式</p>
        <div class="lh40 clear">
            <img style="width: 30px" src="__STATIC__/index/images/weixin.png">
            <span>微信支付</span>
            <img class="fr" style="margin-top: 14px; width: 16px"   src="__STATIC__/index/images/gou.png">
        </div>
    </div>
    <div class="btn-default-wrap">
        <button  onClick="callpay()" id="payDom" class="btn-default">确认支付</button>
    </div>
</div>
    <script type="text/javascript">

        //调用微信JS api 支付
        function jsApiCall() {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$js_api_parameters},
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    // alert(res.err_code+res.err_desc+res.err_msg);
                   /* if(res.err_msg=='get_brand_wcpay_request:ok'){
                        setTimeout(function(){
                            window.location.href = "{:url('order/index',array('param'=>'all'))}";
                        },4000);
                    }else{
                        history.back(-1);
                    }*/
                    setTimeout(function(){
                        window.location.href = "{:url('order/index',array('param'=>'all'))}";
                    },4000);
                }
            );
        }

        function callpay()
        {
            layerLoad();
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
        // callpay();
    </script>
</body>
</html>
