{include file="Public/header-resource"}
<body class="footer-boottom">
<style>

</style>
<section>
    {include file="fxcenter/header-fx"}
    <div class="fx-user-detail">
        <ul class="service-list">
            <li class="clear">
                <span class="grey">身份级别</span>
                <span>价值消费会员</span>
            </li>
            <li class="clear">
                <span class="grey">微信昵称</span>
                <span>{$user['nickname']??''}</span>
            </li>
            <li class="clear">
                <span class="grey">真实姓名</span>
                <span>{$user['username']??''}</span>
            </li>
            <li class="clear">
                <span class="grey">手机号码</span>
                <span>{$user['mobile']??''}</span>
            </li>
        </ul>
    </div>
</section>
{include file="Public/footer-quick-nav"}

</body>
</html>