<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <label>用户名：</label>
    <input type="text" class="input-text" style="width:250px" placeholder="请输入用户名" name="username" value="{$Request.param.username}" autocomplete="off">&nbsp;&nbsp;
    <label>性别：</label>
    <div class="select-box" style="width:250px">
        <select name="sex" class="select">
            <option value="">请选择性别</option>
            <option value="1">男</option>
            <option value="2">女</option>
        </select>
    </div>&nbsp;&nbsp;
    <label>会员等级：</label>
    <div class="select-box" style="width:250px">
        <select name="grade" class="select">
            <option value="">请选择会员等级</option>
            <option value="1">大众会员</option>
            <option value="2">青铜会员</option>
            <option value="3">白银会员</option>
            <option value="4">黄金会员</option>
            <option value="5">钻石会员</option>
        </select>
    </div>&nbsp;
    <label>创建时间：</label>
    <input type="text" class="input-text Wdate" style="width:250px" placeholder="请输入起始创建时间" name="startCreate_time" value="{$Request.param.startCreate_time}" autocomplete="off" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >&nbsp<label>至<label>&nbsp;
    <input type="text" class="input-text Wdate" style="width:250px" placeholder="请输入截止创建时间" name="endCreate_time" value="{$Request.param.endCreate_time}" autocomplete="off" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >&nbsp;&nbsp;
    <label>手机号码：</label>
    <input type="text" class="input-text" style="width:250px" placeholder="请输入手机号" name="mobile" value="{$Request.param.mobile}" autocomplete="off">&nbsp;
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>