<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <label>用户名：</label>
    <input type="text" class="input-text" style="width:250px" placeholder="请输入用户名" id="username" name="username"
           value="{$Request.param.username}" autocomplete="off">&nbsp;&nbsp;
    <label>性别：</label>
    <div class="select-box" style="width:250px">
        <select name="sex" class="select" id="sex">
            <option value="">请选择性别</option>
            <option value="1">男</option>
            <option value="2">女</option>
        </select>
    </div>&nbsp;&nbsp;
    <label>会员等级：</label>
    <div class="select-box" style="width:250px">
        <select name="grade" class="select" id="grade">
            <option value="">请选择会员等级</option>
            <?php
                $grade_list = \think\Db::table('fy_customer_grade')->where(['isdelete'=>0])->select();
                  foreach($grade_list as $item){   ?>
            <option value="<?php echo $item['id']; ?>"><?php  echo $item['name']; ?></option>
                 <?php  }  ?>
        </select>
    </div>&nbsp;
    <label>创建时间：</label>
    <input type="text" class="input-text Wdate" style="width:250px" placeholder="请输入起始创建时间" name="startCreate_time"
           id="startCreate_time"
           value="{$Request.param.startCreate_time}" autocomplete="off" {literal}
           onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >&nbsp<label>至<label>&nbsp;
    <input type="text" class="input-text Wdate" style="width:250px" placeholder="请输入截止创建时间" name="endCreate_time"
           id="endCreate_time"
           value="{$Request.param.endCreate_time}" autocomplete="off" {literal}
           onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >&nbsp;&nbsp;
    <label>手机号码：</label>
    <input type="text" class="input-text" style="width:250px" placeholder="请输入手机号" name="mobile"
           value="{$Request.param.mobile}" autocomplete="off" id="mobile">&nbsp;
    <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    <button type="submit" class="btn btn-success radius" onclick="empty()">&nbsp;清空&nbsp;</button>
</form>
<!-- 清空筛选条件并刷新页面 -->
<script type="text/javascript">
    function empty() {
        var input_username = document.getElementById("username");
        input_username.value = "";
        var input_sex = document.getElementById("sex");
        input_sex.value = "";
        var input_grade = document.getElementById("grade");
        input_grade.value = "";
        var input_startCreate_time = document.getElementById("startCreate_time");
        input_startCreate_time.value = "";
        var input_endCreate_time = document.getElementById("endCreate_time");
        input_endCreate_time.value = "";
        var input_mobile = document.getElementById("mobile");
        input_mobile.value = "";
    }
</script>