{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file="form" /}
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add,forbid,resume,delete,recyclebin" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            {include file="th" /}
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            {include file="td" /}
            <td class="f-14">
                {tp:menu menu='sedit' /}
                {tp:menu menu='sdelete' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}
{block name="script"}

<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function () {
        $("[name='settlement_type']").find("[value='{$Request.param.settlement_type}']").attr("selected", true);
        $("[name='goods_class_id']").find("[value='{$Request.param.goods_class_id}']").attr("selected", true);
        $("[name='goods_brand_id']").find("[value='{$Request.param.goods_brand_id}']").attr("selected", true);
        $("[name='show_area']").find("[value='{$Request.param.show_area}']").attr("selected", true);
        $("[name='is_real']").find("[value='{$Request.param.is_real}']").attr("selected", true);
    })
    function editStatus(id,flag) {
       $.ajax({
           url:"{:url('goods/editStatus')}",
           data:{'id':id,'flag':flag},
           type:'post',
           success:function (res) {
                alert(res.msg)
               document.location.reload();
           },
       })
    }
    function upTip(id,flag) {
        $.ajax({
            url:"{:url('goods/upDownTip')}",
            data:{'id':id,'flag':flag},
            type:'post',
            success:function (res) {
                alert(res.msg)
                document.location.reload();
            },
        })
    }
</script>
{/block}

