<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.name|high_light=$Request.param.name}</td>
<td>{$vo.main_image}</td>
<td>{$vo.original_price}</td>
<td>{$vo.settlement_type}</td>
<td>{$vo.goods_class_id}</td>
<td>{$vo.goods_brand_id}</td>
<td>{$vo.show_area}</td>
<td>{$vo.detail}</td>
<td>{$vo.status|get_status}</td>
<td>{$vo.pic}</td>
<td>{$vo.subtitle}</td>
<td>{$vo.orderby}</td>
<td>{$vo.goods_weight}</td>
<td>{$vo.start_date}</td>
<td>{$vo.end_date}</td>
<td>{$vo.is_real}</td>
<td>{$vo.return_score}</td>
<td>{$vo.score_price}</td>
<td>{$vo.socre}</td>
<td>{$vo.price}</td>