{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}

<section class="affirm-order">
    <div class="aui-address-box-default">
        {if condition="$address  neq 0 "}
        <a class="show-address" href="{:\\think\\Url::build(\'address/index\')}">
            <p class="bold f14">{$address['name']??''}  &nbsp;&nbsp; {$address['mobile']}</p>
            <p>{$address['address']??''}&nbsp;&nbsp;&nbsp;&nbsp; {$address['street']??''}</p>
        </a>
        {else /}
        <a class="add-address" href="{:\\think\\Url::build(\'address/index\')}"><span>还没有地址去添加吧</span></a>
        {/if}
    </div>
    {volist name="storeData" id="vo" empty=""}

    <div class="mb5 orderWrap">
        <input type="hidden"
               class="goodsData"
               data-goodsid="{$vo['goodsId']}"
               data-num="{$vo['num']??''}"
               data-sku="{$vo['skuId']}"
               data-val="{$vo['val']??''}"
               data-price="{$vo['price1']??''}"
               data-carid="{$vo['carId']??''}"
               data-freetype="{$vo['free_type']??''}"
               data-postage="{$vo['postage']??''}"
               data-score="{$vo['point_score']??''}"
               data-showarea="{$vo['show_area']??''}"
               data-stype="{$vo['settlement_type']}"
        >
        <a href="{:url('goods/detail',array('id'=>$vo['goodsId']))}">
            <div class="clear pt10 goods-info-wrap">
                <div class="fl image">
                    <img width="100%" src="{$vo['main_image']}">
                </div>
                <div class="fr goods-info">
                    <p class="ellipsis title">{$vo['name']}</p>
                    <p>{$vo['val']}</p>
                    <div class="clear mt10">
                        <span class="fl red f16">
                            <em class="goodPriceTitle" data-type="{$vo['settlement_type']}"  data-score="{$vo['point_score']??''}" data-price="{$vo['price1']}" >
                            </em>
                        </span>
                        <span class="fr"><em id="purchaseNum">{$vo['num']}</em>件</span>
                    </div>
                </div>
            </div>
        </a>

        <ul class="service-info">
            <li class="clear">
                <span class="fl">服务信息</span>
                <!--<span class="fr">

                   &lt;!&ndash; <a href="javascript:;" onclick="showServiceInfo()">
                         <img style="width: 20px; height: 20px"  src="__STATIC__/index/images/info.png">价格说明
                    </a>&ndash;&gt;
                 </span>-->
                {if condition="$vo['service']" /}
                {volist name="$vo['service']" id="service"}
                <span class="content orange-border ml10">
                    {$service}
                </span>
                {/volist}
                {/if}
            </li>
            <li class="clear">
                <span class="fl">快递</span>
                <span class="fr">
                    {if condition="$vo['free_type']  eq 1 "}
                        包邮
                    {else /}
                        {$vo['postage']??'0'} 元邮费
                    {/if}
                </span>
            </li>
            {if condition="$vo['youhui']"}
            <li class="clear">
                <span class="fl">优惠</span>
                <div class="fr">
                    <select  class="w180 youhui"  onchange="showData()">
                        <option value="">不使用优惠券</option>
                        {volist name="$vo['youhui']" id="vo1" empty=""}
                        <option value="{$vo1['id']}" data-value="{$vo1['coupon_money']}">省{$vo1['coupon_money']}元：{$vo1['coupon_money']}元限时优惠券</option>
                        {/volist}
                    </select>
                </div>
            </li>
            {/if}
            {if condition="$vo['mianyou']"}
            <li class="clear">
                <span class="fl">免邮</span>
                <div class="fr">
                    <select  class="w180 mianyou" onchange="showData()">
                        <option value="">不使用免邮券</option>
                        {volist name="$vo['mianyou']" id="vo1" empty=""}
                        <option value="{$vo1['id']}" data-value="">免邮券</option>
                        {/volist}
                    </select>
                </div>
            </li>
            {/if}
            <li class="clear">
                <span class="fl">卖家留言：</span>
                <input type="text" class="fr words" placeholder="选填：填写内容已和卖家协商确定">
            </li>
        </ul>
    </div>

    {/volist}

    <div class="aui-payment-bar">
        <div class="shop-total">
            <span class="aui-red aui-size">实付款:<em id="showPrice" class="bold f14"></em></span>
        </div>
        <a href="javascript:;" id="singlePay" class="settlement" onclick="saveOrder()">提交订单</a>
    </div>
</section>
<script>
    recodeHistoryUrl();
    $('.goodPriceTitle').each(function (index,ele) {
        $(ele).html(priceScoreShow($(ele).data('type'),$(ele).data('price'),$(ele).data('score')))
    })
    var url = {
        pay:"{:url('index/order/pay')}",
    }
   var saveData = new Array();
   $(function () {
       showData();
   })
   function showServiceInfo(){
      layer.open({
           title:'价格说明'
           ,content: '<small>因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，商品售价以本结算页商品价格为准；<br>如有疑问，请您立即联系销售商咨询。</small>'
           ,btn: ['知道了']
           ,yes: function(index){
               layer.close(index);
           }
       });
   }
   function saveOrder() {
       saveData = new Array()//初始化数组
       $('.goodsData').each(function (index,ele) {
           var $ele = $(ele);
           var $parents = $(ele).parents('.orderWrap');
           var $mianyou = $parents.find('.mianyou')//免邮券
               ,$youhui=$parents.find('.youhui')//优惠券
           var thisData = {
               goodsId:$ele.data('goodsid'),
               num:$ele.data('num'),
               skuId:$ele.data('sku'),
               val:$ele.data('val'),
               price:$ele.data('price'),
               carId:$ele.data('carid'),
               words:$ele.parents('.orderWrap').find('.words').val(),
               addressId:"{$address['id']??''}",
               show_area:$ele.data('showarea'),
               pointScore:$ele.data('score'),
               youhuiId:$youhui.val(),
               baoyouId:$mianyou.val(),
           };
           saveData.push(thisData);
       })
       pub_save({
           url:url.pay,
           return_url:'#',
           data:{arr:JSON.stringify(saveData)},
       })
   }

    function showData() {
       var totalPrice = 0,
           totalPoint=0
       ;
        $('.goodsData').each(function (index,ele) {
            var $ele =$(ele);
            var $parents = $(ele).parents('.orderWrap');
            var num =$ele.data('num') ,
                price =$ele.data('price'),
                postage =parseFloat($ele.data('postage')),
                freetype =$ele.data('freetype'),
                show_area=$ele.data('showarea'),
                pointScore=$ele.data('score'),
                stype = $ele.data('stype')
            ;
            var $mianyou = $parents.find('.mianyou')//免邮券
                ,$youhui=$parents.find('.youhui')//优惠券

            switch(stype){
                case 1:
                    totalPrice += parseInt(num)*parseFloat(price);
                    break;
                case 2:
                    totalPoint +=(parseInt(num)*parseFloat(pointScore));
                    break;
                case 3:
                    totalPoint +=(parseInt(num)*parseFloat(pointScore));
                    totalPrice += parseInt(num)*parseFloat(price);
                    break;
            }
            if($youhui.val() ){
                totalPrice -=parseInt($youhui.find('option:selected').attr('data-value'));
            }
            if(($mianyou.val()) || (freetype==0 && !isNaN(postage))){
                totalPrice += postage;//加上邮费
            }
        })
        var html='';
        totalPrice = totalPrice.toFixed(2);
        if(totalPrice>0 && totalPoint>0) html ='￥'+totalPrice+'+'+totalPoint+'积分';
        else{
            if(totalPrice>0)   html +='￥'+totalPrice;
            if (totalPoint>0) html +=totalPoint+'积分'
            if(!(totalPrice>0) && !(totalPoint>0)) html +=0;
        }
        $('#showPrice').html(html)
    }
</script>
</body>
</html>