{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}

<section class="affirm-order">
    <div class="aui-address-box-default">
        {if condition="$address  neq 0 "}
        <a class="show-address" href="{:\\think\\Url::build(\'address/index\')}">
            <p class="bold f14">{$address['name']??''}  &nbsp;&nbsp; {$address['mobile']}</p>
            <p>{$address['address']??''}&nbsp;&nbsp;&nbsp;&nbsp; {$address['street']??''}</p>
        </a>
        {else /}
        <a class="add-address" href="{:\\think\\Url::build(\'address/index\')}"><span>还没有地址去添加吧</span></a>
        {/if}
    </div>
    {volist name="storeData" id="vo" empty=""}

    <div class="mb5 orderWrap">
        <input type="hidden"
               class="goodsData"
               data-goodsid="{$vo['goodsId']}"
               data-num="{$vo['num']??''}"
               data-sku="{$vo['skuId']}"
               data-val="{$vo['val']??''}"
               data-price="{$vo['price1']??''}"
               data-carid="{$vo['carId']??''}"
               data-freetype="{$vo['free_type']??''}"
               data-postage="{$vo['postage']??''}"
               data-score="{$vo['point_score']??''}"
               data-showarea="{$vo['show_area']??''}"
               data-stype="{$vo['settlement_type']}"
               data-status="{$vo['status']}"
               data-start_date="{$vo['start_date']}"
               data-end_date="{$vo['end_date']}"
        >
        <a href="{:url('goods/detail',array('id'=>$vo['goodsId']))}">
            <div class="clear pt10 goods-info-wrap">
                <div class="fl image">
                    <img width="100%" src="{$vo['main_image']}">
                </div>
                <div class="fr goods-info">
                    <p class="ellipsis title">{$vo['name']}</p>
                    <p>{$vo['val']}</p>
                    <div class="clear mt10">
                        <span class="fl red f16">
                            <em class="goodPriceTitle" data-type="{$vo['settlement_type']}"  data-score="{$vo['point_score']??''}" data-price="{$vo['price1']}" >
                            </em>
                        </span>
                        <span class="fr"><em id="purchaseNum">{$vo['num']}</em>件</span>
                    </div>
                </div>
            </div>
        </a>

        <ul class="service-info">
            {if condition="$vo['service']" /}
            <li class="clear">
                <span class="fl">服务信息</span>
                {volist name="$vo['service']" id="service"}
                <span class="content orange-border ml10">
                    {$service}
                </span>
                {/volist}
            </li>
            {/if}
            <li class="clear">
                <span class="fl">快递</span>
                <span class="fr">
                    {if condition="$vo['free_type']  eq 1 "}
                        包邮
                    {else /}
                        {$vo['postage']??'0'} 元邮费
                    {/if}
                </span>
            </li>
            {if condition="$vo['youhui'] && $vo['settlement_type'] neq 2 "}
            <li class="clear">
                <span class="fl">优惠</span>
                <div class="fr">
                    <select  class="w210 youhui"  onclick="getValue(this)"  onchange="showData(this)">
                        <option value="">不使用优惠券</option>
                        {volist name="$vo['youhui']" id="vo1" empty=""}
                            {php} if($vo1['goods_id']== 'all'){{/php}
                                <option value="{$vo1['id']}" class="lottery_id_{$vo1['id']}"  data-lottery_log_id="{$vo1['lottery_log_id']}" data-value="{$vo1['coupon_money']}">通用优惠券{$vo1['coupon_money']}元</option>
                            {php}}else{{/php}
                                <option value="{$vo1['id']}" class="lottery_id_{$vo1['id']}"  data-lottery_log_id="{$vo1['lottery_log_id']}" data-value="{$vo1['coupon_money']}">省{$vo1['coupon_money']}元：{$vo1['name']}</option>
                            {php}}{/php}
                        {/volist}
                    </select>
                </div>
            </li>
            {/if}
            {if condition="$vo['mianyou'] && $vo['settlement_type'] neq 2"}
            <li class="clear">
                <span class="fl">免邮</span>
                <div class="fr">
                    <select  class="w210 mianyou" onclick="getValue(this)"  onchange="showData(this)">
                        <option value="">不使用免邮券</option>
                        {volist name="$vo['mianyou']" id="vo1" empty=""}
                        <option value="{$vo1['id']}"  data-lottery_log_id="{$vo1['lottery_log_id']}" class="lottery_id_{$vo1['id']}" data-value="">免邮券</option>
                        {/volist}
                    </select>
                </div>
            </li>
            {/if}
            <li class="clear">
                <span class="fl">卖家留言：</span>
                <input type="text" class="fr words" placeholder="选填：填写内容已和卖家协商确定">
            </li>
        </ul>
    </div>

    {/volist}

    <div class="aui-payment-bar">
        <div class="shop-total">
            <span class="aui-red aui-size">实付款:<em id="showPrice" class="bold f14"></em></span>
        </div>
        <a href="javascript:;" id="singlePay" class="settlement" onclick="saveOrder()">提交订单</a>
    </div>
</section>
<script>
    var value_change={
        before:'',
        after:'',
    }
    recodeHistoryUrl();
    $('.goodPriceTitle').each(function (index,ele) {
        $(ele).html(priceScoreShow($(ele).data('type'),$(ele).data('price'),$(ele).data('score')))
    })
    var url = {
        pay:"{:url('index/order/pay')}",
    }
   var saveData = new Array();
   $(function () {
       showData();
   })
    function showServiceInfo(){
      layer.open({
           title:'价格说明'
           ,content: '<small>因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，商品售价以本结算页商品价格为准；<br>如有疑问，请您立即联系销售商咨询。</small>'
           ,btn: ['知道了']
           ,yes: function(index){
               layer.close(index);
           }
       });
   }
    function saveOrder() {
       saveData = new Array()//初始化数组
        var isDiscard=false,  noActivity=false;
       $('.goodsData').each(function (index,ele) {
           var $ele = $(ele);
           var $parents = $(ele).parents('.orderWrap');
           var $mianyou = $parents.find('.mianyou')//免邮券
               ,$youhui=$parents.find('.youhui')//优惠券
           var thisData = {
               goodsId:$ele.data('goodsid'),
               num:$ele.data('num'),
               skuId:$ele.data('sku'),
               val:$ele.data('val'),
               price:$ele.data('price'),
               carId:$ele.data('carid'),
               words:$ele.parents('.orderWrap').find('.words').val(),
               addressId:"{$address['id']??''}",
               show_area:$ele.data('showarea'),
               pointScore:$ele.data('score'),
               status:$ele.data('status'),
               start_date:$ele.data('start_date'),
               end_date:$ele.data('end_date'),
               currentTime:"{$currentTime}",
               youhuiId:$youhui.val(),
               baoyouId:$mianyou.val(),
               youhui_lottery_log_id:$youhui.find('option:selected').data('lottery_log_id'),
               mianyou_lottery_log_id:$mianyou.find('option:selected').data('lottery_log_id'),

           };
           //商品既没有价格也没有积分，说明该规格商品 sku规格不存在，该规格商品失效
            isDiscard = isDiscardFlag(thisData);
            noActivity = noActivityFlag(thisData);
           if(isDiscard || noActivity) {
                return ;
            }
           saveData.push(thisData);
       })
        console.log(saveData)
        if(isDiscard || noActivity) {
           layer_msg('该订单已经失效，请重新下单');
            return ;
        }
      //  debugger;
       pub_save({
           url:url.pay,
           return_url:'#',
           data:{arr:JSON.stringify(saveData)},
       })
   }
    function getValue(_this) {
        value_change.before = $(_this).val();
    }
    //选择券时别的券相关显示
    function showLotterChose(_this){
        //券 只能选择一个
        value_change.after = $(_this).val();
        var afterVal='lottery_id_'+value_change.after;
        var beforeVal= 'lottery_id_'+value_change.before;
        var $thisGoods = $(_this).parents('.orderWrap');
        var $siblingsLi =$thisGoods.siblings();

        if(value_change.after != value_change.before){
            $siblingsLi.find('.'+afterVal).hide();
            $siblingsLi.find('.'+beforeVal).show();
        }


    }
    function showData(_this) {

       var totalPrice = 0,
           totalPoint=0
       ;
       //券 只能选择一个
        showLotterChose(_this)
        $('.goodsData').each(function (index,ele) {
            var $ele =$(ele);
            var $parents = $(ele).parents('.orderWrap');
            var num =$ele.data('num') ,
                price =$ele.data('price'),
                postage =parseFloat($ele.data('postage')),
                freetype =$ele.data('freetype'),
                show_area=$ele.data('showarea'),
                pointScore=$ele.data('score'),
                stype = $ele.data('stype')
            ;
            var $mianyou = $parents.find('.mianyou')//免邮券


                ,$youhui=$parents.find('.youhui')//优惠券

            switch(stype){
                case 1:
                    totalPrice += parseInt(num)*parseFloat(price);
                    break;
                case 2:
                    totalPoint +=(parseInt(num)*parseFloat(pointScore));
                    break;
                case 3:
                    totalPoint +=(parseInt(num)*parseFloat(pointScore));
                    totalPrice += parseInt(num)*parseFloat(price);
                    break;
            }
            if($youhui.val() ){
                totalPrice -=parseFloat($youhui.find('option:selected').attr('data-value'));
            }

            if((freetype==0 && !isNaN(postage))){
                totalPrice += (postage*parseInt(num));//加上邮费
            }
            console.log($mianyou.val())
            if($mianyou.val() && $mianyou.val()!=""){
                totalPrice -=  (postage*parseInt(num));//减去邮费
            }
        })

        var html='';
        totalPrice = totalPrice.toFixed(2);
        if(totalPrice>0 && totalPoint>0) html ='￥'+totalPrice.toFixed(2)+'+'+totalPoint+'积分';
        else{
            if(totalPrice>0)   html +='￥'+totalPrice;
            if (totalPoint>0) html +=totalPoint+'积分'
            if(!(totalPrice>0) && !(totalPoint>0)) html +=0;
        }
        $('#showPrice').html(html)
    }
</script>
</body>
</html>