{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--物流信息-->
<section id="J_oper_plugin">
    <div class="logis-info">
        <p> 物流公司: {$data['name']??''} </p>
        <p> 运单号码: {$data['num']??''} </p>
    </div>
    <div class="logis-detail">
        <ul>
            {volist name="$data['data']" id="vo"}
                <li>
                    <p class="logis-detail-date">{$vo['time']|substr=0,10}</p>
                    <div class="logis-detail-d logis-detail-first">
                        <div class="logis-detail-content">
                            <p class="logis-detail-content-time"> {$vo['time']|substr=-8} </p>
                            <p class="logis-detail-content-detail"> {$vo['context']} </p>
                        </div>
                    </div>
                </li>
            {/volist}
            {if condition="!$data['data']" /}  <!---->
            <div class="empty-wrap">
                <div class="empty-image">
                    <img  src="__STATIC__/index/images/empty-box.png">
                </div>
                <p class="h30 lh30 mt10 tc">您还没有相关的物流信息</p>
            </div>
            {/if}
        </ul>
    </div>
</section>
</body>
</html>