{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--物流信息-->
{include file="Public/header-order"}
<section id="J_oper_plugin">
    <div class="logis-info">
        <p> 物流公司 圆通速递 </p>
        <p> 运单号码 800327440022729530 </p>
    </div>
    <div class="logis-detail">
        <ul>
            <li>
                <p class="logis-detail-date">06-27</p>
                <div class="logis-detail-d logis-detail-first">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 13:20 </p>
                        <p class="logis-detail-content-detail"> 贵州省贵阳市宅吉二部公司 已签收 签收人：赵云 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 09:25 </p>
                        <p class="logis-detail-content-detail"> 贵州省贵阳市宅吉二部公司 派件中 派件员:张志荣 手机号:13027857017 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 09:25 </p>
                        <p class="logis-detail-content-detail"> 贵州省贵阳市宅吉二部 已收入 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 07:35 </p>
                        <p class="logis-detail-content-detail"> 贵州省贵阳市宅吉二部公司 已收入 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 02:25 </p>
                        <p class="logis-detail-content-detail"> 贵阳转运中心公司 已发出,下一站 贵州省贵阳市宅吉二部 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 02:00 </p>
                        <p class="logis-detail-content-detail"> 贵阳转运中心公司 已收入 </p>
                    </div>
                </div> </li>
            <li> <p class="logis-detail-date">06-25</p>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 23:40 </p>
                        <p class="logis-detail-content-detail"> 郑州转运中心公司 已发出,下一站 贵阳转运中心 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 23:40 </p>
                        <p class="logis-detail-content-detail"> 郑州转运中心公司 已收入 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 21:15 </p>
                        <p class="logis-detail-content-detail"> 河南省鹤壁市公司 已发出,下一站 郑州转运中心 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 21:06 </p>
                        <p class="logis-detail-content-detail"> 河南省鹤壁市公司 已打包 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 19:29 </p>
                        <p class="logis-detail-content-detail"> 河南省鹤壁市公司 已收件 </p>
                    </div>
                </div>
                <div class="logis-detail-d ">
                    <div class="logis-detail-content">
                        <p class="logis-detail-content-time"> 09:36 </p>
                        <p class="logis-detail-content-detail"> 卖家发货 </p>
                    </div>
                </div> </li>
        </ul>
    </div>
</section>
</body>
</html>