{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<style>
</style>
<section>
   <ul class="product-order-list-tab nav-list-tab" id="navListTab">
       <li  class="active"  data-status="all"><a href="javascript:;">全部</a></li>
       <li data-status="0"><a href="javascript:;"  >待付款</a></li>
       <li data-status="1"><a href="javascript:;"  >待发货</a></li>
       <li data-status="2"><a href="javascript:;"  >待收货</a></li>
       <li data-status="3"><a href="javascript:;"  >待退款</a></li>
       <li data-status="4"><a href="javascript:;"  >待评价</a></li>
   </ul>
    <div id="dataListWrap">
        <ul id="orderList" class="product-order-list mt50">
          <!--  <li>

                <div class="item-list pt10 module clear ">
                   <div class="item-img">
                       <p> <img class="" src="//img.alicdn.com/bao/uploaded/i3/25555523/TB29PxDaZj_B1NjSZFHXXaDWpXa_!!25555523.jpg_200x200.jpg" /> </p>
                   </div>
                   <div class="item-info">
                       <h3 class="title ellipsis">耐克男鞋208新款正品女鞋情侣鞋夏季透气网面运动鞋跑步鞋812654 耐克男鞋2018新款正品女鞋情侣鞋夏季透气网面运动鞋跑步鞋812654</h3>
                       <p class="sku f12 grey">颜色分类:女812655-011;鞋码:35.5</p>
                       <ul class="order-serviceinfo">   <li>七天退换</li>   </ul>
                   </div>
                   <div class="item-pay">
                       <div class="item-pay-data">
                           <p class="price f14"> ￥349.00 </p>
                           <p class="nums">x1</p>
                       </div>
                   </div>
               </div>
                <div class="module item clear bg_lightgrey p5" >
                    <div class="item-info">
                        <h3 class="title">保险服务 </h3>
                        <p class="sku"></p>
                    </div>
                    <div class="fr pr10">
                        <div class="item-pay-data">
                            <p class="price f14"> ￥0.00 </p>
                            <p class="nums">x1</p>
                        </div>
                    </div>
                </div>
                <div class="module  clear pr10 pt5" >
                    <div class="cont tr">
                        <span class="f14">共<b>1</b>件商品</span>
                        <span class="f14">合计:<b>￥71.90</b></span>
                        <span class="f14">(含运费<b>￥12.00</b>)</span>
                    </div>
                </div>
                <div class="module clear tr mt10 pr10" >
                    <button class="layui-btn layui-btn-primary layui-btn-sm">付款</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">取1消订单</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">联系卖家</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">朋友代付</button>
                </div>
                <div class="bottomLine"></div>
            </li>-->
        </ul>
        <div class="empty-wrap" style="display: none">
            <div class="empty-image">
                <img  src="__STATIC__/index/images/empty_order.png">
            </div>
            <p class="h30 lh30 mt10 tc">您还没有相关的订单</p>
            <p class="h30 lh30 tc grey">可以去看看有哪些想买</p>
            <p class="tc">
                <a href="{:\\think\\Url::build(\'\index/index\')}" class="layui-btn layui-btn-primary layui-btn-sm">随便逛逛</a>
            </p>
        </div>
    </div>
</section>
<script>
    var url = {
        orderList:"{:url('index/order/getOrderListApi')}",
        againPay:"{:url('index/order/againPay')}",//再次支付
        logistics:"{:url('index/order/logistics')}",//物流查看
    }
    tabSwitch($('.nav-list-tab li'),loadOrderData)
    function loadOrderData(){
        var status = $('#navListTab').find('.active').data('status');
        initData('orderList');
        hideEmptyWrap();
        pageload({
            targetWarp:'dataListWrap',
            target:'orderList',
            page:1,
            size:4,
            ajaxData:{
                url:url.orderList,
                data:{status:status},
            },
            dealFun:dealData
        });
    }
    function dealData(result) {
        var html='';

        for(var j = 0; j < result.length; j++){
            var data=result[j],//单个订单
                 status = '',//订单状态
                order_id=data[0].order_id+"";//订单id
            html +='<li>';
            html +='<a href="'+urlConnect("{:url('index/order/orderDetail')}",{id:order_id})+'">';
            for(var i=0; i<data.length; i++ ){
                var detail = data[i].goods_detail,
                    status = data[i].order_status ,
                    order_id = data[i].order_id;
                html +='    <div class="item-list pt10 module clear">';
                html +='        <div class="item-img">';
                html +='            <p> <img class="" src="'+detail.main_image+'" /> </p>';
                html +='        </div>';
                html +='        <div class="item-info">';
                html +='            <h3 class="title ellipsis">'+detail.name+'</h3>';
                html +='            <p class="sku f12 grey">'+data[i].sku_val+'</p>';
                html +='            <ul class="order-serviceinfo">   <li>'+detail.after_sale+'</li>   </ul>';
                html +='        </div>';
                html +='        <div class="item-pay">';
                html +='            <div class="item-pay-data">';
                html +='                <p class="price f14"> ￥'+data[i].price+' </p>';
                html +='                <p class="nums">x'+data[i].goods_num+'</p>';
                html +='            </div>';
                html +='        </div>';
                html +='    </div>';
                //   html +='    <div class="module item clear bg_lightgrey p5" >';
                //   html +='        <div class="item-info">';
                //   html +='            <h3 class="title">保险服务 </h3>';
                //   html +='            <p class="sku"></p>';
                //   html +='        </div>';
                //   html +='        <div class="fr pr10">';
                //   html +='            <div class="item-pay-data">';
                //   html +='                <p class="price f14"> ￥0.00 </p>';
                //   html +='                <p class="nums">x1</p>';
                //   html +='            </div>';
                //   html +='        </div>';
                //   html +='    </div>';
                html +='    <div class="module  clear pr10 pt5" >';
                html +='        <div class="cont tr">';
                html +='            <span class="f14">共<b>'+data[i].goods_num+'</b>件商品</span>';
                html +='            <span class="f14">合计:<b>￥'+data[i].total_price+'</b></span>';
                html +='            <span class="f14">(运费<b>￥'+detail.postage+'</b>)</span>';
                html +='        </div>';
                html +='    </div>';

            }
                 html +='</a>';
                html +='    <div class="module clear tr mt10 mb10 pr10" >';
                if( status==0)//代付款
                    html +='        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="pay(\''+order_id+'\')">付款</button>';
                else if(status ==1)// 代发货
                    html +='        <button class="layui-btn layui-btn-primary layui-btn-sm">联系卖家</button>';
                else if(status ==2) {
                    // 待收货
                    html +='        <button class="layui-btn layui-btn-primary layui-btn-sm">确认收货</button>';
                   // html +='        <a class="layui-btn layui-btn-primary layui-btn-sm" onclick="logistics(\''+order_id+'\',\''+goods_id+'\')">物流信息</a>';
                }
                else if(status==3)// 待退款
                    html +='        <button class="layui-btn layui-btn-primary layui-btn-sm">申请售后</button>';
                else if(status ==4)//待评价
                    html +='        <button class="layui-btn layui-btn-primary layui-btn-sm">评价</button>';
                html +='    </div>';
                html +='     <div class="bottomLine"></div>';
                html +='</li>';

        }
        return html;
    }

    function pay(orderid) {
        pub_save({
            url:url.againPay,
            return_url:"#",
            data:{id:orderid},
        })
    }

</script>
{include file="Public/footer"}
</body>
</html>