{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<style>
</style>
<section>
   <ul class="product-order-list-tab nav-list-tab" id="navListTab">
       <li id="nav_all"  class="active"  data-status="all"><a href="javascript:;">全部</a></li>
       <li id="nav_pay" data-status="0"><a href="javascript:;"  >待付款</a></li>
       <li id="nav_deliver" data-status="1"><a href="javascript:;"  >待发货</a></li>
       <li id="nav_takeDeliver" data-status="2"><a href="javascript:;"  >待收货</a></li>
       <li id="nav_refund" data-status="3"><a href="javascript:;"  >待退款</a></li>
       <li id="nav_evaluate" data-status="4"><a href="javascript:;"  >待评价</a></li>
   </ul>
    <div id="dataListWrap">
        <ul id="orderList" class="product-order-list mt50">
            <!--<li>

                <div class="item-list pt10 module clear ">
                    <div class="item-img">
                        <p> <img class="" src="//img.alicdn.com/bao/uploaded/i3/25555523/TB29PxDaZj_B1NjSZFHXXaDWpXa_!!25555523.jpg_200x200.jpg" /> </p>
                    </div>
                    <div class="item-info">
                        <h3 class="title ellipsis">耐克男鞋208新款正品女鞋情侣鞋夏季透气网面运动鞋跑步鞋812654 耐克男鞋2018新款正品女鞋情侣鞋夏季透气网面运动鞋跑步鞋812654</h3>
                        <p class="sku f12 grey">颜色分类:女812655-011;鞋码:35.5</p>
                        <ul class="order-serviceinfo">   <li>七天退换</li>   </ul>
                    </div>
                    <div class="item-pay">
                        <div class="item-pay-data">
                            <p class="price f14"> ￥349.00 </p>
                            <p class="nums">x1</p>
                        </div>
                    </div>
                </div>
                <div class="module item clear bg_lightgrey p5" >
                    <div class="item-info">
                        <h3 class="title">保险服务 </h3>
                        <p class="sku"></p>
                    </div>
                    <div class="fr pr10">
                        <div class="item-pay-data">
                            <p class="price f14"> ￥0.00 </p>
                            <p class="nums">x1</p>
                        </div>
                    </div>
                </div>
                <div class="module  clear pr10 pt5" >
                    <div class="cont tr">
                        <span class="f14">共<b>1</b>件商品</span>
                        <span class="f14">合计:<b>￥71.90</b></span>
                        <span class="f14">(含运费<b>￥12.00</b>)</span>
                    </div>
                </div>
                <div class="module clear tr mt10 pr10" >
                    <button class="layui-btn layui-btn-primary layui-btn-sm">付款</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">取1消订单</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">联系卖家</button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">朋友代付</button>
                </div>
                <div class="bottomLine"></div>
            </li>-->
        </ul>
        <div class="empty-wrap" style="display: none">
            <div class="empty-image">
                <img  src="__STATIC__/index/images/empty_order.png">
            </div>
            <p class="h30 lh30 mt10 tc">您还没有相关的订单</p>
            <p class="h30 lh30 tc grey">可以去看看有哪些想买</p>
            <p class="tc">
                <a href="{:\\think\\Url::build(\'\index/index\')}" class="layui-btn layui-btn-primary layui-btn-sm">随便逛逛</a>
            </p>
        </div>
    </div>
</section>
<script>
    var nav_param= "{$param}";
    var url = {
        orderList:"{:url('index/order/getOrderListApi')}",
        againPay:"{:url('index/order/againPay')}",//再次支付
        logistics:"{:url('index/order/logistics')}",//物流查看
        sureDeliver:"{:url('index/order/sureDeliver')}",
        refund:"{:url('index/order/refund')}",
        evaluateEdit:"{:url('index/order/orderComment')}",
    }

    tabSwitch($('.nav-list-tab li'),loadOrderData);
    $('#nav_'+nav_param).click();
    function loadOrderData(){
        var status = $('#navListTab').find('.active').data('status');
        initData('orderList');
        hideEmptyWrap();
        pageload({
            targetWarp:'dataListWrap',
            target:'orderList',
            page:1,
            size:4,
            ajaxData:{
                url:url.orderList,
                data:{status:status},
            },
            dealFun:dealData
        });
    }
    function dealData(result) {
        var html='';

        for(var j = 0; j < result.length; j++){
            var data=result[j],//单个订单
                 status = '',//订单状态

                order_id=data[0].order_id+"";//订单id
            html +='<li>';

            for(var i=0; i<data.length; i++ ){
                console.log(data)
                var detail = data[i].goods_detail,
                    status = data[i].order_status ,
                    goods_id =data[i].goods_id,
                    sku_id = data[i].sku_id,
                    show_area = detail.show_area,
                    order_id = data[i].order_id;
                console.log(goods_id)
                html +='<a href="'+urlConnect("{:url('index/order/orderDetail')}",{id:order_id})+'">';
                html +='    <div class="item-list pt10 module clear">';
                html +='        <div class="item-img">';
                html +='            <p> <img class="" src="'+detail.main_image+'" /> </p>';
                html +='        </div>';
                html +='        <div class="item-info">';
                html +='            <h3 class="title ellipsis">'+detail.name+'</h3>';
                html +='            <p class="sku f12 grey">'+data[i].sku_val+'</p>';
                html +='            <ul class="order-serviceinfo">   <li>'+detail.after_sale+'</li>   </ul>';
                html +='        </div>';
                html +='        <div class="item-pay">';
                html +='            <div class="item-pay-data">';
                switch(show_area){
                    case 2:
                        html +='                <p class="price f14"> '+data[i].point_score+'积分 </p>';
                        break;
                    default:
                        html +='                <p class="price f14"> ￥'+data[i].price+' </p>';
                        break;
                }

                html +='                <p class="nums">x'+data[i].goods_num+'</p>';
                html +='            </div>';
                html +='        </div>';
                html +='    </div>';
                //   html +='    <div class="module item clear bg_lightgrey p5" >';
                //   html +='        <div class="item-info">';
                //   html +='            <h3 class="title">保险服务 </h3>';
                //   html +='            <p class="sku"></p>';
                //   html +='        </div>';
                //   html +='        <div class="fr pr10">';
                //   html +='            <div class="item-pay-data">';
                //   html +='                <p class="price f14"> ￥0.00 </p>';
                //   html +='                <p class="nums">x1</p>';
                //   html +='            </div>';
                //   html +='        </div>';
                //   html +='    </div>';
                html +='    <div class="module  clear pr10 pt5" >';
                html +='        <div class="cont tr">';
                html +='            <span class="f14">共<b>'+data[i].goods_num+'</b>件商品</span>';
                html +='            <span class="f14">合计:<b>￥'+data[i].total_price+'</b></span>';
                if(detail.postage){
                    html +='            <span class="f14">(运费<b>￥'+detail.postage+'</b>)</span>';
                }else{
                    html +='            <span class="f14">(运费<b>￥0</b>)</span>';
                }
                html +='        </div>';
                html +='    </div>';
                html +='    <div class="module clear tr mt5 mb5 pr10" >';
                html +='</a>';
                switch(status)
                {
                    case 0://代付款
                        //html +='        <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="pay(\''+order_id+'\')">付款</button>';
                        break;
                    case 1://发货
                        html +='        <a class="layui-btn layui-btn-primary layui-btn-xs" onclick="refund(\''+order_id+'\',\''+goods_id+'\',\''+sku_id+'\')">退款</a>';
                        break;
                    case 2://待收货
                        if(data[i].is_get_status !=1)
                        html +='        <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="sureDeliver(\''+order_id+'\',\''+goods_id+'\',\''+sku_id+'\')">确认收货</button>';
                        html +='        <a class="layui-btn layui-btn-primary layui-btn-xs" onclick="refund(\''+order_id+'\',\''+goods_id+'\',\''+sku_id+'\')">退款</a>';
                        break;
                    case 3://待退款
                        break;
                    case 4://待评价
                        html +='        <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="evaluateEdit(\''+order_id+'\',\''+goods_id+'\',\''+sku_id+'\')">评价</button>';
                        break;
                }
                html +='    </div>';
            }

            html +='    <div class="module clear tr mt10 mb10 pr10" >';
            if(status==0)//代付款
                html +='        <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="pay(\''+order_id+'\')">付款</button>';
            // html +='        <button class="layui-btn layui-btn-primary layui-btn-xs">删除订单</button>';
            html +='        <button class="layui-btn layui-btn-primary layui-btn-xs">联系卖家</button>';
            html +='    </div>';
            html +='     <div class="bottomLine"></div>';
            html +='</li>';

        }
        return html;
    }
    function modifyComplete(data) {
        setTimeout(function () {
            loadOrderData()
        },1500)
    }

</script>
<script type="text/javascript" src="__STATIC__/index/js/view/order.js" ></script>
{include file="Public/footer"}
</body>
</html>