{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<style>
    .service-list{
        margin-top: 10px;
    }
    .service-list li{
        background: white;
        padding: 12px 4px;
        margin-bottom: 2px;
    }
</style>
<body>
    <ul class="product-order-list ">
        <li class="pb10" data-orderid="{$orderDetail.order_id}">
            <div class="item-list pt10 module clear">

                <div class="item-img">
                    <p> <img class="" src="{$orderDetail['goods_detail']['main_image']}" /> </p>
                </div>
                <div class="item-info">
                    <h3 class="title ellipsis">{$orderDetail['goods_detail']['name']}</h3>
                    <p class="sku f12 grey">{$orderDetail['sku_val']}</p>
                    <ul class="order-serviceinfo">   <li>{$orderDetail['goods_detail']['after_sale']}</li>   </ul>
                </div>
                <div class="item-pay">
                    <div class="item-pay-data">
                        <p class="price f14"> ￥{$orderDetail['price']} </p>
                        <p class="nums">x{$orderDetail['goods_num']}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="service-list" onclick="serviceSave('{$orderDetail.order_id}')">

        <li class="clear" onclick="serviceSave('{$orderDetail.order_id}')">
            <div class="fl w10p tc pt10"><img width="20" src="//gw.alicdn.com/tps/TB1qGHoKFXXXXcnaXXXXXXXXXXX-104-104.png"></div>
            <div class="fl w80p pl10">
                <p class="f14">退款退款</p>
                <p class="grey f12">已收到货,需要退换已收到的货物及退款</p>
            </div>
            <div class="fr w10p pt20 tr pr10">
                <i class="icon-right-arrow iconfont f12 grey"></i>
            </div>
        </li>
        <li class="clear" onclick="serviceSave('{$orderDetail.order_id}')">
            <div class="fl w10p tc pt10"><img width="20" src="//gw.alicdn.com/tps/TB1.5TwKFXXXXcEXVXXXXXXXXXX-104-104.png"></div>
            <div class="fl w80p pl10">
                <p class="f14">换货</p>
                <p class="grey f12">商品存在质量问题,联系卖家协商换货</p>
            </div>
            <div class="fr w10p pt20 tr pr10">
                <i class="icon-right-arrow iconfont f12 grey"></i>
            </div>
        </li>
    </ul>
<script>
    var url = {
        serviceForm:"{:url('index/order/serviceForm')}",
    }
    function serviceSave(id) {
        window.location.href = urlConnect(url.serviceForm,{id:id})
    }
</script>
</body>
</html>