{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<style>
</style>
<section class="orderWrap">
    <div class="clear" style="background: #FF9000; padding: .14rem 0; color: white;">
        <div class="fl ml20">
            <div class="f16 mt20">
                <!-- order_status 0未支付1已支付2待评价，3待回复，4,待退款 5部分退款，6全部退款，7已取消订单，8订单完成
                        is_send  1已发货，0未发货2，已收货。3退货中，4退货完成 -->
                {php}
                $status   = $orderDetail[0]['order_status'];
                {/php}
                <p id="showStatus" class="f16" data-status="{$status}"></p>
                {if condition="$status eq 0"}
                <p class="sulfTime fl f14" data-createtime="{$orderDetail[0]['create_time']}">剩余支付时间</p>
                {/if}
            </div>
        </div>
        <div class="fr"><img  style="width: 100px" src="__STATIC__/index/images/sell_pay.png"></div>
    </div>
    <div class="clear p5 bg_white mb10">
        <div class="fl w10p mt30">
            <i class=" iconfont icon-geren"></i>
        </div>
        <div class="fl w90p">
            <p class="clear mt10 mb10">
                <span class="fl">收货人：{$address['name']}</span>
                <span class="fr">{$address['mobile']}</span>
            </p>
            <p>
                收货地址：{$address['address']}  &nbsp;&nbsp; {$address['street']}
            </p>
        </div>
    </div>
    <ul class="product-order-list ">
        <li class="pb10" data-orderid="{$orderDetail[0]['order_id']}">
            {volist name="orderDetail" id="vo" empty=""}
            <a href="{:url('goods/detail',array('id'=>$vo['goods_id']))}" >
                <div class="item-list pt10 module clear">
                <div class="item-img">
                    <p> <img class="" src="{$vo['goods_detail']['main_image']}" /> </p>
                </div>
                <div class="item-info">
                    <h3 class="title ellipsis">{$vo['goods_detail']['name']}</h3>
                    <p class="sku f12 grey">{$vo['sku_val']}</p>
                    {if condition="$vo['goods_detail']['service']" /}
                    <div class="order-serviceinfo">
                    {volist name="$vo['goods_detail']['service']" id="service"}
                            <span class="service">{$service}</span>
                    {/volist}
                    </div>
                    {/if}

                </div>
                <div class="item-pay">
                    <div class="item-pay-data">
                        <p class="price f14">
                            {php}
                            $settlementType   = $vo['goods_detail']['settlement_type'];
                            $totalPoint   = $vo['total_point'];
                            $totalPrice   = $vo['total_price'];
                            {/php}
                            {if condition="$settlementType neq 1" /}{$vo['point_score']} 积分{/if}
                            {if condition="$settlementType neq 1 && $settlementType neq 2"  /}+{/if}
                            {if condition="$settlementType neq 2" /}￥{$vo['price']}  {/if}
                            </p>
                        <p class="nums">x{$vo['goods_num']}</p>
                        <p class=""><span class="fr lh30 orange mt10 goodStatus" data-status="{$vo['is_send']}">'</span></p>
                    </div>
                </div>

            </div>
            </a>
            <div class="module  clear pr10 pt5 mb5" >
                <div class="cont tr total-info">
                    {if condition="$vo['lottery_detail'] && $vo['lottery_detail']['coupon_money']"}
                    <p class="lh30 clear pl10 goodsLottery" id="goodsLottery" data_coupon_money="{$vo['lottery_detail']['coupon_money']}" onclick="showPop('goodsVoucher')">
                        <span class="fl"> {$vo['lottery_detail']['name']}</span>
                        <span class="fr">
                           -￥{$vo['lottery_detail']['coupon_money']}
                        </span>
                        <i class="detail_footer-icon"></i>
                    </p>
                    {/if}
                    <span class="f14">共<b>{$vo['goods_num']}</b>件商品</span>
                    <span class="f14">合计:
                        <b class="goodPriceTitle"
                           data-num="{$vo['goods_num']}"
                           data-postage="{$vo['goods_detail']['postage']}"
                           data-freetype="{$vo['goods_detail']['free_type']}"
                           data-stype="{$vo['goods_detail']['settlement_type']}"
                           data-showarea=""
                           data-score="{$vo['point_score']}"
                           data-price="{$vo['price']}">
                         </b>
                    </span>
                    <span class="f14 postage" style="display: none">(含运费<b>￥{$vo['goods_detail']['postage']??'0'}</b>)</span>
                </div>
                {php}
                $orderId = $orderDetail[0]['order_id'];
                $is_send   = $vo['is_send'];
                $goodsId = $vo['goods_id'];
                $skuid   = $vo['sku_id'];
                $status   = $vo['order_status'];
                {/php}
                <div class="tr goodsBtnShow"
                     data-order_status="{$status}"
                     data-pay_status="{$vo['pay_status']}"
                     data-show_area="{$vo['goods_detail']['show_area']}"
                     data-is_send="{$vo['is_send']}"
                     data-order_id="{$orderDetail[0]['order_id']}"
                     data-goods_id="{$vo['goods_id']}"
                     data-sku_id="{$vo['sku_id']}"
                     data-logistics_name="{$vo['logistics_name']}"
                     data-logistics_number="{$vo['logistics_number']}"
                     data-after_sale_is="{$vo['after_sale_is']}"
                     data-settlement_type="{$vo['goods_detail']['settlement_type']}",
                >

                </div>
            </div>
            {/volist}
            <div class="module clear tr pt10 pr10" style="border-top: 1px dotted lightgrey" >
                {if condition="$status eq 0"}<!--待付款-->
                <button class="layui-btn layui-btn-primary  layui-btn-xs orderCancel layui-btn-radius" onclick="cancelOrder('{$orderDetail[0][\'order_id\']}')">取消订单</button>
                <button class="layui-btn  layui-btn-xs  layui-btn-danger layui-btn-radius orderPay" onclick="pay('{$orderDetail[0][\'order_id\']}')">付款</button>
                {/if}
                <a href="tel://{$vo['goods_detail']['service_mobile']}" class="layui-btn layui-btn-primary layui-btn-xs layui-btn-radius">联系卖家</a>
            </div>
        </li>
    </ul>
    <div class="p5 bg_white mt10 grey">
        <p class="lh20">订单编号:{$orderDetail[0]['order_id']}</p>
        <p class="lh20">创建时间:{$orderDetail[0]['create_time']|date="Y-m-d H:i:s",###}</p>
        {if condition="$status eq 1" /}<!--已经付款了-->
        <p class="lh20">付款时间:{$orderDetail[0]['pay_time']|date="Y-m-d H:i:s",###}</p>
        {/if}
        {if condition="$status eq 0 && $is_send eq 1" /}
        <p class="lh20">发货时间:{$orderDetail[0]['create_time']|date="Y-m-d H:i:s",###}</p>
        {/if}

    </div>
</section>
<script type="text/javascript" src="__STATIC__/index/js/view/order.js" ></script>
<script>
    $('.goodPriceTitle').each(function (index,ele) {
        var $ele=$(ele);
        var freetype =parseFloat($ele.data('freetype')),
            postage = parseFloat($ele.data('postage')),
            num=parseInt($ele.data('num')),
            price=parseFloat($ele.data('price')),
            pointScore=parseFloat($ele.data('score')),
            totalPrice=0,
            totalPoint=0,
            html=0,
            stype = $ele.data('stype');
        if(freetype==constant.freeType.noFree && postage>0){
            totalPrice += postage* num;//加上邮费
        }
        //优惠券 goodsLottery
        var lotteryArr =$(ele).parents('.module').find('.goodsLottery');
        if(lotteryArr.size()>0){
            lotteryArr.each(function (index,ele) {
                var couponMoney = $(ele).attr('data_coupon_money');
                totalPrice -=couponMoney;
            })
        }
        switch(stype){
            case settlement.money:
                totalPrice += parseInt(num)*parseFloat(price);
                html ='￥'+totalPrice.toFixed(2);
                // html ='￥'+"{$orderDetail[0]['total_price']}";
                break;
            case settlement.score:
                totalPoint +=(parseInt(num)*parseFloat(pointScore));
                html =totalPoint+'积分';
                break;
            case settlement.money_score:
                totalPoint +=parseInt(num)*parseFloat(pointScore);
                totalPrice += parseInt(num)*parseFloat(price);
                html =totalPoint+'积分+￥'+totalPrice.toFixed(2);
                break;
        }

        $(ele).html(html);
        if(freetype ==constant.freeType.noFree && postage>0){
            $(ele).parents('.total-info').find('.postage').show();
        }

    });
    $('.goodsBtnShow').each(function (index,ele) {
        var json = $(ele).data();
        var html =orderBtnHtml(json);
        $(ele).html(html);
    })
    var aftersale_type =parseInt($('#afterSaleService').data('aftersale'));
    if(aftersale_type==afterSale.yes){
        $('#afterSaleService').html('取消申请')
    }else   $('#afterSaleService').html('申请售后')
    var url = {
        orderService:"{:url('index/order/orderService')}",//
        logistics:"{:url('index/order/logistics')}",//物流查看
        orderList:"{:url('index/order/getOrderListApi')}",
        againPay:"{:url('index/order/againPay')}",//再次支付
        sureDeliver:"{:url('index/order/sureDeliver')}",
        refund:"{:url('index/order/refund')}",
        evaluateEdit:"{:url('index/order/orderComment')}",
        cancelOrder:"{:url('index/order/cancelOrder')}",
        cancleAfterSale:"{:url('index/order/cancleAfterSale')}",
        orderTrack:"{:url('index/order/orderTrack')}",
        orderServerAddWuliu:"{:url('index/order/orderServerAddWuliu')}",
        logisticsTrack:"{:url('index/express/logisticsTrack')}",
    }
    backTime();

    function modifyComplete() {
        setTimeout(function () {
            location.reload();
        },1500)
    }
    function loadOrderData(){
        setTimeout(function () {
            location.reload();
        },1500)
    }
    $('#showStatus').html(order_status_param[$('#showStatus').data('status')])
    $('.goodStatus').each(function (index,ele) {
        $(ele).html(is_send_param[$(ele).data('status')])
    })
    function cancelAfterSale(order_id,goods_id,sku_id){
        pub_edit({
            url:url.cancleAfterSale,
            data:{'order_id':order_id,'goods_id':goods_id,'sku_id':sku_id},
            return_url:window.location.href,
        })
    }
</script>

</body>
</html>