{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<style>
</style>
<section>
    <div class="clear" style="background: #FF9000; padding: .14rem 0; color: white;">
        <div class="fl ml20">
            <p class="f16">等待买家付款</p>
            <p class="mt20">剩32分自动关闭</p>
        </div>
        <div class="fr"><img width="100" src="__STATIC__/index/images/sell_pay.png"></div>
    </div>
    <div class="clear p5 bg_white mb10">
        <div class="fl w10p mt30">
            <i class=" iconfont icon-geren"></i>
        </div>
        <div class="fl w90p">
            <p class="clear mt10 mb10">
                <span class="fl">收货人：xxxx</span>
                <span class="fr">1234567</span>
            </p>
            <p>
                收货地址：贵州省 遵义市 红花岗区 新蒲镇 xxxxxxxxxxxxxxxxxxxxxxxx
            </p>
        </div>
    </div>
    <ul class="product-order-list ">
        <li class="pb10">
            <div class="item-list pt10 module clear ">
               <div class="item-img">
                   <p> <img class="" src="//img.alicdn.com/bao/uploaded/i3/25555523/TB29PxDaZj_B1NjSZFHXXaDWpXa_!!25555523.jpg_200x200.jpg" /> </p>
               </div>
               <div class="item-info">
                   <h3 class="title ellipsis">耐克男鞋208新款正品女鞋情侣鞋夏季透气网面运动鞋跑步鞋812654 耐克男鞋2018新款正品女鞋情侣鞋夏季透气网面运动鞋跑步鞋812654</h3>
                   <p class="sku f12 grey">颜色分类:女812655-011;鞋码:35.5</p>
                   <ul class="order-serviceinfo">   <li>七天退换</li>   </ul>
               </div>
               <div class="item-pay">
                   <div class="item-pay-data">
                       <p class="price f14"> ￥349.00 </p>
                       <p class="nums">x1</p>

                   </div>
               </div>
           </div>
            <div class="module  clear pr10 pt5" >
                <div class="cont tr">
                    <span class="f14">共<b>1</b>件商品</span>
                    <span class="f14">合计:<b>￥71.90</b></span>
                    <span class="f14">(含运费<b>￥12.00</b>)</span>
                </div>
            </div>
            <div class="module clear tr mt10 pr10" >
                <button class="layui-btn layui-btn-primary layui-btn-sm">付款</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm">联系卖家</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm">朋友代付</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm">申请售后</button>
            </div>
        </li>
    </ul>
    <div class="p5 bg_white mt10 grey">
        <p class="">订单编号:181746190715302377</p>
        <p class="">创建时间:2018-07-10 14:46:10</p>
    </div>
</section>
<script>

</script>
</body>
</html>