<volist name="lists" id="vo">
    <a href="{:U('FoodClass/lists', array('shop_id' => $vo['id']))}">
        <li class="o-list__item c-shop-entry">
            <div class="o-media">
                <img class="o-media__img c-shop-entry__img" src="{$vo.logo}" alt="{$vo.name}">
                <div class="o-media__body c-description">
                    <div class="c-description__title">
                        <div class="o-text-ellipsis">{$vo.name}</div>
                    </div>
                    <div class="c-description__body c-shop-entry__meta">
                        <p class="c-shop-entry__name">
                            <span class="c-shop-entry__status o-fz--11 c-shop-entry__status--on">{$vo.class_id}</span>
                            <span class="o-fz--13">{$vo.name}</span>
                        </p>
                        <span>≤500km</span>
                    </div>
                </div>
            </div>
        </li>
    </a>
</volist>