{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}

<div id="dataListWrap">
    <ul class="cart-list" id="dataList">
        <li class="singer-good clear">
           <!-- <i class="no-selected-icon selected-icon chose-btn"></i>
            <div class="image-info">
                <img src="//img14.360buyimg.com/n7/jfs/t18583/328/1437914946/111140/3b067386/5aca247aNba85643c.jpg.dpg">
                <p class="image_tag" attr-stock="stock_4390094" lowestbuy="0">无货</p>
            </div>
            <div class="content" data-href="//item.m.jd.com/product/4390094.html" attr-tag="jumpHrefEve" >
                <div class="name ellipsis">
                    小米 红米Note4X 全网通版 3GB+32GB 铂银灰 移动联通电信4G手机
                </div>
                <p class="mt5" >
               <span class="sku" id="showChosePup">
                    0.34kg/件，铂银灰，3GB 32GB<i class="iconfont icon-down-arrow" style="font-size: 12px"></i>
               </span>
                </p>
                <div class="mt10 clear">
                   &lt;!&ndash; <p class="red fl">¥ <em class="f16">999</em>.00</p>
                    <div class="layui-btn-group fr count-wrap">
                        <button class="layui-btn layui-btn-primary layui-btn-xs fr24 minus">-</button>
                        <div class="layui-btn layui-btn-primary layui-btn-xs">
                            <input class="sumInput" type="text" value="1">
                        </div>
                        <button class="layui-btn layui-btn-primary layui-btn-xs fr24 add">+</button>
                    </div>&ndash;&gt;
                    <p class="grey">失效</p>
                </div>
                <div class="tr mt10">
                    <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="delGood()">删除</button>
                </div>
            </div>-->
        </li>
    </ul>
    <div class="empty-wrap" style="display: none">
        <div class="empty-image">
            <img  src="__STATIC__/index/images/goods_car.png">
        </div>
        <p class="h30 lh30 mt10 tc">购物车快饿瘪了T.T</p>
        <p class="h30 lh30 tc grey">主人快给我挑点宝贝吧</p>
        <p class="tc">
            <a href="{:\\think\\Url::build(\'\index/index\')}" class="layui-btn layui-btn-primary layui-btn-sm">去逛逛</a>
        </p>
    </div>
</div>

<div class="settle-accounts clear">
    <p class="chose">
        <i class="no-selected-icon chose-all" id="choseAll"  data-checked="false" onclick="choseAll(this)"></i>全选
    </p>
    <div class="fr w80p tr">
        <span class="f10">不含运费</span>
        <span class="red"> <em class="" id="totalPrice"></em></span>
        <button class="bootstrap-btn btn-pink" onclick="save()">结算（<i id=totalNum>0</i>）</button>
    </div>
</div>

{include file="Public/footer"}
<script>
    var url = {
        list:"{:url('index/car/index')}",//获取car列表
        dele:"{:url('index/car/delCar')}",//删除单个商品
        affirmOrderApi:"{:url('index/order/affirmOrderApi')}",//传递订单相关数据
        affirmOrder:"{:url('index/order/affirmOrder')}",//确定订单页面
    }

    var saveData =new Array();
    eventDeal();//页面点击事件处理
    getlist()
   function delGood(){
       layer.open({
           content: '是否确认删除此商品？'
           ,btn: ['确定', '不要']
           ,yes: function(index){
               location.reload();
               layer.close(index);
           }
       })
   }

    function getlist() {
        initData('dataList');
        hideEmptyWrap();
        pageload({
            targetWarp:'dataListWrap',
            target:'dataList',
            page:1,
            size:10,
            ajaxData:{
                url:url.list,
                data:{},
            },
            dealFun:dealData,
        });
    }
    function dealData(data) {
        var html='';
        for(var i = 0; i < data.length; i++) {
            var show_area = data[i].show_area;
            //商品既没有价格也没有积分，说明该规格商品 sku规格不存在，该规格商品失效
            var isDiscard = (data[i].point_score == null && data[i].price1 == null )|| data[i].status==constant.goodsStatus.down;
            var noActivity = show_area ==showArea.time && activeStatus(parseInt(data[i].start_date),parseInt(data[i].end_date),parseInt("{$currentTime}")) !=constant.activity.inActive;// true 限时抢购不在时间范围
            if (isDiscard || noActivity){
                html += '<li class="singer-good clear">';
                html += '    <i class="no-selected-icon chose-btn selected-no-use" ></i>';
                html += '    <a  href="javascript:;">';
            } else{
                html += '<li class="singer-good clear carGoods" data-checked="false">';
                html += '    <i class="no-selected-icon chose-btn " onclick="choseGoods(this)" ></i>';
                html += '    <a  href="' + urlConnect("{:url('goods/detail')}", {id: data[i].goods_id}) + '">';
            }

            html += '    <div class="image-info">';
            html += '        <img src="' + data[i].main_image + '">';
            if (data[i].store < 1 && !isDiscard) {
                html += '        <p class="image_tag" attr-stock="stock_4390094" lowestbuy="0">无货</p>';
            }
            html += '    </div>';
            html += '    </a>';
            html += '    <div class="content"  attr-tag="jumpHrefEve" >';
            if (isDiscard)
                html += '    <a  href="javascript:;">';
            else
                html += '    <a href="' + urlConnect("{:url('goods/detail')}", {id: data[i].goods_id}) + '">';
            html += '        <div class="name ellipsis">' + data[i].name + '</div>';
            html += '    </a>';
            html += '        <p class="mt5" >';
            html += '        <span class="sku">' + data[i].val + '</span>';
            html += '        </p>';
            if (isDiscard) {
                html += '        <div class="mt10 clear grey">该商品失效</div>';
            }else if(noActivity){
                html += '        <div class="mt10 clear grey">不在抢购时间范围</div>';
            } else {
                html += '        <div class="mt10 clear">';
                html += '            <p class="red fl">'+priceScoreShow(data[i].settlement_type,data[i].price1,data[i].point_score)+'</p>';
                html += '            <div class="layui-btn-group fr count-wrap">';
                html += '                <button class="layui-btn layui-btn-primary layui-btn-xs fr24 minus">-</button>';
                html += '                <div class="layui-btn layui-btn-primary layui-btn-xs">';
                if (data[i].price1 != 0) {
                    html += '  <input class="sumInput tc" data-settlement_type="'+data[i].settlement_type+'" data-score="' + data[i].point_score + '" data-showarea="' + data[i].show_area + '" data-image="' + data[i].main_image + '" data-name="' + data[i].name + '" data-store="' + data[i].store + '" data-goodsid="' + data[i].goods_id + '" data-carid="' + data[i].carId + '"  data-price="' + data[i].price1 + '" data-skuid="' + data[i].sku_id + '" data-skuval="' + data[i].val + '"   type="text" value="' + data[i].goods_num + '">';
                } else {
                    html += '   <input  class="sumInput tc" data-settlement_type="'+data[i].settlement_type+'" data-score="' + data[i].point_score + '" data-showarea="' + data[i].show_area + '" data-image="' + data[i].main_image + '" data-name="' + data[i].name + '" data-store="' + data[i].store + '" data-goodsid="' + data[i].goods_id + '" data-carid="' + data[i].carId + '"  data-price="' + data[i].price_real + '" data-skuid="' + data[i].sku_id + '" data-skuval="' + data[i].val + '"   type="text" value="' + data[i].goods_num + '">';

                }
                html += '                </div>';
                html += '                <button class="layui-btn layui-btn-primary layui-btn-xs fr24 add">+</button>';
                html += '            </div>';
                html += '        </div>';
            }
            html +='        <div class="tr mt10">';
            html +='            <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="req_opt(0,{carId:'+data[i].carId+'})">删除</button>';
            html +='        </div>';
            html +='    </div>';
            html +='</li>';
        }
        //数据插入后才执行函数
        setTimeout(function () {
            new countCalculate(showData)//数字计算
        },1000)
        return html;
    }

    function getData() {
        saveData = new Array()//初始化数组
        var $carGoods = $('.carGoods');
        $carGoods.each(function (index,ele) {
            var $buyNum = $(ele).find('.sumInput');
            var showArea = $buyNum.data('showarea');
           //当前选中的
            if($(ele).attr('data-checked') =="true"){
                var thisData = {
                    goodsId:$buyNum.data('goodsid'),
                    num :$buyNum.val(),
                    skuId:$buyNum.data('skuid'),
                    val:$buyNum.data('skuval'),
                    price:$buyNum.data('price'),
                    carId:$buyNum.data('carid'),
                    main_image:$buyNum.data('image'),
                    name:$buyNum.data('name'),
                    showArea:showArea,
                    pointScore:$buyNum.data('score'),
                    settlement_type:$buyNum.data('settlement_type'),
                }
                console.log(thisData)
                saveData.push(thisData);
            }

        })
        return saveData;
    }
    function save() {
        var data = getData();
        if(data && data.length<1){
            layer_msg('请选择要结算的商品！');
            return;
        }
        if(!validBuyNum()) return;
        pub_save({
            url:url.affirmOrderApi,
            return_url:url.affirmOrder,
            data:{arr:JSON.stringify(data)},
        })
    }
    //任何按钮操作都要显示数据变化

    function showData() {
        var dataArr = getData();
        var plusNum = 0;
        var totalPrice= 0;
        var totalPoint=0;
        for (var i= 0; i<dataArr.length; i++){
            var sinData = dataArr[i];
            var num=parseInt(sinData.num);
            var pointScore=parseFloat(sinData.pointScore);
            var price =parseFloat(sinData.price);
            var stype =sinData.settlement_type
            switch(stype){
                case settlement.money:
                    totalPrice += parseInt(num)*parseFloat(price);
                    html ='￥'+totalPrice.toFixed(2);
                    break;
                case settlement.score:
                    totalPoint +=(parseInt(num)*parseFloat(pointScore));
                    html =totalPoint+'积分';
                    break;
                case settlement.money_score:
                    totalPoint +=parseInt(num)*parseFloat(pointScore);
                    totalPrice += parseInt(num)*parseFloat(price);
                    html =totalPoint+'积分+￥'+totalPrice.toFixed(2);
                    break;
            }


            plusNum += parseInt(sinData.num);//合计购买数量;


        }
        $('#totalNum').empty().append(plusNum);
        var html ='';
        totalPrice = totalPrice.toFixed(2);
        if(totalPrice>0 && totalPoint>0) html ='¥'+totalPrice+'+'+totalPoint+'积分';
        else{
            if(totalPrice>0)   html +='¥'+totalPrice;
            if (totalPoint>0) html +=totalPoint+'积分'
            if(!(totalPrice>0) && !(totalPoint>0)) html +=0;
        }
        $('#totalPrice').empty().append(html);
    }
    //单个商品选择
    function choseGoods(_this) {
        var $carGoods = $(_this).parents('.carGoods');
        if($carGoods.attr('data-checked') =="true"){
            //已经选中的  取消选中
            $carGoods.attr('data-checked','false');
            $(_this).removeClass('selected-icon');
        }else {
            //没有选中的  选中
            $carGoods.attr('data-checked','true');
            $(_this).addClass('selected-icon');
        }
        //判断是否已经全部选中
        var allChose = 'true',$choseAll = $('#choseAll');
        $('.carGoods').each(function (index,ele) {
            if( $(ele).attr('data-checked')=='false'){
                //有一个没有选中
                allChose = 'false';
            }
        })
        $choseAll.attr('data-checked',allChose);
        if(allChose =='true')
              $choseAll.addClass('selected-icon');
        else  $choseAll.removeClass('selected-icon');

        showData();
    }
    //全选选择
    function choseAll(_this) {
       var $this = $(_this);
        if($this.attr('data-checked') =='true'){
            //已经选中的  取消选中
            $this.attr('data-checked','false');
            $this.removeClass('selected-icon');
            $('.carGoods').each(function (index,ele) {
                $(ele).attr('data-checked','false');
                $(ele).find('.chose-btn').removeClass('selected-icon');
            })

        }else{
            $this.attr('data-checked','true');
            $(_this).addClass('selected-icon');
            $('.carGoods').each(function (index,ele) {
                $(ele).attr('data-checked','true');
                $(ele).find('.chose-btn').addClass('selected-icon');
            })
        }
        showData();
    }

</script>
</body>
</html>