{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}

<div id="dataListWrap">
    <ul class="cart-list" id="dataList">
      <!--  <li class="singer-good clear">
            <i class="no-selected-icon selected-icon chose-btn"></i>
            <div class="image-info">
                <img src="//img14.360buyimg.com/n7/jfs/t18583/328/1437914946/111140/3b067386/5aca247aNba85643c.jpg.dpg">
                <p class="image_tag" attr-stock="stock_4390094" lowestbuy="0">无货</p>
            </div>
            <div class="content" data-href="//item.m.jd.com/product/4390094.html" attr-tag="jumpHrefEve" >
                <div class="name ellipsis">
                    小米 红米Note4X 全网通版 3GB+32GB 铂银灰 移动联通电信4G手机
                </div>
                <p class="mt5" >
               <span class="sku" id="showChosePup">
                    0.34kg/件，铂银灰，3GB 32GB<i class="iconfont icon-down-arrow" style="font-size: 12px"></i>
               </span>
                </p>
                <div class="mt10 clear">
                    <p class="red fl">¥ <em class="f16">999</em>.00</p>
                    <div class="layui-btn-group fr count-wrap">
                        <button class="layui-btn layui-btn-primary layui-btn-xs fr24 minus">-</button>
                        <div class="layui-btn layui-btn-primary layui-btn-xs">
                            <input class="sumInput" type="text" value="1">
                        </div>
                        <button class="layui-btn layui-btn-primary layui-btn-xs fr24 add">+</button>
                    </div>
                </div>
                <div class="tr mt10">
                    <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="delGood()">删除</button>
                </div>
            </div>
        </li>-->
    </ul>
</div>

<div class="settle-accounts clear">
    <p class="chose">
        <i class="no-selected-icon chose-all" id="choseAll"  data-checked="false" onclick="choseAll(this)"></i>全选
    </p>
    <div class="fr w70p tr">
        <span class="f12">不含运费</span>
        <span class="red">合计¥ <em class="f16" id="totalPrice"></em></span>
        <button class="bootstrap-btn btn-pink" onclick="save()">结算（<i id=totalNum>0</i>）</button>
    </div>
</div>
<div class="detail_popup" id="popupBuyArea">
    <div class="main" id="popupMain">
        <div class="header">
            <img alt="商品图" class="avt" id="popupImg" ptag="7001.1.239" src="//m.360buyimg.com/mobilecms/s750x750_jfs/t21361/160/67083062/266022/16b48e62/5af94dd0Na2afc153.png!q80.webp" />
            <p class="price">&yen;<em>99</em>.00</p>
            <p class="prop"><span>已选</span> cs10藏青+浅蓝,XL,1个</p>
            <i class="close" id="popupClose"></i>
        </div>
        <div class="body">
            <div id="popupSkuArea" >
                <div class="sku_kind">颜色</div>
                <div class="sku_choose clear" id="skuPop1">
                    <span class="item" no="1" dis="0">cs10白色+藏青</span>
                    <span class="item" no="1" dis="0">cs10白色+粉红</span>
                    <span class="item" no="1" dis="0">cs10白色+黑色</span>
                    <span class="item" no="1" dis="0">cs10白色+天蓝</span>
                    <span class="item" no="1" dis="0">cs10藏青+黑色</span>
                    <span class="item" no="1" dis="0">CS55e白色+藏青</span>
                </div>
            </div>
            <div class="purchase-count clear">
                <p class="fl">数量</p>
                <div class="layui-btn-group fr count-wrap">
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 minus">-</button>
                    <div class="layui-btn layui-btn-primary layui-btn-sm">
                        <input class="sumInput" type="text" value="1">
                    </div>
                    <button class="layui-btn layui-btn-primary layui-btn-sm fr24 add">+</button>
                </div>
            </div>
        </div>
        <div class="btns show">
            <div class="btn blue" ptag="7001.1.235" tag="1" id="popupConfirm">
                确认
            </div>
        </div>
    </div>
</div>
{include file="Public/footer"}
<script>
    var url = {
        list:"{:url('index/car/index')}",//获取car列表
        dele:"{:url('index/car/delCar')}",//删除单个商品
        affirmOrder:"{:url('index/order/affirmOrderApi')}",
        orderIndex:"{:url('index/order/affirmOrder')}",
    }

    var saveData =new Array();
    eventDeal();//页面点击事件处理
    getlist()
   function delGood(){
       layer.open({
           content: '是否确认删除此商品？'
           ,btn: ['确定', '不要']
           ,yes: function(index){
               location.reload();
               layer.close(index);
           }
       })
   }

    function getlist() {
        initData('dataList');
        pageload({
            targetWarp:'dataListWrap',
            target:'dataList',
            page:1,
            size:10,
            ajaxData:{
                url:url.list,
                data:{},
            },
            dealFun:dealData,
        });
    }
    function dealData(data) {
        var html='';
        for(var i = 0; i < data.length; i++){
            html +='<li class="singer-good clear carGoods" data-checked="false">';
            html +='    <i class="no-selected-icon chose-btn " onclick="choseGoods(this)" ></i>';
            html +='    <a  href="'+urlConnect("{:url('goods/detail')}",{id:data[i].goods_id})+'">';
            html +='    <div class="image-info">';
            html +='        <img src="'+data[i].main_image+'">';
            if(data[i].store<1){
            html +='        <p class="image_tag" attr-stock="stock_4390094" lowestbuy="0">无货</p>';
            }
            html +='    </div>';
            html +='    </a>';
            html +='    <div class="content"  attr-tag="jumpHrefEve" >';
            html +='    <a href="'+urlConnect("{:url('goods/detail')}",{id:data[i].goods_id})+'">';
            html +='        <div class="name ellipsis">'+data[i].name+'</div>';
            html +='    </a>';
            html +='        <p class="mt5" >';
            html +='        <span class="sku" id="showChosePup">'+data[i].val+'</span>';
            html +='        </p>';
            html +='        <div class="mt10 clear">';
            html +='            <p class="red fl">¥ <em class="f16">'+data[i].price1+'</em></p>';
            html +='            <div class="layui-btn-group fr count-wrap">';
            html +='                <button class="layui-btn layui-btn-primary layui-btn-xs fr24 minus">-</button>';
            html +='                <div class="layui-btn layui-btn-primary layui-btn-xs">';
            html +='                    <input class="sumInput" data-image="'+data[i].main_image+'" data-name="'+data[i].name+'" data-store="'+data[i].store+'" data-goodsid="'+data[i].goods_id+'" data-carid="'+data[i].carId+'"  data-price="'+data[i].price1+'" data-skuid="'+data[i].sku_id+'" data-skuval="'+data[i].val+'"  type="text" value="'+data[i].goods_num+'">';
            html +='                </div>';
            html +='                <button class="layui-btn layui-btn-primary layui-btn-xs fr24 add">+</button>';
            html +='            </div>';
            html +='        </div>';
            html +='        <div class="tr mt10">';
            html +='            <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="req_opt(0,{carId:'+data[i].carId+'})">删除</button>';
            html +='        </div>';
            html +='    </div>';
            html +='</li>';
        }
        //数据插入后才执行函数
        setTimeout(function () {
            new countCalculate(showData)//数字计算
        },1000)
        return html;
    }

    function getData() {
        saveData = new Array()//初始化数组
        var $carGoods = $('.carGoods');
        $carGoods.each(function (index,ele) {
            var $buyNum = $(ele).find('.sumInput');
           //当前选中的
            if($(ele).attr('data-checked') =="true"){
                var thisData = {
                    goodsId:$buyNum.data('goodsid'),
                    num :$buyNum.val(),
                    skuId:$buyNum.data('skuid'),
                    val:$buyNum.data('skuval'),
                    price:$buyNum.data('price'),
                    carId:$buyNum.data('carid'),
                    main_image:$buyNum.data('image'),
                    name:$buyNum.data('name'),
                }
                saveData.push(thisData);
            }

        })
        return saveData;
    }
    function save() {
        var data = getData();
        if(data && data.length<1){
            layer_msg('请选择要结算的商品！');
            return;
        }
        if(!validBuyNum()) return;
        pub_save({
            url:url.affirmOrder,
            return_url:url.orderIndex,
            data:{arr:JSON.stringify(data)},
        })
    }
    //任何按钮操作都要显示数据变化

    function showData() {
        var dataArr = getData();
        var plusNum = 0;
        var plusPrice= 0;
        for (var i= 0; i<dataArr.length; i++){
            var sinData = dataArr[i]
            plusNum += parseInt(sinData.num);//合计购买数量;
            plusPrice +=(parseInt(sinData.num)*parseInt(sinData.price));

        }
        $('#totalNum').empty().append(plusNum);
        $('#totalPrice').empty().append(plusPrice);
    }
    //单个商品选择
    function choseGoods(_this) {
        var $carGoods = $(_this).parents('.carGoods');
        if($carGoods.attr('data-checked') =="true"){
            //已经选中的  取消选中
            $carGoods.attr('data-checked','false');
            $(_this).removeClass('selected-icon');
        }else {
            //没有选中的  选中
            $carGoods.attr('data-checked','true');
            $(_this).addClass('selected-icon');
        }
        //判断是否已经全部选中
        var allChose = 'true',$choseAll = $('#choseAll');
        $('.carGoods').each(function (index,ele) {
            if( $(ele).attr('data-checked')=='false'){
                //有一个没有选中
                allChose = 'false';
            }
        })
        $choseAll.attr('data-checked',allChose);
        if(allChose =='true')
              $choseAll.addClass('selected-icon');
        else  $choseAll.removeClass('selected-icon');

        showData();
    }
    //全选选择
    function choseAll(_this) {
       var $this = $(_this);
        if($this.attr('data-checked') =='true'){
            //已经选中的  取消选中
            $this.attr('data-checked','false');
            $this.removeClass('selected-icon');
            $('.carGoods').each(function (index,ele) {
                $(ele).attr('data-checked','false');
                $(ele).find('.chose-btn').removeClass('selected-icon');
            })

        }else{
            $this.attr('data-checked','true');
            $(_this).addClass('selected-icon');
            $('.carGoods').each(function (index,ele) {
                $(ele).attr('data-checked','true');
                $(ele).find('.chose-btn').addClass('selected-icon');
            })
        }
        showData();
    }

</script>
</body>
</html>