<style>
	.footer-shop-nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background: white;
		z-index: 10;
	}
	.footer-shop-nav li{
		float: left;
		text-align: center;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
	}
	.footer-shop-nav .normal-nav{
		width: 40%;
	}
	.footer-shop-nav .normal-nav li {
		width: 30%;
	}

	.footer-shop-nav .important-nav {
		width: 60%;
	}
	.footer-shop-nav .important-nav li{
		width: 50%;
	}
	.footer-shop-nav .important-nav li a{
		line-height: .5rem;
		color: white;
		font-weight: bold;
		padding: 0;
		font-size: .14rem;
	}
	.footer-shop-nav .important-nav li a p{
		font-size: .14rem;
	}
	.footer-shop-nav li a {
		display: inline-block;
		padding: .08rem 0 ;
		height: .5rem;
		width: 100%;
	}
</style>
<div class="footer-shop-nav clear" id="footerShopNav">
	<ul class="clear normal-nav fl">
		<li id="sellerPage">
			<a   href="tel://18302563273" >
				<i class="iconfont icon-kefu"></i><p>卖家</p>
			</a>
		</li>
		<li id="indexPage">
			<a  href="{:\\think\\Url::build(\'index\')}">
				<i class="iconfont icon-home"></i><p>首页</p>
			</a>
		</li>
		<li id="savePage">
			<a href="{:\\think\\Url::build(\'Customer/\')}">
				<i class="iconfont icon-geren"></i><p>收藏</p>
			</a>
		</li>
	</ul>
	<ul class="clear important-nav fl">
		<li>
			<a href="javascript:;"  class="bg_orange">
				<p id="carPage">加入购物车</p>
			</a>
		</li>
		<li>
			<a  href="javascript:;" class="bg_red">
				</i><p id="buyPage">立即购买</p>
			</a>
		</li>
	</ul>
</div>


