<style>
	.icon-num {
		position: absolute;
		top: 2px;
		left: 70%;
		display: inline-block;
		background: #e4393c;
		color: #fff;
		font-size: 7px;
		margin-left: -10px;
		line-height: 9px;
		border: 1px solid #fff;
		border-radius: 10px;
		padding: 2px 3px;
		font-weight: 700;
	}
</style>
<ul class="footer-nav footer-fixed clear">
	<li id="nav_index">
		<a href="{:url('index/index',['param'=>'index'])}" >
			<i class="iconfont icon-home"></i><p>首页</p>
		</a>
	</li>
	<li  id="nav_search">
		<a  href="{:url('goods/goodsList',['param'=>'search'])}" >
			<i class="iconfont icon-sousuo"></i><p>搜索</p>
		</a>
	</li>
	<li  id="nav_sort">
		<a href="{:url('goodsclass/sort',['param'=>'sort'])}" >
			<i class="iconfont icon-caidan"></i><p>分类</p>
		</a>
	</li>
	<li  id="nav_car">
		<a href="{:url('car/index',['param'=>'car'])}" >
			<span class="icon-num">{$carNum}</span>
			<i class="iconfont icon-gouwuche"></i><p>购物车</p>
		</a>
	</li>
	<li id="nav_customer">
		<a href="{:url('customer/customer',['param'=>'customer'])}" >
			<i class="iconfont icon-geren"></i><p>会员中心</p>
		</a>
	</li>
</ul>

<script>
    var nav_param= "{$param?? ''}";
    $('#nav_'+nav_param).addClass('active');
</script>