<style>
    .commom-nav .nav-icon-num{
        position: absolute;
        left: 5%;
        top: 28px!important;
        padding: 4px;
        z-index: 9;
    }
    .commom-nav.active .nav-icon-num{
        display: none!important;
    }
</style>
<nav class="commom-nav dis-box ts-5" id="ectouch-top">
    <span class="icon-num nav-icon-num carNum"  >{$carNum}</span>
	<!--快捷导航-->
	<div class="left-icon">
		<div class="nav-icon"><i class="iconfont icon-jiantou1"></i>快速<br>导航</div>
		<div class="filter-top filter-top-index" id="scrollUp" style="display: none">
			<i class="iconfont icon-jiantou"></i>
			<span>顶部</span>
		</div>
	</div>
	<div class="right-cont box-flex">
		<ul class="nav-cont">
			<li>
				<a href="{:url('index/index',['param'=>'index'])}" >
					<i class="iconfont icon-home"></i>
					<p>首页</p>
				</a>
			</li>
			<li>
				<a  href="{:url('goods/goodsList',['param'=>'search'])}" >
					<i class="iconfont icon-sousuo"></i>
					<p>搜索</p>
				</a>
			</li>
			<li>
				<a href="{:url('goodsclass/sort',['param'=>'sort'])}" >
					<i class="iconfont icon-caidan"></i>
					<p>分类</p>
				</a>
			</li>
			<li class="positionR">
				<a href="{:url('car/index',['param'=>'car'])}" >


					<span class="icon-num carNum" style="top: 0px;" >
                        {$carNum}
                    </span>
					<i class="iconfont icon-gouwuche"></i>
					<p>购物车</p>
				</a>
			</li>
			<li>
				<a href="{:url('customer/customer',['param'=>'customer'])}" >
					<i class="iconfont icon-geren"></i>
					<p>会员中心</p>
				</a>
			</li>

		</ul>
	</div>
</nav>
<div class="common-show"></div>
<script>
    $('.carNum').each(function (index,ele) {
        if(parseInt($(ele).html()) ==0){
            $(ele).hide();
        }
    })
    //快捷导航
    $(".commom-nav .left-icon .nav-icon,.common-show").click(function () {
        $(".commom-nav").toggleClass("active");
        $(".common-show").toggleClass("active");
        $(".icon-jiantou1").toggleClass("active");
        $(".filter-top-index").toggleClass("active");
    });
    /*页面向上滚动js*/

    $(".filter-top").click(function () {
        $("html,body").animate({
            scrollTop: 0
        }, 200);
    });

    $(window).scroll(function () {
        var prevTop = 0,
            currTop = 0;
        currTop = $(window).scrollTop();
        win_height = $(window).height() * 2;
        if (currTop >= win_height) {
            $(".filter-top").stop().fadeIn(200);
        } else {
            $(".filter-top").stop().fadeOut(200);
        }
        //prevTop = currTop; //IE下有BUG，所以用以下方式
        setTimeout(function () {
            prevTop = currTop
        }, 0);
    });
</script>