<style>


</style>
<header class="header-title clear">
    <a href="javascript:history.back(-1)" class="fl">
        <!--<i class="aui-icon aui-icon-back-white"></i>-->
        <i class="iconfont-arrow icon-left-arrow"></i>
    </a>
    <nav class="detail_anchor">
        <a href="javascript:;" data-href="good-detail-content"  class="active"> <span>商品</span></a>
        <a href="javascript:;" data-href="good-evaluate"  class=""><span>评价</span></a>
        <a href="javascript:;" data-href="guess-your-love"  class=""><span>推荐</span></a>
        <a href="javascript:;" data-href="good-detail"  class=""><span>详情</span></a>
    </nav>
</header>
<script>
    $(function () {
        $('.detail_anchor a').click(function () {
            $('.detail_anchor a').removeClass('active');
            $(this).addClass('active');
            var name = $(this).data('href');
            var offsetTop = $('body').find('a[name="'+name+'"]').offset().top;
            console.log(offsetTop);
            $("html,body").animate({
                scrollTop: offsetTop-46
            }, 200);
        })
    })
</script>