<header class="header-search">
	<div class="search-box-cover"></div>
	<div class="search-box">
		<section  class="input" style="color: rgb(255, 255, 255);">
			<a class="search_bg" href="javascript:;">
				<i  class="iconfont icon-search" onclick="searchGoods()"></i>
				<div id="form" class="w100p">
					<input type="text" name="goodsName" id="goodsNameSearch" data-text="商品不为空" placeholder="商品搜索">
				</div>
			</a>
		</section>
		<div class="fl  mr10">
			<a href="{:url('customer/message')}" class="message">
				<span></span>
				<i class="iconfont icon-message"></i>
			</a>
		</div>
	</div>
</header>
