<!DOCTYPE html>
<head>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta http-equiv="Pragma" contect="no-cache">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="泛亚商城">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="泛亚商城">
    <meta name="renderer" content="webkit">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <!--防止广告植入-->
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>{$titleName}</title>
  <!--  <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/themes/css/core.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/themes/css/icon.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/themes/css/home.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/themes/css/base.css">

    <!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
    <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/plugins/layui-master/src/css/layui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/plugins/dropload/dropload.css">
    <link rel="stylesheet" type="text/css" type="text/css" href="__STATIC__/index/plugins/city/address.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/animate.css">


    <script type="text/javascript" src="__STATIC__/index/themes/js/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="__STATIC__/index//plugins/swiper3/css/swiper.css">-->
  <!--  <script src="__STATIC__/index//plugins/swiper.js"></script>-->


    <script type="text/javascript" src="__STATIC__/index/plugins/jquery.cookie.js" ></script>

    <script type="text/javascript" src="__STATIC__/index/themes/js/aui-toast.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/themes/js/Validform_v5.3.2.js"></script>
    <script type="text/javascript" src="__STATIC__/index/themes/js/public.js"></script>
    <script type="text/javascript" src="__STATIC__/index/themes/js/api.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/themes/js/aui-toast.js" ></script>
   <!-- <script type="text/javascript"  src="__STATIC__/index/plugins/dropload/dropload.js"></script>-->
    <script type="text/javascript"  src="__STATIC__/index/plugins/layer_mobile-v2.0/layer.js"></script>
    <script type="text/javascript"  src="__STATIC__/index/plugins/layui-master/src/layui.js"></script>
    <script src="__STATIC__/index/plugins/city/city.js"></script>
    <script src="__STATIC__/index/plugins/countUp.js"></script>
    <script src="__STATIC__/index/plugins/wow.min.js"></script>
    <script src="__STATIC__/index/plugins/masonry.pkgd.js"></script>
    <script src="__STATIC__/index/plugins/clipboard.min.js"></script>
    <script src="__STATIC__/index/plugins/jquery.lazyload.js"></script>

    <script type="text/javascript" src="__STATIC__/index/js/view/load.js" ></script>
    <script type="text/javascript" src="__STATIC__/index/js/view/eventDeal.js" ></script>

   <!-- <script src="//hm.baidu.com/hm.js?832ee3d2c51da3fc85c74c3133506238"></script><script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?832ee3d2c51da3fc85c74c3133506238";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>-->
    <style>
        html {
            font-size: 100px;
        }
        body *{
            font-size: .12rem
        }
    </style>
</head>
{$wxShare}