{include file="Public/header-resource"}
<body class="footer-boottom">
<style>

</style>
<section class="customer-page">
    <div class="customer-header">
        <div class="user-info pl20">
            <img class="headimgurl" src={$userdata.headimgurl} alt="">
            <span class="nickname">{$userdata.nickname}</span>
            <span class="user-score">
            <?php
                    $grade = \think\Db::name('customer_grade')->where(['experience_start'=>['<=',$userdata['experience']],'experience_end'=>['>=',$userdata['experience']]])->find();
            echo $grade['name'];
            ?>
        </span>
            <a class="set" href="{:\\think\\Url::build(\'customer/myset\')}">
                <i class="aui-icon aui-icon-Set"></i>
            </a>
        </div>
        <ul class="user-relate clear">
            <li>
                <p>{$userdata.score}</p>
                <p>积分</p>
            </li>
            <li>
                <a href="{:\\think\\Url::build(\'Lottery/mycardvoucher\')}">
                    <p>{$count_lottery}</p>
                    <p>红包卡券</p>
                </a>
            </li>
            <li>
                <a href="{:\\think\\Url::build(\'customer/collect_list\')}">
                    <p>{$count_collect}</p>
                    <p>收藏夹</p>
                </a>
            </li>
            <li>
                <a href="{:\\think\\Url::build(\'customer/my_sign\')}">
                    <p>{$userdata.continuity_day}</p>
                    <p>签到有礼</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="my-order">
        <p class="item-title clear">
            <a  href="{:url('order/index',['param'=>'all'])}">
                <span class="fl">我的订单</span>
                <span class="fr">查看全部<i class="iconfont icon-right-arrow f12 grey"></i></span>
            </a>
        </p>
        <ul class="my-order-sort clear">
            <li>
                <a href="{:url('order/index',['param'=>'pay'])}" >
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-wallet"></i>
                    <p>待付款{$count_pay}</p>
                </a>
            </li>
            <li>
                <a href="{:url('order/index',['param'=>'deliver'])}" >
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-goods"></i>
                    <p >待发货{$count_deliver}</p>
                </a>
            </li>
            <li>
                <a href="{:url('order/index',['param'=>'takeDeliver'])}" >
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-receipt"></i>
                    <p >待收货{$count_take_delivery}</p>
                </a>
            </li>
            <li>
                <a href="{:url('order/index',['param'=>'refund'])}"  >
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-refund"></i>
                    <p >退货退款{$count_refund}</p>
                </a>
            </li>
            <li>
                <a href="{:url('order/index',['param'=>'evaluate'])}"  >
                    <i class="aui-icon-large aui-icon-large-sm aui-icon-evaluate"></i>
                    <p >待评价{$count_evaluate}</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="my-service">
        <p class="item-title clear">
            <a href="javacript:;">
                <span class="fl">我的服务</span>
            </a>
        </p>
        <ul class="service-list">
            <li class="clear">
                <a href="{:\\think\\Url::build(\'mywallet\')}" >
                    <img src="__STATIC__/index/images/icon/redpack.png">
                    <span>我的钱包</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>
            <li class="clear">
                <a href="{:\\think\\Url::build(\'Lottery/mycardvoucher\')}" >
                    <img src="__STATIC__/index/images/icon/lottery.png">
                    <span >卡券中心</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>
            <li class="clear">
                <a href="{:\\think\\Url::build(\'myactivity\')}" >
                    <img src="__STATIC__/index/images/icon/active.png">
                    <span >活动中心</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>
            <li class="clear">
                <a href="{:\\think\\Url::build(\'memberrights\')}" >
                    <img src="__STATIC__/index/images/icon/quanyi.png">
                    <span >会员权益</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>
            <li class="clear">
                <a  href="{:url('customer/getScore')}"   >
                    <img src="__STATIC__/index/images/icon/point.png">
                    <span >赚积分</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>
           <!-- <li class="clear">
                <a  href="{:url('index/waitDevelop')}"  >
                    <img src="__STATIC__/index/images/icon/chongzhi.png">
                    <span >充值中心</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>-->
            <li class="clear">
                <a onclick="kefu(18302563273)" >
                    <img src="__STATIC__/index/images/icon/kefu.png">
                    <span >客服中心</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>
            <li class="clear">
                <a  href="{:\\think\\Url::build(\'customer/message\')}" >
                    <img src="__STATIC__/index/images/icon/message.png">
                    <span >消息中心</span>
                    <i class="iconfont icon-right-arrow f12  fr"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
{include file="Public/footer"}

<script type="text/javascript">

</script>
</body>
</html>