{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--赚积分-->
<style>
    .get-score li{
        width: 100%;
        padding: 5px;
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 4px;
    }
</style>
<section>
    <div class="member-benefits">
        <div class="benefit-header clear">
            <div class="user-info">
                <img class="user-header fl" src="{$user_data.headimgurl}">
                <div class="fl ml10">
                    <p class="lh20 grey white">{$user_data.nickname}<span class="user-score ml10">{$user_data.name}</span></p>
                    <div class="user-score mt5 f10">我的积分：{$user_data.score}</div>
                </div>
            </div>
            <a href="{:url('customer/memberrule',['type'=>1])}">
                <img class="benefit-bg2" src="__STATIC__/index/images/benefit-bg2.png">
            </a>
        </div>
    </div>
    <p class="lh40 bg_white pl10">做任务赚积分</p>
    <ul class="get-score">
        <li class="bg_white">
            <a class="clear" href="{:url('customer/userinfo')}"  >
                 <img width="40" class="fl mr10" src="__STATIC__/index/images/info-green.png">
                <div class="fl">
                    <p class="lh20">完善会员赢积分</p>
                    <p class="lh20">完善任务奖励100积分</p>
                </div>
            </a>
        </li>
    </ul>
</section>
</body>
</html>