{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--会员权益-->
<style>

</style>
<section>
    <div class="member-benefits">
       <div class="benefit-header clear">
            <div class="user-info">
                <img class="user-header fl" src="{$user_data.headimgurl}">
                <div class="fl ml10">
                    <p class="lh20 grey white">{$user_data.nickname}<span class="user-score ml10">{$user_data.name}</span></p>
                    <div class="user-score mt5 f10">我的积分：{$user_data.score}</div>
                </div>
            </div>
           <a href="{:url('customer/memberrule',['type'=>1])}">
               <img class="benefit-bg2" src="__STATIC__/index/images/benefit-bg2.png">
           </a>

       </div>
        <div class="tc h40 lh40 bg_white mb5"><a style="display: block" href="{:url('customer/memberrule',['type'=>1])}">会员等级规则</a></div>
        <div id="dataListWrap">
            <ul id="dataList" class="content">
              <!--  <li class="clear">
                    <a  href="javascript:;" >
                        <div class="w20p fl"><img class="image" src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike116%2C5%2C5%2C116%2C38/sign=86f7c2bd3dd12f2eda08a6322eabbe07/5d6034a85edf8db13608df0e0223dd54564e74b2.jpg"></div>
                        <div class="w80p fr mt5 mb10 pl10">
                            <p class="f14 bold ">体现特权</p>
                            <p class="mt10 ">1000元以内，体现免手续费</p>
                        </div>
                    </a>
                </li>-->
             </ul>
        </div>
        <div class=" footer-fixed member-update-method"><a style="display: block" href="{:url('customer/memberrule',['type'=>2])}">会员升级攻略</a></div>
    </div>
</section>
<script>
    loadDealData()
    function loadDealData(){
        initData('dataList');
        pageload({
            targetWarp:'dataListWrap',
            target:'dataList',
            page:1,
            size:20,
            ajaxData:{
                url:"{:url('index/customer/memberrights')}",
                data:{},
            },
            dealFun:dealData
        });
    }
    function dealData(data) {
        var html='';
        for(var i = 0; i < data.length; i++){
            html +='<li class="clear">';
            html +='    <a  href="javascript:;" >';
            html +='        <div class="w20p fl"><img class="image" src="'+data[i].pic+'"></div>';
            html +='        <div class="w80p fr mt5 mb10 pl10">';
            html +='            <p class="f14 bold ">'+data[i].name+'</p>';
            html +='            <p class="mt10 ">'+data[i].desc+'</p>';
            html +='        </div>';
            html +='    </a>';
            html +='</li>';

        }
        return html;
    }
</script>
</body>
</html>