{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--会员权益规则-->
<div class="benefit-header clear pt10">
    <div class="tc">
        <p class="f16 white bold tc mb10">大众会员</p>
        <span class="user-score time">2015年5月10日加入</span>
    </div>

    <div class="clear" style="">

        <div class="layui-progress mt20" style="width: 90%; margin: 0 auto">

            <div class="layui-progress-bar layui-bg-green" lay-percent="60%">
                <span class="user-score layui-bg-green f10" style="position: relative; top: -4px;">1899</span>
            </div>
            <span class="f10 f10" style="position: absolute; bottom: -16px; right: 0">2000经验值</span>
        </div>

    </div>

    <div class="tc white " style="margin-top: 15px"><span class="user-score m510">升级</span>再获得100积分可升级为黄金会员</div>
    <!--<img class="benefit-bg2" src="__STATIC__/index/images/benefit-bg2.png">-->
</div>
<section>

</section>
<script>
    layui.use('element', function(){});
</script>
</body>
</html>