{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--会员权益规则-->
<div class="benefit-header clear pt10">
    <div class="tc">
        <p class="f16 white bold tc mb10">{$user_data.name}</p>
        <span class="user-score time">{$user_data.create_time}加入</span>
    </div>

    <div class="clear" style="">

        <div class="layui-progress mt20" style="width: 90%; margin: 20px auto">

          <!--  <span class="f10" style="position: absolute;bottom: 12px; right:0">我的：{$user_data.experience}</span>-->
            <div class="layui-progress-bar bg_orange" lay-percent="{$user_data.experience/$user_data.next_grade_experience*100}%">
                <span class="layui-progress-text">{$user_data.experience}</span>
            </div>
            <span class="f10" style="position: absolute;bottom: -20px; right:0">{$user_data.next_grade_experience}经验值</span>
        </div>

    </div>

    <div class="tc white " stylse="margin-top: 15px"><span class="user-score m510">升级</span>再获得{$user_data.how_many_exp}经验值可升级为{$user_data.next_grade_name}</div>
    <!--<img class="benefit-bg2" src="__STATIC__/index/images/benefit-bg2.png">-->
</div>
<section class="pt30 pl10 pr10 bg_white pb30" id="gradeDetail">

</section>
<script>
    layui.use('element', function(){});
    $('#gradeDetail').html(tagParse('{$grade_res.detail}'));
</script>
</body>
</html>