{include file="Public/header-resource"}
<body>
{include file="Public/header-title"}
{include file="Public/empty-show"}
<div id="dataListWrap">
    <ul class="message-lists title-top" id="goodsList">
        <!--<li class="clear" >
            <div class="img">
                <img src="http://scsc.top/data/gallery_album/original_img/5982d8b9d3391.jpg">
            </div>
            <div class="content">
                <p class="clear mt5">
                    <span class="name fl">越用斯蒂e芬斯蒂芬</span>
                    <span class="time grey fr">2017-12-23</span>
                </p>
                <p class="desc grey mt5">越用斯蒂芬斯蒂芬越用斯蒂芬斯蒂芬</p>
            </div>

        </li>-->
    </ul>
</div>

<script>
    var url={
        msg_detail:"{:url('index/customer/msg_detail')}"
    }
    function dealData(data) {
        var html = '';
        for (var i = 0; i < data.length; i++) {
            html += '<li class="clear" >';
            //显示普通消息
            if(data[i].message_id!=null){
                html += '<a href="'+urlConnect(url.msg_detail,{id:data[i].message_id})+'">'
                html += '     <div class="img">';
                html += '         <img src="' + data[i].pic + '">';
                html += '     </div>';
                html += '     <div class="content">';
                html += '         <p class="clear mt5">';
                html += '             <span class="name fl">' + data[i].title + '</span>';
                html += '             <span class="time grey fr">' + new Date(parseInt(data[i].create_time)*1000).Format("yyyy-MM-dd hh:mm:ss") + '</span>';
                html += '         </p>';
                html += '         <p class="desc grey mt5  ellipsis-oneline">' + data[i].detail + '</p>';
                html += '     </div>';
                html +='</a>'
            }else{
                //显示订单消息
                html += '     <div class="img">';
                html += '         <img src="__ROOT__/static/index/images/order.jpg">';
                html += '     </div>';
                html += '     <div class="content">';
                html += '         <p class="clear mt5">';
                html += '             <span class="name fl">' + data[i].title + '</span>';
                html += '             <span class="time grey fr">' + new Date(parseInt(data[i].create_time)*1000).Format("yyyy-MM-dd") + '</span>';
                html += '         </p>';
                html += '         <p class="desc grey mt5  ">' + data[i].detail + '</p>';
                html += '     </div>';
            }
            html += ' </li>';
        }
        return html;
    }

    pageload({
        targetWarp: 'dataListWrap',
        target: 'goodsList',
        page: 1,
        size: 4,
        ajaxData: {
            url: "{:url('index/customer/message')}",
            data: {},
        },
        dealFun: dealData
    });
</script>
</body>
</html>