{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--我的钱包-->
<section>
    <div class="wallet-user-info">
        <div class="clear">
            <img class="fl user-image" src={$user_data.headimgurl} alt="头像">
            <span class="fl user-name">{$user_data.nickname}</span>
            <div class="fr pt30">
                <a href="{:url('index/customer/message')}"
                   class="layui-btn layui-btn-sm layui-btn-normal  layui-btn-radius">消息</a>
            </div>
        </div>
      <!--  <div>
            <p class="tc f14 pb10">余额</p>
            <p class="tc"><i class="f24" id="userMoney" data-value="0"></i></p>
        </div>-->
    </div>
    <div class="user-deal-info mt10">
        <div class="pl10 pr10 clear">
            <p class="fl">交易记录</p>
            <!--<p class="fr">
                <span>查看更2多</span>
                <i class="icon-right-arrow iconfont f12"></i>
            </p>-->
        </div>
        <div id="dataListWrap">
            <ul id="orderList" class="deal-list-wrap">
                 <!--<li>
                     <ul class="deal-list">
                         <li>
                             <p class="clear title">
                                 <span class="fl">2018年4月</span>
                                 <span class="fr">总计:293.00</span>
                             </p>
                         </li>
                         <li class="clear bg_white">
                             <div class="deal-time">
                                 <p class="tc f14">27</p>
                                 <p class="tc f18 bold mt5">4月</p>
                             </div>
                             <div class="product-img">
                                 <img  src="__STATIC__/index/images/image/headImg.jpg">
                             </div>
                             <div class="product-name">
                                 <p class="f16 bold">-27.00</p>
                                 <p class="ellipsis-oneline">回城纸质蛋糕回城纸质蛋糕回城纸质蛋糕回城纸质蛋糕回城纸质蛋糕</p>
                                 <p class="grey f10">213456789023456345</p>
                             </div>
                             <div class="deal-status pt20 grey">支付成功</div>
                         </li>
                     </ul>
                 </li>-->
            </ul>
        </div>
    </div>
</section>
{include file="Public/footer-quick-nav"}
<script>
    $(function () {
       /* countUpFun('userMoney');*/
        loadDealData()
    })

    function loadDealData() {
        initData('orderList');
        pageload({
            targetWarp: 'dataListWrap',
            target: 'orderList',
            page: 1,
            size: 10,
            ajaxData: {
                url: "{:url('index/customer/mywallet')}",
                data: {},
            },
            dealFun: dealData,
            complete:getTotalMoney,
        });
    }

    //计算json数组的长度
    function getJsonObjLength(jsonObj) {
        var Length = 0;
        for (var item in jsonObj) {
            Length++;
        }
        return Length;
    }
    var recordDate='';
    function dealData(data) {
        var html = '';
        for(var i=0; i<data.length; i++) {
            html += '<li>';
            console.log(data[i]);
            var type = data[i].type
                ,year=new Date(parseInt( data[i].create_time)*1000).Format("yyyy")
                ,month = new Date(parseInt(  data[i].create_time)*1000).Format("MM")
                ,day=new Date(parseInt( data[i].create_time)*1000).Format("dd")

                ,image ="__STATIC__/index/images/image/other.jpg"
                ,dealName="其他"
                ,dealStatus='支付成功'
            ;
            html += '    <ul class="deal-list">';
            if(recordDate!=year+month){
                html +='</li>'
                html += '    <p class="clear title deal-title">';
                html += '        <span class="fl record_month">' +year +'年'+month + '月</span>';
                html += '        <span class="fr recodeMoney" data-year="'+year+'" data-month="'+month+'"></span>';
                html += '    </p>';
                html +='</li>'
            }
            recordDate=year+month;
            html += '        <li class="clear bg_white" style="border-bottom: 1px dotted grey;">';
            html += '            <div class="deal-time">';
            html += '                <p class="tc f14">' +day+ '</p>';
            html += '                <p class="tc f18 bold mt5">' +month + '月</p>';
            html += '            </div>';
            switch(type)
            {
                case 1:
                    image = "__STATIC__/index/images/image/goods.jpg";
                    dealName="商品[消费]"
                    dealStatus='支付成功'
                    break;
                case 2:
                    image = "__STATIC__/index/images/image/refund.jpg";
                    dealName="商品[退款]"
                    dealStatus="退款成功"
                    break;
            }

            html += '            <div class="product-img">';
            html += '                <img  src="'+image+'">';
            html += '            </div>';
            html += '            <div class="product-name">';
            html += '                <p class="ellipsis-oneline lh20">'+dealName+'</p>';
            html += '                <p class="f16 mb5 bold">' + data[i].money + '</p>';
            html +='                 <p class="grey f10">'+data[i].order_id+'</p>'
            html += '            </div>';
            html += '            <div class="deal-status pt20 green">'+dealStatus+'</div>';
            html += '        </li>';
            html += '    </ul>';

            html += '</li>';
        }
        return html;
    }
    function getTotalMoney() {
        $('.recodeMoney').each(function (index,ele) {
            $.ajax({
                url: "{:url('index/customer/getTotalMoney')}",
                type:'post',
                data:{year:$(ele).attr('data-year'),month:$(ele).attr('data-month')},
                dataType:'json',
                success: function(data){
                    $(ele).html('总计: '+data.data[0].totalMoney+'元');
                }
            })
        })
    }
</script>
</body>
</html>