{include file="Public/header-resource"}
<body class="title-top footer-boottom">
{include file="Public/header-title"}
<!--用户信息-->
<section class="mt5">
    <div class="aui-product-set">
        <a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
            <div class="aui-address-cell-bd">用户昵称</div>
            <div class="aui-address-cell-ft">修改</div>
        </a>
        <a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
            <div class="aui-address-cell-bd">登录密码</div>
            <div class="aui-address-cell-ft sred">修改</div>
        </a>
        <a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
            <div class="aui-address-cell-bd">绑定邮箱</div>
            <div class="aui-address-cell-ft sred">修改</div>
        </a>
        <a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
            <div class="aui-address-cell-bd">绑定手机</div>
            <div class="aui-address-cell-ft sred">修改</div>
        </a>
        <a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
            <div class="aui-address-cell-bd">设置安全密码</div>
            <div class="aui-address-cell-ft sred">修改</div>
        </a>
        <a href="{:\\think\\Url::build(\'Address/index\')}" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear" >
            <div class="aui-address-cell-bd">我的收货地址</div>
            <div class="aui-address-cell-ft sred"></div>
        </a>
        <a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
            <div class="aui-address-cell-bd">注销账户<span class="f10 ml10">注销后账户无法恢复，请谨慎操作</span></div>
            <div class="aui-address-cell-ft grey">修改</div>
        </a>
    </div>
</section>
</body>
</html>