<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="订单id" name="order_id" value="{$Request.param.order_id}" >
    <div class="select-box" style="width:250px">
        <select name="order_status" class="select">
            <option value="">--请选择订单状态--</option>
            <option value="0">未支付</option>
            <option value="1">待发货</option>
            <option value="2">待收货</option>
            <option value="3">待退款</option>
            <option value="4">待评价</option>
        </select>
    </div>
    <input type="text" class="input-text Wdate" style="width:250px" placeholder="下单开始时间" name="create_time_start" value="{$Request.param.addtime}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >
    <input type="text" class="input-text Wdate" style="width:250px" placeholder="下单结束时间" name="create_time_end" value="{$Request.param.addtime}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >
    <div class="select-box" style="width:250px">
        <select name="pay_status" class="select">
            <option value=""></option>
        </select>
    </div>
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>