<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.order_id|high_light=$Request.param.order_id}</td>
<td>{php}
    $vo['buy_list'] =json_decode($vo['buy_list'],true);
    $orderGoods = \think\Db::name('order_goods')->where(['order_id'=>$vo['order_id']])->select();
    #var_dump($orderGoods);die;
    $isSendCN =[
    '未发货','已发货','待评价','退款中','退款完成','待回复','完成','退货退款'
    ];
    if(!empty($orderGoods)){
        foreach($orderGoods  as $key=> $goodsval ){

            $vo['buy_list'][$key]['is_send'] = $isSendCN[$goodsval['is_send']]?$isSendCN[$goodsval['is_send']]:'';
            $goodsval['goods_detail'] = json_decode($goodsval['goods_detail'],true);
            echo  $goodsval['goods_detail']['name']."<br/>";
            echo "<span style='color: darkorange'>".$orderGoods[$key]['real_pay_price'].'</span>元'.
                '+<span style="color: darkgoldenrod">'.($orderGoods[$key]['real_pay_score']?$orderGoods[$key]['real_pay_score']:0).'</span>积分<br/>';
            $isSend =  $vo['buy_list'][$key]['is_send'];
            echo $vo['buy_list'][$key]['sku_val']?$vo['buy_list'][$key]['sku_val']."X":'';
            echo $vo['buy_list'][$key]['num']? $vo['buy_list'][$key]['num']."<br/>":'';
            echo "<a href='javascript:;' class='btn' style='color: orangered' >".$isSend."</a><br/>";
        }
    }
    {/php}</td>
<!--<td>{$vo.total_price}</td>-->
<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
{php}   if($_SESSION['think']['auth_id']==1){ {/php}
<td><?php
       $user = \think\Db::name('admin_user')->where(['id'=>$vo['user_id']])->find();
    echo $user['account']."&nbsp;&nbsp;&nbsp;&nbsp;".$user['realname'];
?></td>
{php} } {/php}
<td>{$vo.customer_name}</td>
<td><?php $address = json_decode($vo['address_detail'],true);
    echo $address['name'];
    echo $address['mobile'];
    echo '<br/>';
    echo $address['address'],$address['street'];
    ?></td>
<td>{php}
    #0未支付1已支付2待评价，3待回复，5部分退款，6全部退款，7取消订单，8订单完成
    if( $vo['order_status']=='0'){
        echo '未支付';
    }else if($vo['order_status']=='1'){
        echo '已支付';
    }else if($vo['order_status']=='7'){
        echo '取消订单';
    }else if($vo['order_status']=='8'){
        echo '订单完成';
    }
    {/php}
</td>
<td>{php}if($vo['pay_status'])echo '已支付' ;else echo '未支付';{/php}</td>
