{include file="Public/header-resource"}
<body class="title-top footer-boottom">
<style>
    .dropload-down{display: none}
</style>
{include file="Public/header-title"}
    <div id="dataListWrap" class="address-list">
        <div id="dataList">
            <!--<ul class="">
                <li class="selected-icon no-selected-icon" onclick="editDefaultAddr()"></li>
                <li class="bold user">李梦瑶 189****5442</li>
                <li>
                    <span class="tag">李梦瑶 贵州</span>
                    贵州贵阳市云岩区城区云岩区 中华北路 永乐路 永乐花园
                </li>
                <li>
                    <a href=""><i class="layui-icon opt-btn edit"></i></a>
                  &lt;!&ndash;  <a  onclick="addAddress()" class="edit"></a>&ndash;&gt;
                    <a href="javascript:;"><i class="layui-icon opt-btn dele"></i></a>
                </li>
            </ul>-->
        </div>
    </div>
    <div class="footer-fixed btn-wrap">
        <button onclick="addAddress()" class="btn-dark-red w100p bootstrap-btn">新增收货地址</button>
    </div>
<script>
    var url ={
        add:"{:url('address/edit')}",
        dele:"{:url('address/delete')}",
        list:"{:url('address/index')}",
        editDefaultAddr:"{:url('address/setDefault')}",
    }
  getListData()
  function dealData(data) {
      var html='';
      for(var i = 0; i < data.length; i++){
          console.log(data[i])
          html +='<ul class="no-selected-icon">';
          if(data[i].status ==1){  //1表示默认选中地址
              html +=' <li class="selected-icon no-selected-icon" onclick="req_opt(1,'+data[i].id+')"></li>';
          }else{

              html +=' <li class="no-selected-icon" onclick="req_opt(1,'+data[i].id+')"></li>';
          }
          html +='    <li class="bold user">'+data[i].name+"  "+data[i].mobile+'</li>';
          html +='    <li>'+data[i].address+data[i].street+'</li>';
          html +='    <li>';
          html +='      <a href='+urlConnect("{:url('address/edit')}",{id:data[i].id})+'><i class="layui-icon opt-btn edit"></i></a>';
          html +='      <a href="javascript:;" onclick="req_opt(0,'+data[i].id+')"><i class="layui-icon opt-btn dele"></i></a>';
          html +='    </li>';
          html +='</ul>';

      }
      return html;
  }

  function getListData() {
      pageload({
          targetWarp:'dataListWrap',
          target:'dataList',
          page:1,
          size:10,
          ajaxData:{
              url:"{:url('address/index')}",
              data:{},
          },
          dealFun:dealData
      });
  }
  function addAddress() {
      window.location.href = url.add;
  }
  // function editDefaultAddr(){
  //     alert()
  // }

</script>
</body>
</html>