{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <form action="{:url('customer_task/excel')}" target="_blank" method="post">
            <button class="btn btn-success radius" type="submit">导出Excel</button>
        </form>
        <thead>
        <tr class="text-c">
            <th width="">会员用户名</th>
            <th width="">参与时间</th>
            <th width="">活动状态</th>
            <th width="">获得积分</th>
        </tr>
        </thead>
        <tbody>
        {volist name="task" id="task"}
        <tr class="text-c">
            <td>{$task.nickname}</td>
            <td>{$task.time}</td>
            <td>{if condition="$task.status==1"}完成{elseif condition="$task.status==0"/}未完成{/if}</td>
            <td>{$task.reward_score}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

