<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.username}</td>
{php}if($_SESSION['think']['auth_id']==1){{/php}
<td>{php}
        $user = \think\Db::name('admin_user')->where('id',$vo['user_id'])->find();
        echo $user['account']."&nbsp;&nbsp;&nbsp;&nbsp;".$user['realname'];
    {/php}</td>
{php}}{/php}
<td>{$vo.goods_name}</td>
<td>{php} $pic = explode(',',$vo['pic']);
            foreach($pic as $vopic){
                echo "<img src='$vopic' width='50' height='50'>";
            }
    {/php}
</td>
<td>{$vo.content}</td>
<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
<td>{$vo.status|get_status}</td>
<td>{$vo.similarity_score}</td>
<td>{$vo.logistics_score}</td>
<td>{$vo.service_score}</td>
<td>{$vo.avg_score}</td>
<td>{$vo.return_content??'无'}</td>
<td>{php}echo ($vo['return_is']==1)?'已回复':'未回复';{/php}</td>